{% extends 'base.html' %}
{% load static %}
{% block title %}Shiloh | Meus Parceiros{% endblock %}
{% block icon-page %}
metismenu-icon lnr-apartment icon-gradient bg-sunny-morning
{% endblock %}
{% block title-page %}
Página inicial
{% endblock %}
{% block description-page %}
MEUS PARCEIROS{% endblock %}
{% block content %}  

<script src="https://demo.dashboardpack.com/architectui-html-pro/assets/scripts/main.d810cf0ae7f39f28f336.js"></script>
<!-- SCRIPT MODAL-->
<script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.3.1/jquery.maskedinput.min.js"></script>
<script type = "text/javascript" src = "/app-assets/js/jquery.mask.js"></script>


<style type="text/css">

   
.scrollbar-sidebar,
.scrollbar-container {
 position: relative;
 height: 100%
}

.scroll-area {
 overflow-x: hidden;
 height: 400px
}

.scroll-area-xs {
 height: 150px;
 overflow-x: hidden
}

.scroll-area-sm {
 height: 200px;
 overflow-x: hidden
}

.scroll-area-md {
 height: 300px;
 overflow-x: hidden
}

.scroll-area-lg {
 height: 400px;
 overflow-x: hidden
}

.scroll-area-x {
 overflow-x: auto;
 width: 100%;
 max-width: 100%
}

.shadow-overflow {
 position: relative
}

.shadow-overflow::after,
.shadow-overflow::before {
 width: 100%;
 bottom: auto;
 top: 0;
 left: 0;
 height: 1.5rem;
 position: absolute;
 z-index: 10;
 content: '';
 background: linear-gradient(to bottom, #fff 20%, rgba(255, 255, 255, 0) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0)
}

.shadow-overflow::after {
 bottom: 0;
 top: auto;
 background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 80%);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0)
}
</style>


<div id="modal1" class="modal modal-fixed-footer" style="width: 85%; height: 90%;max-height: 85%">
   {% include '../lister/partails/_model_partners.html' %} 
</div>

<div id="modalhistorico" class="modal modal-fixed-footer" style="width: 85%; height: 90%;max-height: 85%">
   {% include '../../manage/listers/partners/partials/_modal_historico.html' %} 
</div>
 
<div class="breadcrumbs-dark pb-0 container" >
   <div class="card" >
      <!-- Externo -->
      <div id="userint" class="row" >
         <div class="col s12 m12" style="padding: 40px;">
            <!-- COMEÇO DA TABLE -->
            <div class="col s12 m12 scroll">
               <table class="bordered pagelengthoption" style="margin-top: 30px; overflow-x: auto">
                  <thead style="background-color: #581848; color: white; font-size: 15px" >
                     <tr>
                        <th data-field="id">Nome</th>
                        <th data-field="id" style="text-align: center; width: 130px;">Perfil</th>
                        <th data-field="id" style="text-align: center; width: 130px;">Data Cadastro</th>
                        <th data-field="id" style="text-align: center; width: 130px;">Status</th>
                        <th data-field="id" style="text-align: center; width: 130px;">Relação</th>
                        <th data-field="name" style="text-align: center; width: 130px;">Ação</th>
                     </tr>
                  </thead>
                  <tbody id="tb_append">
                     {% for k in arr_SearchPartiners %}
                     <tr id="tr_{{ k.id }}">
                        <td>{{ k.nome }} [{{ k.rn }}]</td>
                        <td style="text-align: center;">{{ k.categoria }}</td>
                        <td style="text-align: center;">{{ k.data_cad }}</td>
                        <td style="text-align: center;">{{ k.status }}</td>
                        <td style="text-align: center;">{{ k.company }}</td>
                        <td style="text-align: center;">
                           <div class="col s12 m12">
                              <a id="btn_edit" href="#modal1" class="modal-trigger" data-id_user="{{ k.id }}" onclick="viewUserModal(this)">
                                 <button class="btn mb-1 waves-effect waves-light ativ" type="submit" name="action" style="margin-left: 5px; width: 15px;padding: 1;padding-right: 8px; background-color: #f5be4600; padding-left: 30px;">
                                    <i class="material-icons right" style="color: #f5bd46da">edit</i>
                                 </button> 
                              </a>
                              <a href="#modalhistorico" class="modal-trigger" data-id_user="{{ k.id }}" onclick="viewHistoricoModal(this)">
                                 <button class="btn mb-1 waves-effect waves-light ativ" type="submit" name="action" style="margin-left: 5px; width: 15px;padding: 1;padding-right: 8px; background-color: #f5be4600; padding-left: 30px;">
                                    <i class="material-icons right" style="color: #66a366">remove_red_eye</i>
                                 </button> 
                              </a> 
                           </div>
                        </td>
                     </tr>
                     {% endfor %}
                  </tbody>
               </table>
            </div>
            <!-- FIM DA TABLE -->
         </div>
      </div>
   </div>
</div>


<link href="{% static 'css/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
<script type = "text/javascript" >
   
   var datatableReembolso = $(".pagelengthoption").DataTable({
   "ordering" : true,
   "scrollCollapse" : true,
   "searching" : true,
   "columnDefs" : [{orderable: true, targets: 0 }],
   });
   $(".dropdown-trigger").css("display", "none")


   $(document).ready(function(){ // <<<< execute a seguinte função

   function changeTable() {
      $(".select-wrapper").find("select").hide();
      $(".dataTables_length").css({
            "width": "60px",
            "position": "relative",
      })

      showLoadingPage("close");
   }
   setTimeout(showLoadingPage("show"), 500);
   setTimeout(showLoadingPage("show"), 1000);
   setTimeout(changeTable, 200);
   });


   function padrao() {
      var checkbox_padrao = $("#val_p_fixo").val(); // recebe o valor do input
      if ($("#val_p_fixo_check").is(":checked")) { // se o campo do checkbox estiver checado
         $("#val_p, #val_fixo").attr("disabled", true) // desabilita os campos inputs
         $("#val_p_check, #val_fixo_check").attr('disabled', true); // desabilita os campos checkbox
         $("#val_p_fixo").val("R$ 400,00"); // atribui valor fixo padrao
         $("#val_p, #val_fixo").val(""); // e zera os inputs do outro
      } else {
         $("#val_p, #val_fixo").attr("disabled", false)
         $("#val_p_check, #val_fixo_check").attr('disabled', false);
         $("#val_p, #val_fixo,  #val_p_fixo").val("");
      }
   }

function porcentagem() {
   var checkbox_porcentagem = $("#val_p").val();

   if ($("#val_p_check").is(":checked")) {
      $("#val_fixo").attr("disabled", true)
      $("#val_p_fixo_check, #val_fixo_check").attr('disabled', true);
      $("#val_fixo,  #val_p_fixo").val("");

   } else {
      $("#val_fixo").attr("disabled", false)
      $("#val_p_fixo_check, #val_fixo_check").attr('disabled', false);
      $("#val_p, #val_fixo").val("");
   }
}

function fixo() {
   var checkbox_fixo = $("#val_fixo").val();

   if ($("#val_fixo_check").is(":checked")) {
      $("#val_p ").attr('disabled', true);
      $("#val_p_fixo_check, #val_p_check").attr("disabled", true)
      $("#val_p, #val_p_fixo").val("");

   } else {
      $("#val_p ").attr('disabled', false);
      $("#val_p_fixo_check, #val_p_check").attr("disabled", false)
      $("#val_p, #val_fixo").val("");
   }
}

function SelectShow() {
   var show = document.getElementById("categoria").value;
   $("#btn_atualizar").attr("disabled", true);

   if (show == '') {
      alert("Por favor, preencha um tipo de Categoria")
   } else {
      $("#btn_atualizar").attr("disabled", false);
   }
}

$("#tel1").mask("(99) 99999-9999");
$("#tel2").mask("(99) 99999-9999");
$("#zipcode").mask("99999-999");
$("#val_fixo").mask('#.##0,00', {
   reverse: true
});
$("#val_p").mask('99%', {
   reverse: true
});

// CEP 
function pesquisacep(valor) {
   var cep = valor.replace(/\D/g, '');

   if (cep != "") {
      var validacep = /^[0-9]{8}$/;
      if (validacep.test(cep)) {
         var end_addres = $("#addres").val("...");
         var end_district = $("#district").val("...");
         var end_city = $("#city").val("...");
         var end_state = $("#uf").val("...");
         var script = document.createElement('script');

         script.src = 'https://viacep.com.br/ws/' + cep + '/json/?callback=bsccep';
         document.body.appendChild(script);
      } else {
         limocamp();
         alert("Formato de CEP inválido.");
      }
   } else {
      limocamp();
   }
};

function bsccep(val) {
   if (!("erro" in val)) {
      var end_addres = $("#addres").val(val.logradouro);
      var end_district = $("#district").val(val.bairro);
      var end_city = $("#city").val(val.localidade);
      var end_state = $("#uf").val(val.uf);
   } else {
      limocamp();
      alert("CEP não encontrado no CORREIOS. Entre no site: https://www.correios.com.br/ e pesquise um cep válido.");
   }
}

function limocamp() {
   var end_zipcode = $("#zipcode").val("");
   var end_addres = $("#addres").val("");
   var end_number = $("#number").val("");
   var end_district = $("#district").val("");
   var end_city = $("#city").val("");
   var end_state = $("#uf").val("");
}


$(document).ready(function () {
   $('.modal').modal();
   $('.modal').css({
      "width": "80%",
   });
});


function viewUserModal(object) { //FUNCTION DO ONCLICK
   //para ter o data, precisa conter os seguintes parametros: elemento, key, value
   var id_user = $(object).data("id_user");

   var formpost = {
      "csrfmiddlewaretoken": $('input[name="csrfmiddlewaretoken"]').val(),
      "id_user": id_user //DICT COM O VALOR DO ID
   };

   $("#modal2, #modal3").hide();
   $(object).prop("disabled", true);
   fetchRequest("{% url 'ApiViewDataPartnersModalint' %}", "POST", "JSON", formpost, function (re) { // A URL É COMPOSTA PELO NAME DE UMA URL
      if (re["response"] == false) {
         alert("Nenhum dado encontrado."); // VERIFICA SE A INFO É VÁLIDA, SE NÃO, MESSAGE
      } else { //SE FOR VERDADDEIRA, PROSSEGUE
         $("#modal2, #modal3").show();
         var key = re["message"]; // NO DECORATOR, A MENSAGEM RETORNA O VALOR DO DICT, NESSE CASO É DECLARADO EM UM DICT: "id_campo" : key[valor-do-grupo][valor-do-key]
         var dictKeys = {
            "name": key["personal"]["name"],
            "rn": key["personal"]["rn"],
            "categoria": key["personal"]["categoria"],

            "email": key["contacts"]["email"],
            "tel1": key["contacts"]["phone"],
            "tel2": key["contacts"]["phone_aux"],

            "zipcode": key["address"]["zipcode"],
            "addres": key["address"]["street"],
            "number": key["address"]["street_number"],
            "complement": key["address"]["complement"],
            "district": key["address"]["district"],
            "city": key["address"]["city"],
            "uf": key["address"]["state"],

            "obs": key["obs"]["obs"],

            "val_p_fixo": key["finances"]["val_padrao"],
            "val_p": key["finances"]["val_porcentagem"],
            "val_fixo": key["finances"]["val_fixo"],
            //aqui faz o .map
         }


         $.map(dictKeys, function (n, i) { // map é usado para traduzir ou mapear os elementos de um array para outro conjunto de valores
            $(`#${i}`).val(n);
            var findLabel = $(`#${i}`).closest("div");
            $(findLabel).find("label").attr("class", "active");
            if (i == "categoria") { // colocar o nome da categoria id 
               var valueObject = $("#categoria option:selected").text();
               $("input[class='select-dropdown dropdown-trigger']").val(valueObject);
               $('li[class="selected"]').attr("class", "");
               var findObject = $(`span:contains(${valueObject})`).closest("li");
               $(findObject).attr("class", "selected");
            }

         });
         $("#btn_atualizar").data("id_user", id_user);
         $("#btn_cadastrar").data("id_user", id_user);
         $("#btn_cancel").data("id_user", id_user);


         
         var lab = key["obs"];
         var lab_Company = lab["company"];

         if(lab_Company == 2){
         $('#lab_movel').prop('checked' , true);
         $('#shiloh_lab').prop('checked' , false);
         }else{ 
         $('#shiloh_lab').prop('checked' ,true);
         $('#lab_movel').prop('checked' , false);

         } 

         var status = key["obs"];
         var status_partners = status["status"];

         if (status_partners == "Ativo") {
            $("#btn_cancel").hide();
            $("#btn_cadastrar").hide();
         } else {
            $("#btn_cancel").show();
            $("#btn_cadastrar").show();
         }

         
         var val_p_fixo = $("#val_p_fixo").val();
         var checkbox_porcentagem = $("#val_p").val();
         var checkbox_fixo = $("#val_fixo").val();

         if (val_p_fixo != "") {

            $('input').filter('#val_p_fixo_check, #val_p_check, #val_fixo_check').prop('checked', false).attr("disabled", false); // tira o check
            $('input').filter('#val_p_fixo_check').prop('checked', true); // coloca o input checado
            $("#val_p_check, #val_fixo_check").attr("disabled", true) //desabilita o campo
         
         } else if (checkbox_porcentagem != "") {

            $('input').filter('#val_p_fixo_check, #val_p_check, #val_fixo_check').prop('checked', false).attr("disabled", false); // tira o check
            $('input').filter('#val_p_check').prop('checked', true); // coloca o input checado
            $("#val_p_fixo_check, #val_fixo_check").attr("disabled", true) //desabilita o campo
         } else if (checkbox_fixo != "") {

            $('input').filter('#val_p_fixo_check, #val_p_check, #val_fixo_check').prop('checked', false).attr("disabled", false); // tira o check
            $('input').filter('#val_fixo_check').prop('checked', true); // coloca o input checado
            $("#val_p_fixo_check, #val_p_check").attr("disabled", true) //desabilita o campo
         } else {
            $('input').filter('#val_p_fixo_check, #val_p_check, #val_fixo_check').prop('checked', false).attr("disabled", false); // tira o check
            $("#val_p_fixo_check, #val_p_check, #val_fixo_check").attr("disabled", false) //desabilita o campo

         }


      }


   });
}


function changeStatusUser(object) {
   var id_user = $(object).data("id_user"); //objeto usuario que compoe um data-id_user
   var formpost = {
      "csrfmiddlewaretoken": $('input[name="csrfmiddlewaretoken"]').val(),
      "id_user": id_user //DICT COM O VALOR DO ID
   };

   fetchRequest("{% url 'ApiChangeStatus' %}", "POST", "JSON", formpost, function (re) { // A URL É COMPOSTA PELO NAME DE UMA URL
      if (re["response"] == false) {
         alert("Nenhum dado encontrado."); // VERIFICA SE A INFO É VÁLIDA, SE NÃO, MESSAGE
      } else { //SE FOR VERDADDEIRA, PROSSEGUE
         var key = re["message"]; // NO DECORATOR, A MENSAGEM RETORNA O VALOR DO DICT, NESSE CASO É DECLARADO EM UM DICT: "id_campo" : key[valor-do-grupo][valor-do-key]
         $(`#tr_${id_user} > td`).eq(4).text(key["status"]);
         $(`#btn_status_${id_user}`).css("background-color", key["btn_status"])

      }
   });
}

function updatePartnersModal(object) {

   var shiloh = $("#shiloh_lab").prop("checked")
   var movel = $("#lab_movel").prop("checked")

   if (shiloh){
      empresa = shiloh = $("#shiloh_lab").val()
   }else{
      empresa = movel = $("#lab_movel").val()
   }

   //validação do financeiro
   var val_p_fixo = $("#val_p_fixo").val();
   var checkbox_porcentagem = $("#val_p").val();
   var checkbox_fixo = $("#val_fixo").val();

   if (val_p_fixo == "" && checkbox_porcentagem == "" && checkbox_fixo == "") {
      alert("Por favor, insira um valor válido ao Financeiro.")
      return false

   } else {

      $("#btn_atualizar").attr("disabled", true);

      var id_user = $(object).data("id_user"); //objeto usuario que compoe um data-id_user
      var padrao = $("#val_p_fixo").val();
      var porcentagem = $("#val_p").val();
      var fixo = $("#val_fixo").val();

      var formpost = {
         "csrfmiddlewaretoken": $('input[name="csrfmiddlewaretoken"]').val(),
         "id_user": id_user,
         "padrao": padrao,
         "porcentagem": porcentagem,
         "fixo": fixo,
         "empresa": empresa
      };

      $("#modalint input, #modalint select").each(function () { // PROCURA O QUE ESTÁ PREENCHIDO E SELECIONADO E ATRAVER DO FORMPOST PEGA O VALOR E MANDA PARA O BACK
         formpost[$(this).attr("id")] = $(this).val();
      });

      fetchRequest("{% url 'ApiAttPartners' %}", "POST", "JSON", formpost, function (re) { // A URL É COMPOSTA PELO NAME DE UMA URL
         if (re["response"] == false) {
            $("#btn_atualizar").attr("disabled", false);
            alert("Nenhum dado encontrado."); // VERIFICA SE A INFO É VÁLIDA, SE NÃO, MESSAGE
         } else { //SE FOR VERDADDEIRA, PROSSEGUE
            alert(re["message"]);
            location.reload();
         }
      });
   }
}

function CadastrePartners(object) {
   var id_user = $(object).data("id_user");

   //VALIDAÇÃO DE CAMPO NULL  
   var i = 0;
   $("#modalint input[data-required='true'], select[data-required='true']").each(function () {
      if ($(this).val() == "") {
         alert("Preencha os campos obrigatórios.");
         $(this).focus();
         i = 1;
         return false;
      }
   });

   if (i == 1) {
      return false;
   }

   var shiloh = $("#shiloh_lab").prop("checked")
   var movel = $("#lab_movel").prop("checked")

   if (shiloh){
      var empresa = shiloh = $("#shiloh_lab").val()
   }else{
      var empresa = movel = $("#lab_movel").val()
   }

   if (shiloh && shiloh == false){
      alert("Insira a relação correspondente.")
      return false
   }

   //validação do financeiro
   var val_p_fixo = $("#val_p_fixo").val();
   var checkbox_porcentagem = $("#val_p").val();
   var checkbox_fixo = $("#val_fixo").val();

   if (val_p_fixo == "" && checkbox_porcentagem == "" && checkbox_fixo == "") {
      alert("Por favor, insira um valor válido ao Financeiro.")
      return false

   } else {

      var id_user = $(object).data("id_user");
      var val_p_fixo = $("#val_p_fixo").val();
      var checkbox_porcentagem = $("#val_p").val();
      var checkbox_fixo = $("#val_fixo").val();

      var btncadastrar = {
         "csrfmiddlewaretoken": $('input[name="csrfmiddlewaretoken"]').val(),
         "categoria": $('#categoria').val(),
         "name": $('#name').val(),
         "email": $('#email').val(),
         "tel1": $('#tel1').val(),
         "tel2": $('#tel2').val(),
         "zipcode": $('#zipcode').val(),
         "addres": $('#addres').val(),
         "number": $('#number').val(),
         "complement": $('#complement').val(),
         "district": $('#district').val(),
         "city": $('#city').val(),
         "uf": $('#uf').val(),
         "rn": $('#rn').val(),
         "categoria": $('#categoria').val(),
         "obs": $('#obs').val(),
         "padrao": val_p_fixo,
         "porcentagem": checkbox_porcentagem,
         "fixo": checkbox_fixo, 
         "id_user": id_user,
         "empresa": empresa,

      };
 

      fetchRequest("{% url 'ApiCadastrePartners' %}", "POST", "JSON", btncadastrar, function (re) {
         if (re["response"] == "true") {
            alert(re["message"]);
            $("#btn_cadastrar").attr("disabled", true);
            location.reload();
         } else {
            return false
         }
      });
   }
};


function CancelPrePartners(object) {
   var id_user = $(object).data("id_user");

   var btncadastrar = {
      "csrfmiddlewaretoken": $('input[name="csrfmiddlewaretoken"]').val(),
      "id_user": id_user,
   };

   fetchRequest("{% url 'PrePartnerCancel' %}", "POST", "JSON", btncadastrar, function (re) {
      if (re["response"] == "true") {
         alert(re["message"]);
         $("#btn_cadastrar").attr("disabled", true);
         location.reload();
      } else {
         return false
      }
   });

}


function viewHistoricoModal(object){//FUNCTION DO ONCLICK PARA VER ARQUIVOS
   var id_partners = $(object).data("id_user"); //objeto usuario que compoe um data-id_user
   var formpost = {
      "csrfmiddlewaretoken": $('input[name="csrfmiddlewaretoken"]').val(),
      "id_partners": id_partners //DICT COM O VALOR DO ID
   }; 
   $("#modalhistorico2").hide();
   $(object).prop("disabled", true);

   fetchRequest("{% url 'ApiHistoryPartners' %}", "POST", "JSON", formpost, function(re) {
      $("#modalhistorico2").show();
      if(re["response"] == true){
         var dados = re["message"];
         var historico_append = "";
            $.map(dados, function(n, i){
               historico_append += `
               <li class="timeline-items timeline-icon-green active ">
                  <div id="data_f" class="timeline-time">${n.data}</div>
                  <h4 id="name_u" class="timeline-title">${n.acao}</h4>
                  <p id="action_f" class="timeline-text">${n.descricao}</p>
               </li>
            `;
         }); 
            $("#historico_app").html(historico_append);
      } else {         
         $("#historico_app").html('');
         var appende = ` 
            <li class="timeline-items timeline-icon-red active ">
               <div id="data_f" class="timeline-time"></div>
               <h4 id="name_u" class="timeline-title">Nenhum registro encontrado.</h4>
               <p id="action_f" class="timeline-text">Informação do sistema.</p>
            </li>
         `
         $("#historico_app").append(appende);
      }
   });
}

</script>
{% endblock %}