{% extends 'base.html' %}
{% load static %}
{% block title %}Shiloh | Ajustar Rota{% endblock %}
{% block icon-page %}
metismenu-icon lnr-apartment icon-gradient bg-sunny-morning
{% endblock %}
{% block title-page %}
Cadastrar Convênio{% endblock %}
{% block description-page %}
ROTA{% endblock %}
{% block content %}

<style type="text/css">
   .corfont{
   color: #641108;
   font-weight: bold;
   }

   .btn2 {
      margin-left: 5px;
      width: 15px;
      padding: 1;
      padding-right: 8px;
      background-color: #76c076da;
   }

   .btn3 {
      margin-left: 5px;
      width: 15px;
      padding: 1;
      padding-right: 8px;
      background-color: #7f6bc5da;
   }
</style>

<div class="breadcrumbs-dark pb-0" id="breadcrumbs-wrapper">
<div class="container">
   <div class="card" >
         <!-- Externo -->
      <div id="userint" class="row" >
        <div class="col s12 m12"  style="margin-top: 30px; margin-bottom: 30px;">
          <div class="input-field col s12 m9">
             <input id="convenio" type="text" >
             <label for="convenio">
             <i class="material-icons" style="font-size: 15px">assignment</i>&nbsp;Nome Do Convênio</label>
          </div>
          <div class="input-field col s12 m3">
            <div class="col s12 m12 mb-2">
               <button onclick="CadastrePartners()"id="btn_cadastrar" class="waves-effect waves dark btn next-step" type="submit" style="width: 100%; margin-top: 10px">
               <span style="font-weight: bold; color: white; font-family:Verdana, Geneva, Tahoma, sans-serif">Cadastrar</spanpx>
               </button>
            </div>
          </div>

   <!-- COMEÇO DA TABLE -->
         <div class="col s12 m12">
            <table class="bordered" style="margin-top: 40px; overflow-x: auto">
              <thead style="background-color: #581848; color: white; font-size: 15px" >
                <tr>
                  <th data-field="id" >Nome Convênio</th>
                  <th data-field="name" style="width: 80px;">Ação</th>
                </tr>
              </thead>
              <tbody id="tb_append">
                 {% for k in arr_SearchConvenio %}
                <tr>
                  <td>{{ k.nome_conv }}</td>
                  <td>
                      <button id="btn_status_{{ k.id }}" onclick="changeStatusConvenio(this)" data-id_convenio="{{ k.id }}" class="btn mb-1 waves-effect " type="button" name="action" style=" margin-left: 5px; width: 15px;padding: 1;padding-right: 8px; background-color: {{ k.btn_status }};">
                        <i class="material-icons right">check</i>
                      </button>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <!-- FIM DA TABLE -->
      </div>
      
   </div>
   </div>
</div>
</div>


<script>
function CadastrePartners(){
   if(document.getElementById("convenio").value == ''){
      alert('Por favor, preencha o Nome do Convênio')
         txt = 'convenio';
         return false;
      }

   var convenio = $("#convenio").val();

   var btncadastrar = {"csrfmiddlewaretoken": $('input[name="csrfmiddlewaretoken"]').val(), 
            "convenio": convenio, 
      };

      fetchRequest("{% url 'ApiCadastreConvenio' %}", "POST", "JSON", btncadastrar, function(re){
         if(re["response"] == "true"){
            var addRow = '<tr> <td>' + convenio + '</td> <td> <button id="btn_status_{{ k.id }}" \onclick="changeStatusConvenio(this)"\ data-id_convenio="{{ k.id }}" class="btn mb-1 waves-effect " type="button" name="action" style=" margin-left: 5px; width: 15px;padding: 1;padding-right: 8px; background-color: {{ k.btn_status }};"> <i class="material-icons right">check</i> </button> </td>'
               $("#tb_append").append(addRow);
            }
            alert(re["message"]);

      });
      var limpa = $("#convenio").val("");
}


function changeStatusConvenio(object){
   var id_convenio = $(object).data("id_convenio"); //objeto usuario que compoe um data-id_convenio
   var formpost = {
      "csrfmiddlewaretoken": $('input[name="csrfmiddlewaretoken"]').val(),
      "id_convenio": id_convenio //DICT COM O VALOR DO ID
   };
         
   fetchRequest("{% url 'ApiChangeStatusConvenio' %}", "POST", "JSON", formpost, function(re){ // A URL É COMPOSTA PELO NAME DE UMA URL
      if(re["response"] == false){ 
         alert("Nenhum dado encontrado.");// VERIFICA SE A INFO É VÁLIDA, SE NÃO, MESSAGE
      } else { //SE FOR VERDADDEIRA, PROSSEGUE
         var key = re["message"]; // NO DECORATOR, A MENSAGEM RETORNA O VALOR DO DICT, NESSE CASO É DECLARADO EM UM DICT: "id_campo" : key[valor-do-grupo][valor-do-key]
         $(`#btn_status_${id_convenio}`).css("background-color", key["btn_status"]
         )
         
      }
   });
}
</script>
{% endblock %}