{% extends 'base.html' %}
{% load static %}
{% block title %}Shiloh | Exames Concluídos{% endblock %}
{% block icon-page %}
metismenu-icon lnr-apartment icon-gradient bg-sunny-morning
{% endblock %}
{% block title-page %}
Página inicial
{% endblock %}
{% block description-page %}
Acompanhe as últimas notícias!
{% endblock %}
{% block content %}
<style type="text/css">
   .corfont{
   color: #641108;
   font-weight: bold;
   }

</style>
<!-- INICIO DO MODAL -->
<div id="modal1" class="modal modal-fixed-footer" style="width: 85%; height: 90%;max-height: 85%">
   <div class="modal-content" id="modal2">
       <div class="card-content" style="margin-top: 50px;">
           <!--  <input readonly="readonly" style="color: black; font-size: 30px; border-bottom: none;" id="statusM" type="text" >
           -->
           <a id="btn_card_coleta" class="btn btn-floating pulse tooltipped " data-tooltip="Informações da coleta" data-position="right" style="background-color: #581848;"><i class="material-icons">menu</i></a>
            <div id="card_coleta" class="container scale-transition" style="display: none;">
                <ul class="collapsible  expandable">
                    <li class="">
                        <div class="collapsible-header col s12" style=" justify-content: center; height: 50px; background-color: #76c076da; color: white;">
                            <labe style="margin-top: 0.5em; font-size: 20px; font-weight: bold;">DADOS DO AGENDAMENTO</labe>
                        </div>
                        <div id="card_ag" class="row">
                            <div class="col s12" style="margin-top: 10px;">
                                <div class="input-field col s3 ">
                                    <input readonly="readonly" style="color: black;" id="date_age" type="date">
                                    <label for="date_age">Data Agendamento</label>
                                </div>
                                <div class="input-field col s3">
                                    <input readonly="readonly" style="color: black;" id="hr_age" type="text" placeholder="00:00">
                                    <label for="hr_age">
                                        <i class="material-icons" style="font-size: 15px">access_time</i>&nbsp;Horário</label>
                                </div>
                                <div class="input-field col s3">
                                    <input readonly="readonly" style="color: black;" id="tp_service" type="tel" />
                                    <label for="tp_service" class="active">
                                        <i class="material-icons" style="font-size: 15px">phone</i>&nbsp;Tipo de Serviço
                                    </label>
                                </div>
                                <div class="input-field col s3">
                                    <input readonly="readonly" style="color: black;" id="tp_exame" type="tel">
                                    <label for="tp_exame" class="active">
                                        <i class="material-icons" style="font-size: 15px">phone</i>&nbsp;Tipo do Exame </label>
                                </div>
                            </div>
                            <div class="input-field col s12">
                                <div class="input-field col s3">
                                    <input readonly="readonly" style="color: black;" id="tp_conv" type="tel">
                                    <label for="tp_conv" class="active">
                                        <i class="material-icons" style="font-size: 15px">phone</i>&nbsp;Convênio </label>
                                </div>
                                <div class="input-field col s3">
                                    <input readonly="readonly" style="color: black;" id="nurse" type="tel">
                                    <label for="nurse" class="active">
                                        <i class="material-icons" style="font-size: 15px">phone</i>Enfermeiro </label>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!--CARD 2-->
                    <li class="" style="margin-top: 30px;">
                        <div class="collapsible-header col s12" style=" justify-content: center; height: 50px; background-color: #76c076da; color: white;">
                            <labe style="margin-top: 0.5em; font-size: 20px; font-weight: bold;">PACIENTE</labe>
                        </div>
                        <div id="userint" class="row">
                            <div class="col s12" style="margin-top: 10px;">
                                <div class="input-field col s6">
                                    <input readonly="readonly" id="namePaciente" type="tel" style="color: black;">
                                    <label for="namePaciente" class="active">
                                        <i class="material-icons" style="font-size: 15px">phone</i>Nome do Paciente </label>
                                </div>
                                <div class="input-field col s3">
                                    <input readonly="readonly" style="color: black;" id="tel1" type="tel">
                                    <label for="tel1">
                                        <i class="material-icons" style="font-size: 15px">phone</i>&nbsp;Telefone 1</label>
                                </div>
                                <div class="input-field col s3">
                                    <input readonly="readonly" style="color: black;" id="tel2" type="tel">
                                    <label for="tel2">
                                        <i class="material-icons" style="font-size: 15px">phone</i>&nbsp;Telefone 2</label>
                                </div>
                                <div class="input-field col s3">
                                    <input readonly="readonly" style="color: black;" id="resp_comercial" type="tel">
                                    <label for="resp_comercial">
                                        <i class="material-icons" style="font-size: 15px">person</i>&nbsp;Comercial </label>
                                </div>
                                <div class="input-field col s3">
                                    <input readonly="readonly" style="color: black;" id="doctor" type="text">
                                    <label for="doctor">
                                        <i class="material-icons" style="font-size: 15px">person</i>&nbsp;Médico </label>
                                </div>
                                <div class="input-field col s3">
                                    <input readonly="readonly" style="color: black;" id="attendance" type="text">
                                    <label for="attendance">
                                        <i class="material-icons" style="font-size: 15px">person</i>&nbsp;Atendimento </label>
                                </div>
                                <div class="input-field col s3">
                                <input readonly="readonly" style="color: black;" id="company" type="text">
                                <label for="company">
                                    <i class="material-icons" style="font-size: 15px">label_outline</i>&nbsp;Relação</label>
                            </div>
                            </div>
                        </div>
                    </li>
                    <!--CARD 3-->
                    <li class="" style="margin-top: 30px;">
                        <div class="collapsible-header col s12" style=" justify-content: center; height: 50px; background-color: #76c076da; color: white;">
                            <labe style="margin-top: 0.5em; font-size: 20px; font-weight: bold;">ENDEREÇO</labe>
                        </div>
                        <div id="userint" class="row">
                            <div class="col s12" style="margin-top: 10px;">
                                <div class="input-field col s3">
                                    <input readonly="readonly" style="color: black;" id="zipcode" type="text" maxlength="9" onblur="pesquisacep(this.value)">
                                    <label for="zipcode">
                                        <i class="material-icons" style="font-size: 15px">place</i>&nbsp;CEP </label>
                                </div>
                                <div class="input-field col s7">
                                    <input readonly="readonly" style="color: black;" id="addres" type="text">
                                    <label for="addres">Logradouro </label>
                                </div>
                                <div class="input-field col s2">
                                    <input readonly="readonly" style="color: black;" id="number" type="text">
                                    <label for="number">Número </label>
                                </div>
                            </div>
                            <div class="col s12">
                                <div class="input-field col s3">
                                    <input readonly="readonly" style="color: black;" id="complement" type="text">
                                    <label for="complement">Complemento</label>
                                </div>
                                <div class="input-field col s5">
                                    <input readonly="readonly" style="color: black;" id="district" type="text">
                                    <label for="district">Bairro</label>
                                </div>
                                <div class="input-field col s2">
                                    <input readonly="readonly" style="color: black;" id="city" type="text">
                                    <label for="city">Cidade</label>
                                </div>
                                <div class="input-field col s2">
                                    <input readonly="readonly" style="color: black;" id="uf" type="text" maxlength="2">
                                    <label for="uf">UF</label>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="" style="margin-top: 30px;">
                    <div class="collapsible-header col s12" style=" justify-content: center; height: 50px; background-color: #76c076da; color: white;">
                        <labe style="margin-top: 0.5em; font-size: 20px; font-weight: bold;">OBSERVAÇÕES</labe>
                    </div>
                    <div class="row">
                        <div class="col s12">
                        <div class="col s12" style="margin-top: 15px;">
                            <i class="material-icons" style="font-size: 15px"></i>&nbsp;Acesso para o Convênio:
                        </div>
                        <div class="input-field col s3">
                            <input readonly="readonly" style="color: black;" id="login" type="text">
                            <label for="login" class=""> 
                            <i class="material-icons" style="font-size: 15px">person_outline</i>&nbsp;Login</label>
                        </div>
                        <div class="input-field col s5">
                            <input readonly="readonly" style="color: black;" id="senha" type="text">
                            <label for="senha" class="active"> 
                            <i class="material-icons" style="font-size: 15px">lock_outline</i>&nbsp;Senha</label>
                        </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12" style="margin-top: 10px;">
                            <div class="input-field col s12">
                                <input readonly="readonly" style="color: black;" id="obs" type="text">
                                <label for="obs">
                                    <i class="material-icons" style="font-size: 15px">create</i>&nbsp;Observação</label>
                            </div>
                        </div>
                    </div>
                </li>
                </ul>
            </div>
           <div class="row">
               <div class="col s11 mt-2 ml-4">
                   <button id="btn_start" data-id_user="" onclick="ShowFinance(this)" class="waves-effect waves dark btn next-step" type="submit" style="width: 100%; margin-top: 10px; background-color: #581848;">
                       <span style="font-weight: bold; color: white; font-family:Verdana, Geneva, Tahoma, sans-serif">Iniciar</spanpx>
                   </button>
               </div>
           </div>
           <div class="container" id="card_finance" style="display: none;">
               <ul class="collapsible expandable ">
                   <li class="active" id="cardFinance">
                       <div class="collapsible-header col s12" style=" justify-content: center; height: 50px; background-color: #581848; color: white;">
                           <labe style="margin-top: 0.5em; font-size: 20px; font-weight: bold;">FINANCEIRO</labe>
                       </div>
                       <div class="row">
                           <div class="col s12" style="margin-top: 10px;">
                               <div class="input-field col s3">
                                   <input readonly="readonly" style="color: black;" id="date_first" type="text" data-required='true'>
                                   <label for="date_first">Inicio do Processo</label>
                               </div>
                               <div class="input-field col s3">
                                   <input readonly="readonly" style="color: black;" id="date_end" type="text">
                                   <label for="date_end">Fim do processo</label>
                               </div>
                               <div class="input-field col s3">
                                   <div class="select-wrapper">
                                       <select class="error" name="select" id="statusProgresso" required="true" data-required='true'>
                                           <option value="">Status do Processo</option>
                                           {% for k in arr_SearchStratusProgress %}
                                           <option value="{{ k.id }}">{{ k.status }}</option>
                                           {% endfor %}
                                       </select>
                                   </div>
                               </div>
                           </div> 
                       </div>
                       <div class="row">
                           <div class="col s12" style="margin-top: 10px;">
                               <div class="input-field col s3">
                                   <input id="cust_alv" type="tel" placeholder="R$" data-required='true'>
                                   <label for="cust_alv">
                                       <i class="material-icons" style="font-size: 15px">attach_money</i>&nbsp;Custo Alvaro</label>
                               </div>
                               <div class="input-field col s3">
                                   <input id="val_w_lab" type="tel" placeholder="R$" onkeyup="CalVal(this);" onblur="CalVal(this)"  data-required='true'>
                                   <label for="val_w_lab">
                                       <i class="material-icons" style="font-size: 15px">attach_money</i>&nbsp;Valor WorkLab</label>
                               </div>
                               <div class="input-field col s3">
                                   <input id="val_pago" type="tel" placeholder="R$" onkeyup="CalVal(this)" onblur="CalVal(this)" data-required='true'>
                                   <label for="val_pago">
                                       <i class="material-icons" style="font-size: 15px">attach_money</i>&nbsp;Valor Pago</label>
                               </div>
                               <div class="input-field col s2">
                                   <input readonly="readonly" style="color: black; border-bottom: none;text-align: left; font-size: 20px;" id="porcentagem" type="text" >
                                   <label id="labelporcentagem" for="porcentagem" class="active">
                                       <i class="material-icons" style="font-size: 15px">attach_money</i>&nbsp;Porcentagem paga:
                                   </label>
                               </div>
                           </div>
                       </div>
                       <div class="row">
                           <div class="col s12">
                                <div class="input-field col s3">
                                    <input style="color: black;" id="data_r" type="date" data-required='true'>
                                    <label for="data_r">Data Repasse</label>
                                </div>
                               <div class="input-field col s3">
                                   <input id="n_nf" type="text" data-required='true'>
                                   <label for="n_nf">
                                       <i class="material-icons" style="font-size: 15px">create</i>&nbsp;Nº Nota Fiscal</label>
                               </div>
                           </div>
                       </div>
                   </li>
                   <li class="active" style="margin-top: 30px;">
                       <div class="collapsible-header col s12" style=" justify-content: center; height: 50px; background-color: #581848; color: white;">
                           <labe style="margin-top: 0.5em; font-size: 20px; font-weight: bold;">ANEXOS</labe>
                       </div>
                       <div class="row" id="div_files">
                           <div class="col s12">
                               <div class="col s4 mt-2 ml-3">
                                   <input id="doc_anx" type="file">
                               </div>
                               <div class="input-field col s3">
                                   <div class="select-wrapper">
                                       <select name="select" id="tp_anx" class="error" required="true" data-show="search">
                                           <option value="">Tipo do Anexo</option>
                                           {% for k in arr_SearchTypeAnexo%}
                                           <option value="{{ k.id }}">{{ k.tipo_anexo }}</option>
                                           {% endfor %}
                                       </select>
                                   </div>
                               </div> 
                               <div class="col s2" style="margin-top: 22px">
                                    <button id="anx_file" data-target="#CompanyProfile" class="waves-effect waves dark btn next-step" type="submit" style="width: 100%;background-color: #ffa726; ">
                                        <span style="color: white; font-family:Verdana, Geneva, Tahoma, sans-serif">Anexar</span>
                                    </button>
                                </div>
                           </div>
                       </div>
                       <div class="row">
                           <div class="col s11 ml-4">
                               <table class="bordered" style="margin-top: 20px;">
                                   <thead style="background-color: #581848; color: white; font-size: 15px">
                                       <tr>
                                           <th data-field="id"> Arquivos Anexados</th>
                                           <th data-field="id"> Data e hora</th>
                                           <th data-field="id"> Tipo</th>
                                           <th data-field="name" style="width: 120px;">Ação</th>
                                       </tr>
                                   </thead>
                                   <tbody id="tb_append">
                                   </tbody>
                               </table>
                           </div>
                       </div>
                   </li>
                   <li class="active" style="margin-top: 40px;">
                       <div class="collapsible-header col s12" style=" justify-content: center; height: 50px; background-color: #581848; color: white;">
                           <labe style="margin-top: 0.5em; font-size: 20px; font-weight: bold;">OBSERVAÇÕES</labe>
                       </div>
                       <div class="row">
                           <div class="col s12" style="margin-top: 10px;">
                               <div class="input-field col s12">
                                   <input id="obsF" type="text">
                                   <label for="obsF">
                                       <i class="material-icons" style="font-size: 15px">create</i>&nbsp;Observação</label>
                               </div>
                           </div>
                       </div>
                   </li>
                   <li class="active" style="margin-top: 30px;">
                       <div class="collapsible-header col s12" style=" justify-content: center; height: 50px; background-color: #581848; color: white;">
                           <labe style="margin-top: 0.5em; font-size: 20px; font-weight: bold;">HISTÓRICO</labe>
                       </div>
                       <div class="row">
                           <div class="col s12" style="margin-top: 10px;">
                               <div id="activity" class="col s12 active" style="display: block;">
                                   <div class="activity">
                                       <p class="mt-5 mb-0 ml-5 font-weight-900">Histórico</p>
                                       <ul id="historico" class="widget-timeline mb-0">
                                       </ul>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </li>
                   <div class="col s11 mt-2 ml-4">
                       <button id="btn_end" data-id_user="" onclick="FinalizeProcess(this)" class="waves-effect waves dark btn next-step mb-4" type="submit" style="width: 100%; margin-top: 10px; background-color: #76c076da;">
                           <span style="font-weight: bold; color: white; font-family:Verdana, Geneva, Tahoma, sans-serif">Finalizar</spanpx>
                       </button>
                   </div>
               </ul>
           </div>
       </div>
   </div>
   <div class="modal-footer">
    <!--BUTTON-->
        <div class="col s12 ">
        <div class="col s12 m12 m12">
            <a onclick="UpdateModal(this)" id="btn_salvar" data-target="#CompanyProfile" class="waves-effect waves-light btn mb-1 mr-1">Atualizar</a>      
            <a class="waves-effect waves-light btn mb-1 mr-1 modal-action modal-close waves-effect" style="background-color: #eee"><span style="color:#212529; font-size: 16px; font-weight: bold;">VOLTAR</span></a>
        </div>
        </div>
    </div>
</div>

<div class="breadcrumbs-dark pb-0" id="breadcrumbs-wrapper">
   <!--FIM DO MODAL-->
   <div class="breadcrumbs-dark pb-0" id="breadcrumbs-wrapper">
       <div class="container">
           <div class="card">
               <div class="card-content" style="margin-top: -25px;">
                   <h5 class="corfont">SOLICITAÇÕES DE REEMBOLSO</h5>
               </div>
           </div>
        </div>
        <!--NEW CARD-->
       <div class="row container m-0">
        <div class="col s12 m3">
            <div class="card padding-4 animate fadeLeft">
                <div class="row">
                    <div class="col s12 m12">
                        <h5 class="mb-0">Total</h5>
                        <p class="no-margin">&nbsp;</p>
                        <div class="progress" style="background-color: #ffebee;">
                            <div class="indeterminate" style="background-color: #794c8a !important"></div>
                        </div>
                        <p class="no-margin">&nbsp;</p>
                        
                        <div class="col s5 m5 left-align">
                            <p class="mb-0 pt-8">&nbsp;</p>
                        </div>
                        {% for k in arr_CountAllFinance %}
                        <div class="col s7 m7 right-align">
                            <h4 class="mb-0">{{k.qtd}}</h4>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card padding-4 animate fadeLeft">
                <div class="row">
                    <div class="col s12 m12">
                        <h5 class="mb-0">Pendentes</h5>
                        <p class="no-margin">&nbsp;</p>
                        {% for k in arr_PendingFinance %}
                        <div class="progress" style="background-color: #ffebee;">
                            <div class="determinate" style="background-color: #ffa726!important; width: {{k.progress}};"></div>
                        </div>
                        <p class="no-margin">&nbsp;</p>
                        
                        <div class="col s5 m5 left-align">
                            <p class="mb-0 pt-8">{{k.percentage}}</p>
                        </div>
                        <div class="col s7 m7 right-align">
                            <h4 class="mb-0">{{k.qtd}}</h4>
                        </div>
                        {% endfor %} 
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card padding-4 animate fadeLeft">
                <div class="row">
                    <div class="col s12 m12">
                        <h5 class="mb-0">Andamento / Análise</h5>
                        <p class="no-margin">&nbsp;</p>
                        {% for k in arr_AnalityFinance %}
                        <div class="progress" style="background-color: #ffebee;">
                            <div class="determinate" style="background-color: #00bcd4!important; width: {{k.progress}};"></div>
                        </div>
                        <p class="no-margin">&nbsp;</p>
                        <div class="col s5 m5 left-align">
                            <p class="mb-0 pt-8">{{k.percentage}}</p>
                        </div>
                        <div class="col s7 m7 right-align">
                            <h4 class="mb-0">{{k.qtd}}</h4>
                        </div>
                        {% endfor %} 
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card padding-4 animate fadeLeft">
                <div class="row">
                    <div class="col s12 m12">
                        <h5 class="mb-0">À Finalizar</h5>
                        <p class="no-margin">&nbsp;</p>
                        {% for k in arr_PayFinance %} 
                        <div class="progress" style="background-color: #ffebee;">
                            <div class="determinate" style="background-color: #db5757!important; width: {{k.progress}}; "></div>
                        </div>
                        <p class="no-margin">&nbsp;</p>
                        <div class="col s5 m5 left-align">
                            <p class="mb-0 pt-8">{{k.percentage}}</p>
                        </div>
                        <div class="col s7 m7 right-align">
                            <h4 class="mb-0">{{k.qtd}}</h4>
                        </div>
                        {% endfor %} 
                    </div>
                </div>
            </div>
        </div>
       </div>
        <!--FINISH CARD-->

        <div class="container">
           <div class="card">
               <!-- Externo -->
               <div id="userint" class="row">
                   <div class="col s12" style="margin-top: 30px; margin-bottom: 30px;">
                       <div class="input-field col s12 m3">
                           <input id="cpf" type="text" onkeyup="searchPatients(this)">
                           <label for="cpf">
                               <i class="material-icons" style="font-size: 15px">person</i>&nbsp;Buscar... </label>
                       </div> 
                       <div class="col s12 m4">
                            <div class="input-field col s6 m6">
                                <input  id="data1" type="date">
                                <label for="data1">
                                <i class="material-icons" style="font-size: 15px">date_range</i>&nbsp;Data inicial </label>
                            </div>
                            <div class="input-field col s6 m6">
                                <input  id="data2" type="date">
                                <label for="data2">
                                <i class="material-icons" style="font-size: 15px">date_range</i>&nbsp;Data final </label>
                            </div>
                       </div>
                       <div class="input-field col s12 m3">
                            <div class="select-wrapper">
                                <select class="error" name="select" id="statusProgressoTable" required="true" data-required='true'>
                                    <option value="">Status do Processo</option>
                                    {% for k in arr_SearchStratusProgress %}
                                    <option value="{{ k.status }}">{{ k.status }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                       <div class="col s12 m2">&nbsp;
                           <button id="pesq_agenda" class="waves-effect waves dark btn next-step" type="button" style="width: 100%;">
                               <span style="font-weight: bold; color: white; font-family:Verdana, Geneva, Tahoma, sans-serif">Pesquisar</span>
                           </button>
                       </div>
                   </div>
                    </div>
                   <div  class="row container" >
                       <!-- COMEÇO DA TABLE -->
                       <div class="col s12" style="overflow-x: auto">
                           <table id="page-length-option" class="bordered" style="margin-bottom: 10px;">
                               <thead style="background-color: #581848; color: white; font-size: 15px">
                                   <tr>
                                       <th data-field="id">Paciente</th>
                                       <th data-field="id" style="text-align: center;">Data Coletado</th>
                                       <th data-field="id" style="text-align: center; width: 130px;">Exame</th>
                                       <th data-field="id" style="text-align: center; width: 130px;">Unidade</th>
                                       <th data-field="id" style="text-align: center; width: 130px;">Relação</th>
                                       <th data-field="id" style="text-align: center; width: 130px;">Status Processo</th>
                                       <th data-field="name" style="text-align: center; width: 130px;">Ação</th>
                                   </tr> 
                               </thead> 
                               <tbody id="tb_append2">
                                   {% for k in arr_SearchCompletedExams %}
                                   <tr id="tr_{{ k.id }}">
                                        <td>{{ k.paciente }}</td>
                                        <td style="text-align: center;">{{ k.dataconc }}</td>
                                        <td style="text-align: center;">{{ k.exame }}</td>
                                        <td style="text-align: center;">{{ k.unidade }}</td>
                                        <td style="text-align: center;">{{ k.company }}</td>
                                        <td style="text-align: center;">{{ k.status_p }}</td>
                                       <td style="text-align: center;">
                                           <a href="#modal1" class="modal-trigger" data-id_user="{{ k.id }}" onclick="viewUserModal(this)">
                                               <!-- data-id_user="{{ k.id }}  É TRATADO COMO SE FOSSE UMA VAR DENTRO-->
                                               <button class="btn mb-1 waves-effect waves-light ativ" type="submit" name="action" style="margin-left: 5px; width: 15px;padding: 1;padding-right: 8px; background-color: #f5be4600;">
                                                   <i class="material-icons right" style="color: #f5bd46da">edit</i>
                                               </button>
                                           </a> 
                                           <a data-id_user="{{ k.id }}" onclick="ContratoFile(this)" class="btn tooltipped" data-tooltip="Baixar Termo" data-position="top" style="margin-left: 5px; width: 15px;padding: 1;padding-right: 8px; background-color: #f5be4600;">
                                                <i class="material-icons right" style="color: #66a366">library_books</i>
                                            </a>
                                       </td>
                                   </tr>
                                   {% endfor %}
                               </tbody>
                           </table>
                       </div>
                       <!-- FIM DA TABLE -->
                   </div>
               </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/app-assets/js/jquery.mask.js"></script>
<script type = "text/javascript" >

function ShowFinance(object) {
    var id_user = $(object).data("id_user");
    var statusProgresso = $("#statusProgresso").val();
    var formpost = {
        "csrfmiddlewaretoken": $('input[name="csrfmiddlewaretoken"]').val(),
        "id_user": id_user,//DICT COM O VALOR DO ID
    };
    fetchRequest("{% url 'ApiStartProcess' %}", "POST", "JSON", formpost, function(re) {
        if (re["response"] == "true"){
            var dados = re["dadoss"];
                alert(re["message"]);
                    $("#btn_start").hide();
                    $("#card_finance").show();
                    $("#statusProgresso").val(dados["statusProgresso"]).attr("selected","selected");
                    $("#date_first").val(dados["date_first"]);
                    
        }
    });
}

//FUNCTION BUSCAR
function searchPatients(object) {
    var e = $(object).val().toUpperCase();
    if (e == "") {
        $('#tb_append2 > tr').each(function() {
            $(this).show();
        });
    } else {
        $('#tb_append2 > tr').each(function() {
            var trs = $(this).find("td");
            var tr1 = $(trs[0]).text().toUpperCase();
            var check = (tr1.indexOf(e) != -1);
            if (check == true) {
                $(this).show();
            } else {
                $(this).hide();
            }
        });
    }
}


//CONFIG MODAL
$(document).ready(function() {
    $('.modal').modal();
    $('.modal').css({
        "width": "80%",
    });
});


//ABRIR MODAL PRINCIPAL
function viewUserModal(object) { //FUNCTION DO ONCLICK
    var id_user = $(object).data("id_user"); //objeto usuario que compoe um data-id_user
    $("#btn_salvar").data("id_user", id_user); // para ter o data, precisa conter os seguintes parametros: elemento, key, value
    $("#btn_start").data("id_user", id_user);
    $("#anx_file").data("id_user", id_user);


    var formpost = {
        "csrfmiddlewaretoken": $('input[name="csrfmiddlewaretoken"]').val(),
        "id_user": id_user //DICT COM O VALOR DO ID
    };

    fetchRequest("{% url 'SearchModalExams' %}", "POST", "JSON", formpost, function(re) { // A URL É COMPOSTA PELO NAME DE UMA URL
        if (re["response"]["newiRegis"] == false) {
            alert("Nenhum dado encontrado."); // VERIFICA SE A INFO É VÁLIDA, SE NÃO, MESSAGE
        } else { //SE FOR VERDADDEIRA, PROSSEGUE
            $("#modal2").show();
            var key = re["message"]; // NO DECORATOR, A MENSAGEM RETORNA O VALOR DO DICT, NESSE CASO É DECLARADO EM UM DICT: "id_campo" : key[valor-do-grupo][valor-do-key]
            var dictKeys = { // nome id / nome do grupo/ nome do value
                "statusM": key["obs"]["statusM"],
                "motivo_S": key["obs"]["motivo_status"],
                "date_age": key["agendamento"]["data_agendamento"],
                "hr_age": key["agendamento"]["hr_agendamento"],
                "tp_service": key["agendamento"]["tipo_servico"],
                "tp_exame": key["agendamento"]["tipo_exame"],
                "tp_conv": key["agendamento"]["convenio"],
                "driver": key["agendamento"]["motorista"],
                "doctor": key["agendamento"]["doctor"],
                "nurse": key["agendamento"]["NomeNurse"],
                "resp_comercial": key["agendamento"]["commerce"],
                "id": key["agendamento"]["id"],
                "tel1": key["pessoal"]["phone1"],
                "tel2": key["pessoal"]["phone2"],
                "namePaciente": key["pessoal"]["paciente"],
                "attendance": key["pessoal"]["atendimento"],
                "company": key["pessoal"]["company"],
                "zipcode": key["endereco"]["cep"],
                "addres": key["endereco"]["rua"],
                "number": key["endereco"]["numero"],
                "complement": key["endereco"]["complemento"],
                "district": key["endereco"]["bairro"],
                "city": key["endereco"]["cidade"],
                "uf": key["endereco"]["uf"],
                "obs": key["obs"]["obs"],
                "color_s": key["obs"]["color"],
                "login": key["obs"]["login"],
                "senha": key["obs"]["senhaC"],

            }

            $.map(dictKeys, function(n, i) { // map é usado para traduzir ou mapear os elementos de um array para outro conjunto de valores
                $(`#${i}`).val(n);
                var findLabel = $(`#${i}`).closest("div");
                $(findLabel).find("label").attr("class", "active");
            });
            
            $("#btn_start").data("id_user", id_user); //PEGA O ID DO PACIENTE
            $("#btn_end").data("id_user", id_user); //PEGA O ID DO PACIENTE
            $("#btn_salvar").data("id_user", key["id"]); //ATRIBUI UM NOVO VALOR PARA O ID
            $("#anx_file").data("id_user", key["id"]);


            //Verifica se está pendente ou em andamento, para aparecer a div
            try {
                var finances_exam = key["finances_exams"];
                var status_proccess = finances_exam["status"];
                if (status_proccess != "8") {
                    $("#btn_start").hide();
                    $("#card_finance").show();
                    $("#btn_end").show();
                } else {
                    $("#btn_start").show();
                    $("#card_finance").hide();
                    $("#btn_end").hide();

                }
            } catch (e) {
                $("#btn_start").show();
                $("#card_finance").hide();
                $("#btn_end").hide();
            }

        }
    });

    // MODAL FINANCEIRO
    var id_user = $(object).data("id_user"); //objeto usuario que compoe um data-id_user
    var formpost = {
        "csrfmiddlewaretoken": $('input[name="csrfmiddlewaretoken"]').val(),
        "id_user": id_user //DICT COM O VALOR DO ID
    };

    $("#modal2").hide();
    $(object).prop("disabled", true);
    fetchRequest("{% url 'SearchModalExamsFinances' %}", "POST", "JSON", formpost, function(re) { // A URL É COMPOSTA PELO NAME DE UMA URL
        $(object).prop("disabled", false);
        if (re["response"] == false) {
            alert("Nenhum dado encontrado."); // VERIFICA SE A INFO É VÁLIDA, SE NÃO, MESSAGE
        } else { //SE FOR VERDADDEIRA, PROSSEGUE
            $("#modal2").show();
            var key = re["message"]; // NO DECORATOR, A MENSAGEM RETORNA O VALOR DO DICT, NESSE CASO É DECLARADO EM UM DICT: "id_campo" : key[valor-do-grupo][valor-do-key]
            var dictKeys = { // nome id / nome do grupo/ nome do value
                "date_first": key["dados"]["date_start"],
                "date_end": key["dados"]["date_end"],
                "statusProgresso": key["dados"]["status_process_id"],
                
                "cust_alv": key["dados"]["val_alvaro"],
                "val_w_lab": key["dados"]["val_work"],
                "val_pago": key["dados"]["val_pago"],
                "porcentagem": key["dados"]["por_paga"],

                "data_r": key["dados"]["date_repass"],
                "n_nf": key["dados"]["nf"],
            }
            $.map(dictKeys, function (n, i) { // map é usado para traduzir ou mapear os elementos de um array para outro conjunto de valores
            $(`#${i}`).val(n); // n simboliza o valor e i simboliza a key
            var findLabel = $(`#${i}`).closest("div"); // essa variavel serve para procurar um valor e atribuir o módulo closest div
            $(findLabel).find("label").attr("class", "active");//serve para encontrar dentro do closest div uma label e atribuir o módulo attr(atributo, valor)
            
            if(i == "statusProgresso"){//GAMBIARRA PARA INPUTAR O SELECT
               $(`#${i}`).val(n);
               var valueObject = $("#statusProgresso option:selected").text();
               var ob1 = $(`#${i}`).closest("div");
               var ob2 = ob1[0];
               $(ob2).find("input").val(valueObject);
            }
                
            });
            $("#btn_start").data("id_user", id_user); //PEGA O ID DO PACIENTE

            //AQUI INICIA FUNCTION APPEND FILE
            var ap = "";
            var filesResponse = JSON.parse(re["message"]["files"]);
            $.map(filesResponse, function(n, i) {
                ap += `
                  <tr>
                     <td>${n.file.name}</td>
                     <td>${n.file.date_created.pt}</td>
                     <td>${n.description_type}</td>
                     <td style="text-align: center;">
                        <button data-url="${n.file.path}" data-id="${n.file.name}" onclick=\"viewFile(this)\" class="btn mb-1 waves-effect waves-light ativ" type="button" name="action" style=" width: 15px;padding: 1;padding-right: 8px; background-color: #f5bd46da;"><i class="material-icons right">cloud_download</i></button>
                        <button data-url="${n.file.path}" data-id_patient="${id_user}" data-type="${n.type}" data-id="${n.file.name}" onclick=\"removeFile(this)\" class="btn mb-1 waves-effect waves-light ativ" type="button" name="action" style=" width: 15px;padding: 1;padding-right: 8px; background-color: #c74d4d;"><i class="material-icons right">delete</i></button>
                     </td>
                  </tr>
               `;
            });
            $("#tb_append").html(ap);

            //AQUI INICIA FUNCTION GET HISTORY
            var ap = "";
            var historyResponse = re["message"]["history"];
            $.map(historyResponse, function(n, i) {
                ap += `
                  <li class="timeline-items timeline-icon-green active">
                     <div id="data_f" class="timeline-time">${n.data_operacao}</div>
                     <h5 id="name_u" class="timeline-title">${n.nome_user}</h5>
                     <p id="action_f" class="timeline-text">${n.descricao}</p>
                  </li>
               `;
            });
            $("#historico").html(ap);

        }

    });

}

//VISUALIZA O APPEND
function viewFile(object){
    var path = $(object).data("url");
    var filename = $(object).data("id");
    var a = document.createElement("a");
    a.href = "/docs/" + path;
    a.download = filename;
    document.body.appendChild(a);
    a.click();
}

//RETIRA O FILE 
function removeFile(object) {
    var id_patient = $(object).data("id_patient");
    var id_file = $(object).data("id");
    var type_file = $(object).data("type");

    var formpost = {
        "csrfmiddlewaretoken": $('input[name="csrfmiddlewaretoken"]').val(),
        "id_file": id_file,
        "type_file": type_file,
        "id_patient": id_patient
    };

    fetchRequest("{% url 'ModalExamsFinanceFileRemove' %}", "POST", "JSON", formpost, function(re) { // A URL É COMPOSTA PELO NAME DE UMA URL
        if (re["response"] == "true") {
            $(object).closest("tr").remove();
        }

        alert(re["message"]);
    });
}


$("#doc_anx").click(function(){
   $("#doc_anx").val("");
});

function removeFileExists(object){
   $(object).closest("tr").remove();
   $("#doc_anx").val("");
}


//BTN ATUALIZAR - SALVAR
function UpdateModal(object) {

    var id_user = $(object).data("id_user");
    var cust_alv = $("#cust_alv").val().replace(",", "|").replace(".", "").replace("|", ".").replace("R$", "");
    var val_w_lab = $("#val_w_lab").val().replace(",", "|").replace(".", "").replace("|", ".").replace("R$", "");
    var val_pago = $("#val_pago").val().replace(",", "|").replace(".", "").replace("|", ".").replace("R$", "");
    var porcentagem = $("#porcentagem").val().replace("%", "");
    var date_repass = $("#data_r").val();
    var n_nf = $("#n_nf").val();
    var obsF = $("#obsF").val();
    var files = $("#doc_anx")[0].files[0];
    var statusProgresso = $("#statusProgresso").val();

    if (statusProgresso == ""){
        var statusProgresso = $("#statusProgresso").val("1");
    }

    if (statusProgresso == "4"){
        var i = 0;
        $("#porcentagem").attr("data-required='true'");
        
        $("#cardFinance input[data-required='true']").each(function() {
            if ($(this).val() == "") {
                alert("Preencha os campos obrigatórios.");
                $(this).focus();
                i = 1;
                return false;
            }
        });
        if (i == 1) {
            return false;
        }
    }
        var Csrftoken = $('input[name="csrfmiddlewaretoken"]').val();
        var formpost2 = {
            "id_user": id_user,
            "date_repass": date_repass,
            "n_nf": n_nf,
            "statusProgresso": statusProgresso,
            "obsF": obsF,
        };
        //data.append('csrfmiddlewaretoken', $('input[name="csrfmiddlewaretoken"]').val());

        var formpost = [{
                "name": "csrfmiddlewaretoken",
                "value": $('input[name="csrfmiddlewaretoken"]').val()
            },
            // {
            //   "name": "file",
            //  "value": files
            // },
            {
                "name": "id_user",
                "value": id_user
            },
            // {
            //    "name": "type_doc",
            //    "value": $("#tp_anx").val()
            // },
            {
                "name": "obsF",
                "value": obsF
            },
            {
                "name": "statusProgresso",
                "value": statusProgresso
            },
            {
                "name": "cust_alv",
                "value": cust_alv
            },
            {
                "name": "val_w_lab",
                "value": val_w_lab
            },
            {
                "name": "val_pago",
                "value": val_pago
            },
            {
                "name": "porcentagem",
                "value": porcentagem
            },
            {
                "name": "data",
                "value": JSON.stringify(formpost2)
            },
        ];
        fetchRequestFiles("{% url 'SaveEditionsFinances' %}", "POST", "JSON", formpost, function(re) {
            if (re["response"] == false) {
                alert("Nenhum dado encontrado."); // VERIFICA SE A INFO É VÁLIDA, SE NÃO, MESSAGE
            } else { //SE FOR VERDADDEIRA, PROSSEGUE
                $("#btn_salvar").attr("disabled", true);
                alert(re["message"]);
                location.reload();

            }
        });
    

}



function CalVal(valor) {
    var valWork = $("#val_w_lab").val();
    var valPago = $("#val_pago").val();
    var valWork = (valWork + ".").replaceAll(".", "");
    try {
        valWork = (valWork).replaceAll(",", "");
    } catch (e) {
        // declarações para manipular quaisquer exceções
        logMyErrors(e); // passa o objeto de exceção para o manipulador de erro
    }

    valWork = parseFloat(valWork);
    valPago = (valPago + ".").replaceAll(".", "");
    
    try {
        valPago = (valPago).replaceAll(",", "");
    } catch (e) {
        // declarações para manipular quaisquer exceções
        logMyErrors(e); // passa o objeto de exceção para o manipulador de erro
    }

    valPago = parseFloat(valPago);

    var soma = valPago * 100 / valWork;
    var result = Number(soma).toFixed(2)
    if (isNaN(result)) {
        return false;
    }
    $("#porcentagem").val(result + ' %');
    $("#labelporcentagem").attr("class", "active");
} 

//FINALIZAR PROCESSO
function FinalizeProcess(object) {
    $("#btn_end").attr("disabled", true);

    //VALIDAÇÃO DE CAMPO NULL
    var i = 0;
    $("#cardFinance input[data-required='true']").each(function() {
        if ($(this).val() == "") {
            alert("Preencha os campos obrigatórios.");
            $(this).focus();
            i = 1;
            return false;
        }
    });
    if (i == 1) {
        return false;
    }

    //var doctor = $("#doctor").val();
    //var comercial = $("#resp_comercial").val();

    var id_user = $(object).data("id_user");
    var statusProgresso = $("#statusProgresso").val();
    var ValorPago = $("#val_pago").val();
    var doctor = $("#doctor").val();
    var namePaciente = $("#namePaciente").val();
    var resp_comercial = $("#resp_comercial").val();
    var date_repass = $("#data_r").val();
    var date_age = $("#date_age").val();
    var tp_exame = $("#tp_exame").val();
    var company = $("#company").val();
    
    var formpost = {
        "csrfmiddlewaretoken": $('input[name="csrfmiddlewaretoken"]').val(),
        "id_user": id_user, 
        "statusProgresso": statusProgresso,
        "ValorPago": ValorPago,
        "doctor": doctor,
        "paciente": namePaciente,
        "comercial": resp_comercial,
        "date_repass": date_repass,
        "date_age": date_age,
        "tp_exame": tp_exame,
        "company": company,
        
    };

    fetchRequest("{% url 'ApiFinalizeProcess' %}", "POST", "JSON", formpost, function(re) {
        if (re["response"] == "true") {
            alert(re["message"]);
            $("#btn_end").attr("disabled", true);
            location.reload();
        }else{
            alert(re["message"]);
            $("#btn_end").attr("disabled", false);
        }
    });
}
 
function searchMonth() {
    var month = $("#mes_search").val();
    var data1 = $("#data1").val();
    var data2 = $("#data2").val();
    var statusProgressoTable = $("#statusProgressoTable").val();

    var formpost = {
        "csrfmiddlewaretoken": $('input[name="csrfmiddlewaretoken"]').val(),
        "month": month, 
        "data1": data1, 
        "data2": data2, 
        "statusProgressoTable": statusProgressoTable, 
    };
    fetchRequest("{% url 'SearchMonthExamsRefund' %}", "POST", "JSON", formpost, function(re) {
        var dados = re["message"];
        $("#tb_append2").html("");
        $.map(dados, function(n, i) {
        var a = `
         <tr id="tr_${n.id}">
            <td>${n.paciente}</td>
                     <td style="text-align: center;">${n.coleta}</td>
                     <td style="text-align: center;">${n.exame}</td>
                     <td style="text-align: center;">${n.unidade}</td>
                     <td style="text-align: center;">${n.company}</td> 
                     <td style="text-align: center;">${n.status_p}</td>
                     <td style="text-align: center;">
                        <a href="#modal1" class="modal-trigger" data-id_user="${n.id}" onclick=\"viewUserModal(this)\">
                            <button class="btn mb-1 waves-effect waves-light ativ" type="submit" name="action" style="margin-left: 5px; width: 15px;padding: 1;padding-right: 8px; background-color: #f5be4600;">
                                <i class="material-icons right" style="color: #f5bd46da">edit</i>
                            </button>
                        </a>
                        <a data-id_user="${n.id}" onclick=\"ContratoFile(this)\" class="btn tooltipped" data-tooltip="Baixar Termo" data-position="top" style="margin-left: 5px; width: 15px;padding: 1;padding-right: 8px; background-color: #f5be4600;">
                            <i class="material-icons right" style="color: #66a366">library_books</i>
                        </a>
                     </td>
                  </tr>
                  `;
            $("#tb_append2").append(a);
        });
        if (dados == ""){// SE O RETORNO DA PESQUISA ESTIVER VAZIO, RETORNA NENHUMA INFORMAÇÃO
            var appende = '<td colspan="7" style="text-align: center; background: #ededeb">Nenhum Registro Encontrado</td>'
            $("#tb_append2").append(appende); 
            }
    });
}

$("#pesq_agenda").click(function() {
    searchMonth();
});

$("#val_w_lab").mask('#.##0,00', {
    reverse: true
});
$("#val_pago").mask('#.##0,00', {
    reverse: true
});
$("#cust_alv").mask('#.##0,00', {
    reverse: true
});



////////////////////////////////////

function AnxDoc(object) {
    $("#anx_file").attr("disabled", true);

    var timeElapsed = Date.now();
    var today = new Date(timeElapsed);
    
    var id_user = $(object).data("id_user");

    var typeFile = $("#tp_anx option:selected").text(); 
    var name_file = $('#doc_anx').val().split('\\').pop();
    var data = today.toLocaleDateString();

    var files = $("#doc_anx")[0].files[0];
    if ($("#doc_anx").val() != "") {    //verificação para preencher o tipo do arquivo.
        if ($("#doc_anx").prop("files") != undefined) {
            if ($("#tp_anx").val() == "") {
                return alert("Preencha o tipo de anexo para prosseguir.");
            } else {
                files = document.querySelector("#doc_anx").files[0];
            }
        } else {
            files = "";
        }
    } else {
        files = "";
    }
    
   
   var Csrftoken = $('input[name="csrfmiddlewaretoken"]').val(); 
    var formpost2 = {
        "id_user": id_user,
    };
    var formpost = [{
            "name": "csrfmiddlewaretoken",
            "value": $('input[name="csrfmiddlewaretoken"]').val()
        },
        {
            "name": "file",
            "value": files
        },
        {
            "name": "id_user",
            "value": id_user
        },
        {
            "name": "type_doc",
            "value": $("#tp_anx").val()
        },
        {
            "name": "data",
            "value": JSON.stringify(formpost2)
        },
    ];

    fetchRequestFiles("{% url 'ApiAnexarFiles'  %}", "POST", "JSON", formpost, function(re) {
        if (re["response"] == false) {
            $("#anx_file").attr("disabled", false);

            alert("Nenhum dado encontrado.");
        }else{
            $("#anx_file").attr("disabled", false);

          var append = `
            <tr> 
                <td>${name_file}</td>
                <td>${data}</td>
                <td>${typeFile}</td>
                <td style="text-align: center;">
                    <a onclick=\"removeFileExists(this)\" style="cursor: pointer; width: 15px;padding: 1;padding-right: 8px; background-color: #c74d4d;" href="#" data-path="/patients/process/111/2/Detran (1).pdf" class="btn mb-1 waves-effect waves-light ativ">
                        <i class="material-icons right">delete</i>
                    </a>
                </td>
            </tr>
            `;

            $("#tb_append").append(append);
            alert(re["message"]);

          }

    });
}


$("#anx_file").click(function(){
    AnxDoc(this);
});


$('#btn_card_coleta').on("click", function() {
    var a = $("#btn_card_coleta");
    a.next('#card_coleta').slideToggle();

});


/*
//BAIXA CONTRATO
//VISUALIZA O APPEND
function viewContrato(object) {
   var path = $(object).data("url");
   var a = document.createElement("a");
   
   a.href = "/docs/contracts" + path + "/termo.pdf";
   a.download = "termo.pdf";
   document.body.appendChild(a);
   a.click();
    }
*/


function ContratoFile(object){
    $(object).attr("disabled", true)

    var id_user = $(object).data("id_user");

    var formpost = {
        "csrfmiddlewaretoken": $('input[name="csrfmiddlewaretoken"]').val(),
        "id_user": id_user, //DICT COM O VALOR DO ID
    };

    fetchRequest("{% url 'FileContract' %}", "POST", "JSON", formpost, function(re) {
        if (re["response"] == true) {
            $(object).attr("disabled", false)

            var dados = re["message"];
            var path = dados
            var a = document.createElement("a");
            
            a.href = path;
            a.download = "termo.pdf";
            document.body.appendChild(a);
            a.click();
        }
        else{
            $(object).attr("disabled", false)
            alert(re["message"])
        }
    })
}

</script>
{% endblock %}