{% extends 'base.html' %}
{% load static %}
{% block title %}Shiloh | Listar Parceiros{% endblock %}
{% block icon-page %}
metismenu-icon lnr-apartment icon-gradient bg-sunny-morning
{% endblock %}
{% block title-page %}
Página inicial
{% endblock %}
{% block description-page %}
CONSULTAR PARCEIROS   {% endblock %}
{% block content %}

<script src="https://demo.dashboardpack.com/architectui-html-pro/assets/scripts/main.d810cf0ae7f39f28f336.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static '/app-assets/css/pages/form-select2.min.css' %}">

<!--MASK-->
<script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.3.1/jquery.maskedinput.min.js"></script>
<script type = "text/javascript" src = "/app-assets/js/jquery.mask.js"></script> 



<style type="text/css"> 

.scrollbar-sidebar, .scrollbar-container {
position: relative;
height: 100% 
}
.scroll-area {
overflow-x: hidden;
height: 400px 
}
.scroll-area-xs {
height: 150px;
overflow-x: hidden 
}
.scroll-area-sm {
height: 200px;
overflow-x: hidden 
}
.scroll-area-md {
height: 300px;
overflow-x: hidden 
}
.scroll-area-lg {
height: 400px;
overflow-x: hidden 
}
.scroll-area-x {
overflow-x: auto;
width: 100%;
max-width: 100% 
}
.shadow-overflow {
position: relative 
}
.shadow-overflow::after, .shadow-overflow::before {
width: 100%;
bottom: auto;
top: 0;
left: 0;
height: 1.5rem;
position: absolute;
z-index: 10;
content: '';
background: linear-gradient(to bottom, #fff 20%, rgba(255, 255, 255, 0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0) 
}
.shadow-overflow::after {
bottom: 0;
top: auto;
background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 80%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0) 
}

</style> 

<div class="swal-overlay" tabindex="-1" style="display: none;">
   <div class="swal-modal"><div class="swal-title">Auto close alert!</div><div class="swal-text">I will close in 2 seconds.</div></div></div>

<div id="modal1" class="modal modal-fixed-footer" style="width: 85%; height: 90%;max-height: 85%">
   {% include '../partners/partials/_modal_partners.html' %} 
</div>
   
<div id="modalhistorico" class="modal modal-fixed-footer" style="width: 85%; height: 90%;max-height: 85%">
   {% include '../partners/partials/_modal_historico.html' %} 
</div>


<div class="breadcrumbs-dark pb-0">
<div class="container">
   <div class="card" >
      <!-- Externo -->
      <div id="userint" class="row" >
         <div class="col s12"  style="padding: 40px;">
            {% for p in permissions %}
            {% if p.id == 1 %}
            <div id="acess_menu" class="col s12 m6 mb-6" style="margin-top: 20px; padding-left: 0px; display: none;">
               <ul class="tabs" >
                  <li class="tab col s4 p-0" ><a class="p-0 active" onclick="todosParceiros()" style="color: black; font-size: 20px; cursor: pointer;">TODOS</a></li>
                  <li class="tab col s4 p-0"><a class="p-0" onclick="parceirosInativos()" style="color: black; font-size: 20px; cursor: pointer;">INATIVOS</a></li>
               </ul>
            </div>
            {% else %}
            {% endif %}
            {% endfor %}

            
            <div class="col s12 m12 scroll scroll-y" id="todos_parceiros">
               {% include '../partners/partials/_table_todos.html' %} 
            </div>
            <div class="col s12 m12 scroll scroll-y" id="parceiros_inativos" style="display:none;">
               {% include '../partners/partials/_table_inativos.html' %} 
            </div>
         </div>
      </div>
   </div>
</div>
</div>


<link href="{% static 'css/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
<script type = "text/javascript" >

$(".select2").select2({
    dropdownAutoWidth: true,
    width: '100%'
});


var datatableReembolso = $(".pagelengthoption").DataTable({
 "ordering" : true,
 "scrollCollapse" : true,
 "searching" : true,
 "columnDefs" : [{orderable: true, targets: 0 }],
});
$(".dropdown-trigger").css("display", "none")


$(document).ready(function(){ // <<<< execute a seguinte função

 function changeTable() {
     $(".select-wrapper").find("select").hide();
     $(".dataTables_length").css({
         "width": "60px",
         "position": "relative",
     })

     showLoadingPage("close");
 }
 setTimeout(showLoadingPage("show"), 500);
 setTimeout(showLoadingPage("show"), 1000);
 setTimeout(changeTable, 200);
});



$(document).ready(function () {
   $('.modal').modal();
   $('.modal').css({
      "width": "80%",
   });
});

function viewUserModal(object) { //FUNCTION DO ONCLICK
   var id_user = $(object).data("id_user"); //objeto usuario que compoe um data-id_user
   $("#btn_atualizar, #btn_recontato").data("id_user", id_user); // para ter o data, precisa conter os seguintes parametros: elemento, key, value

   var formpost = {
      "csrfmiddlewaretoken": $('input[name="csrfmiddlewaretoken"]').val(),
      "id_user": id_user //DICT COM O VALOR DO ID
   };

   $("#modal2, #modalfooter").hide();
   $(object).prop("disabled", true);

   fetchRequest("{% url 'ApiViewDataPartnersModal' %}", "POST", "JSON", formpost, function (re) { // A URL É COMPOSTA PELO NAME DE UMA URL
      if (re["response"] == false) {

         $("#modal1").hide();
         alert(re["message"]);
         location.reload();

      } else {
         $("#modal2, #modalfooter").show();
         $("#btn_edit").attr("href", "#modal1");
         $("#btn_historico").attr("href", "#modalhistorico");

         var key = re["message"];
         var dictKeys = {
            "company": key["personal"]["company"],

            "name": key["personal"]["name"],
            "rn": key["personal"]["rn"],
            "categoria": key["personal"]["categoria"],
            "old_commerce": key["personal"]["comercial"],

            "email": key["contacts"]["email"],
            "tel1": key["contacts"]["phone"],
            "tel2": key["contacts"]["phone_aux"],

            "zipcode": key["address"]["zipcode"],
            "addres": key["address"]["street"],
            "number": key["address"]["street_number"],
            "complement": key["address"]["complement"],
            "district": key["address"]["district"],
            "city": key["address"]["city"],
            "uf": key["address"]["state"],

            "obs": key["obs"]["obs"],

            "val_p_fixo": key["finances"]["val_padrao"],
            "val_p": key["finances"]["val_porcentagem"],
            "val_fixo": key["finances"]["val_fixo"],
         }

         $.map(dictKeys, function (n, i) {
            $(`#${i}`).val(n);
            var findLabel = $(`#${i}`).closest("div");
            $(findLabel).find("label").attr("class", "active");
            if (i == "categoria"){
               var valueObject = $("#categoria option:selected").text();
               $("input[class='select-dropdown dropdown-trigger']").val(valueObject);
               $('li[class="selected"]').attr("class", "");
               var findObject = $(`span:contains(${valueObject})`).closest("li");
               $(findObject).attr("class", "selected");
            }
         });
         $("#btn_cadastrar").data("id_user", key["id"]);

         var val_p_fixo = $("#val_p_fixo").val();
         var checkbox_porcentagem = $("#val_p").val();
         var checkbox_fixo = $("#val_fixo").val();

         if (val_p_fixo != "") {

            $('input').filter('#val_p_fixo_check, #val_p_check, #val_fixo_check').prop('checked', false).attr("disabled", false);
            $('input').filter('#val_p_fixo_check').prop('checked', true);
            $("#val_p_check, #val_fixo_check").attr("disabled", true);
         } else if (checkbox_porcentagem != "") {

            $('input').filter('#val_p_fixo_check, #val_p_check, #val_fixo_check').prop('checked', false).attr("disabled", false);
            $('input').filter('#val_p_check').prop('checked', true);
            $("#val_p_fixo_check, #val_fixo_check").attr("disabled", true);
         } else if (checkbox_fixo != "") {

            $('input').filter('#val_p_fixo_check, #val_p_check, #val_fixo_check').prop('checked', false).attr("disabled", false);
            $('input').filter('#val_fixo_check').prop('checked', true);
            $("#val_p_fixo_check, #val_p_check").attr("disabled", true);
         } else {
            $('input').filter('#val_p_fixo_check, #val_p_check, #val_fixo_check').prop('checked', false).attr("disabled", false);
            $("#val_p_fixo_check, #val_p_check, #val_fixo_check").attr("disabled", false);
         }

      try {
         var info_user = key["user"];
         var permissao = info_user["permissao"];
         
         if (permissao == true) {
            $("#card_atualizar_comercial").show();
         }else{
            $("#card_atualizar_comercial").hide();
         }
      } catch (e) {
         $("#card_atualizar_comercial").hide();
      }

      try {
         var status = key["obs"];
         var status_btn = status["status"];

         if (status_btn == "Inativo") {
            $("#btn_recontato").show();
            $("#btn_atualizar").hide();
         }else{
            $("#btn_recontato").hide();
            $("#btn_atualizar").show();
         }
      }catch(e) {
         $("#btn_recontato").hide();
         $("#btn_atualizar").hide();
         }
      }
   });
}


function changeStatusUser(object) {
var id_user = $(object).data("id_user"); //objeto usuario que compoe um data-id_user
var formpost = {
   "csrfmiddlewaretoken": $('input[name="csrfmiddlewaretoken"]').val(),
   "id_user": id_user //DICT COM O VALOR DO ID
};

fetchRequest("{% url 'ApiChangeStatus' %}", "POST", "JSON", formpost, function (re) { // A URL É COMPOSTA PELO NAME DE UMA URL
   if (re["response"] == false) {
      alert(re["message"]);
   } else { //SE FOR VERDADDEIRA, PROSSEGUE
      var key = re["message"]; // NO DECORATOR, A MENSAGEM RETORNA O VALOR DO DICT, NESSE CASO É DECLARADO EM UM DICT: "id_campo" : key[valor-do-grupo][valor-do-key]
      $(`#tr_${id_user} > td`).eq(4).text(key["status"]);
      $(`#btn_status_${id_user}`).css("background-color", key["btn_status"])
      }
   });
}


function updateModal(object) {
   email = $("#email").val()
   var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,})+$/; // filtro
   if(!filter.test(email) && email != ""){
      alert('Insira um email válido.');
      $("#email").focus();
      return false;
   }
   $("#btn_atualizar").attr("disabled", true);

   var val_p_fixo = $("#val_p_fixo").val();
   var checkbox_porcentagem = $("#val_p").val();
   var checkbox_fixo = $("#val_fixo").val();
   var NewComerce = $("#nome_commerce").val();
   var oldCommerce = $("#old_commerce").val();

   if (NewComerce == "") {
      NewComerce = oldCommerce
   } else {
      NewComerce = NewComerce
   }

   if (val_p_fixo == "" && checkbox_porcentagem == "" && checkbox_fixo == "") {
      alert("Por favor, insira um valor válido ao Financeiro.")
      return false
   } else {
   var id_user = $(object).data("id_user"); //objeto usuario que compoe um data-id_user
   var formpost = {
      "csrfmiddlewaretoken": $('input[name="csrfmiddlewaretoken"]').val(),
      "id_user": id_user, //DICT COM O VALOR DO ID
      "resp_commerce": NewComerce, //DICT COM O VALOR DO ID
      "padrao": val_p_fixo, //DICT COM O VALOR DO ID
      "porcentagem": checkbox_porcentagem, //DICT COM O VALOR DO ID
      "fixo": checkbox_fixo, //DICT COM O VALOR DO ID
   };

   $("#modalint input, #modalint select").each(function () {
      formpost[$(this).attr("id")] = $(this).val();
   });
   fetchRequest("{% url 'ApiChangeUsersModal' %}", "POST", "JSON", formpost, function (re) { // A URL É COMPOSTA PELO NAME DE UMA URL
      if (re["response"] == false) {
         alert(re["message"]); // VERIFICA SE A INFO É VÁLIDA, SE NÃO, MESSAGE
         $("#btn_atualizar").attr("disabled", false);

      } else { //SE FOR VERDADDEIRA, PROSSEGUE
         $("#btn_atualizar").attr("disabled", true);
         alert(re["message"]);
         location.reload();
         }
      });
   }
}

function searchPatients(object) {
var e = $(object).val().toUpperCase();
if (e == "") {
   $('#tb_append > tr').each(function () {
      $(this).show();
   });
} else {
   $('#tb_append > tr').each(function () {
      var trs = $(this).find("td");
      var tr1 = $(trs[0]).text().toUpperCase();
      var check = (tr1.indexOf(e) != -1);
      if (check == true) {
         $(this).show();
      } else {
         $(this).hide();
         }
      });
   }
}

function padrao() {
   var checkbox_padrao = $("#val_p_fixo").val(); // recebe o valor do input
   if ($("#val_p_fixo_check").is(":checked")) { // se o campo do checkbox estiver checado
      $("#val_p, #val_fixo").attr("disabled", true) // desabilita os campos inputs
      $("#val_p_check, #val_fixo_check").attr('disabled', true); // desabilita os campos checkbox
      $("#val_p_fixo").val("R$ 400,00"); // atribui valor fixo padrao
      $("#val_p, #val_fixo").val(""); // e zera os inputs do outro
   } else {
      $("#val_p, #val_fixo").attr("disabled", false)
      $("#val_p_check, #val_fixo_check").attr('disabled', false);
      $("#val_p, #val_fixo,  #val_p_fixo").val("");
      }
   }

function porcentagem() {
   var checkbox_porcentagem = $("#val_p").val();
   if ($("#val_p_check").is(":checked")) {
      $("#val_fixo").attr("disabled", true)
      $("#val_p_fixo_check, #val_fixo_check").attr('disabled', true);
      $("#val_fixo,  #val_p_fixo").val("");
   } else {
      $("#val_fixo").attr("disabled", false)
      $("#val_p_fixo_check, #val_fixo_check").attr('disabled', false);
      $("#val_p, #val_fixo").val("");
   }
}

function fixo() {
   var checkbox_fixo = $("#val_fixo").val();
   if ($("#val_fixo_check").is(":checked")) {
      $("#val_p ").attr('disabled', true);
      $("#val_p_fixo_check, #val_p_check").attr("disabled", true)
      $("#val_p, #val_p_fixo").val("");
   } else {
      $("#val_p ").attr('disabled', false);
      $("#val_p_fixo_check, #val_p_check").attr("disabled", false)
      $("#val_p, #val_fixo").val("");
   }
}


$(".select2").select2({
dropdownParent: $('#modal1'),
dropdownAutoWidth: true,
width: '100%',
});

function SelectShow() {
   var show = document.getElementById("categoria").value;
   $("#btn_atualizar").attr("disabled", true);
   if (show == '') {
      alert("Por favor, preencha um tipo de Categoria")
      return false
   } else {
      $("#btn_atualizar").attr("disabled", false);
   }
}

$("#tel1").mask("(99) 99999-9999");
$("#tel2").mask("(99) 99999-9999");
$("#zipcode").mask("99999-999");
$("#val_fixo").mask('#.##0,00', {
reverse: true
});
$("#val_p").mask('99%', {
reverse: true
});


function pesquisacep(valor) {
   var cep = valor.replace(/\D/g, '');
   if (cep != "") {
      var validacep = /^[0-9]{8}$/;
      if (validacep.test(cep)) {
         var end_addres = $("#addres").val("...");
         var end_district = $("#district").val("...");
         var end_city = $("#city").val("...");
         var end_state = $("#uf").val("...");
         var script = document.createElement('script');

         script.src = 'https://viacep.com.br/ws/' + cep + '/json/?callback=bsccep';
         document.body.appendChild(script);
      } else {
         limocamp();
         alert("Formato de CEP inválido.");
      }
   } else {
      limocamp();
   }
};

function bsccep(val) {
   if (!("erro" in val)) {
      var end_addres = $("#addres").val(val.logradouro);
      var end_district = $("#district").val(val.bairro);
      var end_city = $("#city").val(val.localidade);
      var end_state = $("#uf").val(val.uf);
   } else {
      limocamp();
      alert("CEP não encontrado no CORREIOS. Entre no site: https://www.correios.com.br/ e pesquise um cep válido.");
   }
}

function limocamp() {
   var end_zipcode = $("#zipcode").val("");
   var end_addres = $("#addres").val("");
   var end_number = $("#number").val("");
   var end_district = $("#district").val("");
   var end_city = $("#city").val("");
   var end_state = $("#uf").val("");
}

function viewHistoricoModal(object){//FUNCTION DO ONCLICK PARA VER ARQUIVOS
   var id_partners = $(object).data("id_user"); //objeto usuario que compoe um data-id_user
   var formpost = {
      "csrfmiddlewaretoken": $('input[name="csrfmiddlewaretoken"]').val(),
      "id_partners": id_partners //DICT COM O VALOR DO ID
   }; 
   
   $("#modalhistorico2").hide();
   $(object).attr("display", 'none');

   fetchRequest("{% url 'ApiHistoryPartners' %}", "POST", "JSON", formpost, function(re) {
      $("#modalhistorico2").show();
      if(re["response"] == true){
         var dados = re["message"];
         var historico_append = "";
   
            $.map(dados, function(n, i){
               historico_append += `
               <li class="timeline-items timeline-icon-green active ">
                  <div id="data_f" class="timeline-time">${n.data}</div>
                  <h4 id="name_u" class="timeline-title">${n.acao}</h4>
                  <p id="action_f" class="timeline-text">${n.descricao}</p>
               </li>
            `;
         }); 
            $("#historico_app").html(historico_append);
      } else {
         var appende = "";
         var appende = ` 
            <li class="timeline-items timeline-icon-red active ">
               <div id="data_f" class="timeline-time"></div>
               <h4 id="name_u" class="timeline-title">Nenhum registro encontrado.</h4>
               <p id="action_f" class="timeline-text">Informação do sistema.</p>
            </li>
         `
         $("#historico_app").append(appende);
      }
   });
}


function todosParceiros(){
   $("#todos_parceiros").show();
   $("#parceiros_inativos").hide();
}

function parceirosInativos(){
   $("#parceiros_inativos").show();
   $("#todos_parceiros").hide();
}



function AtualizarComercial(object){
   var id_parceiro = $(object).data("id_user")
   var comercial = $("#comercial_recontatos").val();

   if (comercial == ""){
      alert("Prencha todos comerical responsável.")
      return false
   }

   var formpost = {
      "csrfmiddlewaretoken": $('input[name="csrfmiddlewaretoken"]').val(),
      "id_parceiro": id_parceiro,
      "comercial": comercial,
   };
   console.log(formpost)
   fetchRequest("{% url 'Recontato_Partners' %}", "POST", "JSON", formpost, function(re){
      if(re["response"] == false){ 
            alert("Não foi possível prosseguir.");
      } else {
            $(object).closest('tr').remove()
      }
   });
     
}


</script>
{% endblock %}