{% extends 'base.html' %}
{% load static %}
{% block title %}Página principal{% endblock %}
{% block icon-page %}
metismenu-icon lnr-apartment icon-gradient bg-sunny-morning
{% endblock %}
{% block title-page %}
Página inicial
{% endblock %}
{% block description-page %}
Acompanhe as últimas notícias!
{% endblock %}
{% block content %}

<style type="text/css">
   .corfont{
   color: #641108;
   font-weight: bold;
   }
</style>

<div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
<div class="container">
   <div class="card" >
      <div class="card-content" style="margin-top: -40px;">
         <h5 class="corfont">CADASTRAR INDICAÇÃO</h5>
      </div>
   </div>
</div>
<div class="container">
   <div class="card" >
         <!-- Externo -->
      <div id="userint" class="row" >
        <div class="col s12"  style="margin-top: 30px;">
          <div class="input-field col s3">
             <input id="cpf" type="text" data-required='true'>
             <label for="cpf">
             <i class="material-icons" style="font-size: 15px">featured_play_list</i>&nbsp;CPF</label>
          </div>
          <div class="input-field col s9">
             <input id="name" type="text" data-required='true'>
             <label for="name">
             <i class="material-icons" style="font-size: 15px">person</i>&nbsp;Nome</label>
          </div>
        
        
            <div class="input-field col s8">
               <input id="email" type="email" data-required='true'>
               <label for="email" >
               <i class="material-icons" style="font-size: 15px">email</i>&nbsp;E-mail</label>
            </div>
            <div class="input-field col s2">
               <input id="tel1" type="tel" maxlength="15">
               <label for="tel1">
               <i class="material-icons" style="font-size: 15px">phone</i>&nbsp;Telefone 1</label>
            </div>
            <div class="input-field col s2">
               <input id="tel2" type="tel" maxlength="15">
               <label for="tel2">
               <i class="material-icons" style="font-size: 15px">phone</i>&nbsp;Telefone 2</label>
            </div>

          <div class="input-field col s3" >
            <label style="margin-bottom: 15px;">Convênio</label>
            <div class="select-wrapper" style="margin-top: 30px;">
              <select name="select" id="convenio" onchange="SelectShow()" class="error " required="">
                  <option value="">Selecione</option>
               {% for k in  arr_SelectConvenio %}
                  <option value="{{ k.id }}">{{ k.nome_conv }}</option>
               {% endfor %}
              </select>
            </div>
        </div>
        <div class="input-field col s2" style="margin-left: 45px;" >
         <p class="mb-1">
            <label>
              <input type="checkbox" class="checkgroup" id="combo" value="Combo">
              <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Combo</font></font></span>
            </label>
          </p>
          <p class="mb-1">
            <label>
              <input type="checkbox" class="checkgroup" id="rast" value="Rast">
              <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Rast</font></font></span>
            </label>
          </p> 
         </div>
         <div class="input-field col s" >
            <p class="mb-1">
               <label>
                 <input type="checkbox" class="checkgroup" id="comboerast" value="Combo e Rast">
                 <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Combo e Rast</font></font></span>
               </label>
             </p>
             <p class="mb-1">
               <label>
                 <input type="checkbox" class="checkgroup" id="comboespecifico" value="Combo Específico">
                 <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Combo Específico</font></font></span>
               </label>
             </p> 
            </div>
       </div>
       <div class="input-field col s12">
         <div class="input-field col s12">
            <textarea id="obs"  class="materialize-textarea validate error" data-error=".errorTxt7" aria-invalid="true" style="height: 45px;" aria-describedby="ccomment-error"></textarea>
            <label for="obs" >
               <font style="vertical-align: inherit;">
                  <i class="material-icons" style="font-size: 15px">mode_edit</i>&nbsp;Observação</label>
               </font></label>
          </div>
      </div>

      

        
         <!--BUTTON-->
         <div class="col s12 ">
            <div class="col s12 mb-2">
               <button disabled="disabled" onclick="CadastreIndication()"id="btn_cadastrar" class="waves-effect waves dark btn next-step" type="submit" style="width: 100%; margin-top: 10px">
               <span style="font-weight: bold; color: white; font-family:Verdana, Geneva, Tahoma, sans-serif">Cadastrar</spanpx>
               </button>
            </div>
         </div>
  </div>

   

      </div>
   </div>
</div>




<script type="text/javascript">
   $(function(){
      $('input.checkgroup').click(function(){
         if($(this).is(":checked")){
            $('input.checkgroup').attr('disabled',true);
            $(this).removeAttr('disabled');
         }else{
            $('input.checkgroup').removeAttr('disabled');
         }
      })
   })

function SelectShow() {
  var show = document.getElementById("convenio").value;      
      if(show == ""){
         alert("Por favor, preencha um tipo de covênio válido")
        }else{
      $("#btn_cadastrar").attr("disabled", false);
        }
}



      $("#cpf").mask("000.000.000-00");
      $("#tel1").mask("(00) 00000-0000");
      $("#tel2").mask("(00) 00000-0000");
   

     function CadastreIndication(){
         $("#btn_cadastrar").attr("disabled", true);   

         var convenio = $("#convenio").val();
         var cpf = $("#cpf").val();
         var name = $("#name").val();
         var email = $("#email").val();
         var tel1 = $("#tel1").val();
         var tel2 = $("#tel2").val();
         //pegar valores do CHECKBOX
         var checkbox = $("input[type='checkbox']").val();
         var obs = $("#obs").val();
         var teste = $('#combo').val();
         var teste2 = $('.checkgroup').val();

   //VALIDAÇÃO DE CAMPO NULL
   var i = 0;
   $("#userint input[data-required='true']").each(function(){
      if($(this).val() == ""){
         alert("Preencha os campos obrigatórios.");
         $(this).focus();
         i = 1;
         return false;
      }
   });
   if(i == 1){
      return false;
   }

         
         var btncadastrar = {"csrfmiddlewaretoken": $('input[name="csrfmiddlewaretoken"]').val(), 
            "convenio": $('#convenio').val(), 
            "cpf": $('#cpf').val(), 
            "name": $('#name').val(),
            "email": $('#email').val(),
            "tel1": $('#tel1').val(),
            "tel2": $('#tel2').val(),
            "obs": $('#obs').val(),
            "combo": $('#combo').val(),
            //DICT valor do checkbox
            "checkbox": $('.checkgroup').val(),
            };
   
         fetchRequest("{% url 'ApiCadastreIndication' %}", "POST", "JSON", btncadastrar, function(re){
            if(re["response"] == "true"){
               alert(re["message"]);
               $("#btn_cadastrar").attr("disabled", true);   
               location.reload();
         }   
      });
   };
   

 

</script>

{% endblock %}