{% extends 'base.html' %}

{% load static %}

{% block title %} Shiloh | Cadastrar Paciente{% endblock %}

{% block icon-page %}
metismenu-icon lnr-apartment icon-gradient bg-sunny-morning
{% endblock %}

{% block title-page %}
Cadastrar Paciente
{% endblock %}

{% block description-page %}
Acompanhe as últimas notícias!
{% endblock %}

{% block content %}

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<style type="text/css">
   .corfont{
   color: #641108;
   font-weight: bold;
   }
</style>

<div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
   <div class="container">
      <div class="card">
         <div class="card-content" style="margin-top: -40px;">
            <h5 class="corfont">CADASTRAR PACIENTE</h5>
         </div>
      </div>
   </div>
<div class="container">
   <div class="card" >
      <div class="row">
         <div class="input-field col s12" style="margin-top: 10px;">
            <div class="input-field col s3">
               <span>Nome:</span>
               <select id="select_leads" class="select2 browser-default" data-required="true">
                  <option value="">Selecione:</option>
                  {% for k in arr_SearchPatients %}
                     <option  data-conv_medico="{{ k.conv_medico }}" data-medico_resp="{{ k.medico_resp }}" data-cpf="{{ k.cpf }}" data-name="{{ k.nome }}" data-phone="{{ k.phone }}" data-phone_aux="{{ k.phone_aux }}" data-email="{{ k.email }}" value="{{ k.id }}">[{{ k.id }}] - {{ k.nome }}</option>
                  {% endfor %}
               </select>
            </div>
            <div id="resp" class="input-field col s5" style="display: none; margin-top: 19px;">
               <input readonly="readonly" style="color: black;"  id="medico_resp" type="text" data-required="true">
               <label for="medico_resp">
               <i class="material-icons" style="font-size: 15px">person</i>&nbsp;Indicação de:</label>
            </div>
            <div id="conv" class="input-field col s4" style="display: none; margin-top: 19px;"> 
               <select name="select" id="conv_medico"  class="error " data-required="true">
                  <option value="">Selecione</option>
                  {% for k in arr_SearchConvenio %}
                      <option value="{{ k.id }}">{{ k.nome_conv }}</option>
                  {% endfor %}
              </select>
            </div>
         </div>
      </div>

         <!-- Interno -->
      <div id="userint" class="row" >
        <div class="col s12">
          <div class="input-field col s3">
             <input id="cpf" type="text">
             <label for="cpf">
             <i class="material-icons" style="font-size: 15px">featured_play_list</i>&nbsp;CPF</label>
          </div>
          <div class="input-field col s5">
             <input id="name" type="text" data-required="true" class="upper">
             <label for="name">
             <i class="material-icons" style="font-size: 15px">person</i>&nbsp;Nome</label>
          </div>
          <div class="input-field col s4">
             <input id="date_nasc" type="date" data-required="true">
             <label for="date_nasc">Data de Nacimento</label>
          </div>
       </div>
       <div class="col s12">
          <div class="input-field col s8">
             <input id="email" type="email" data-required="true">
             <label for="email">
             <i class="material-icons" style="font-size: 15px">email</i>&nbsp;E-mail</label>
          </div>
          <div class="input-field col s2">
             <input id="tel1" type="tel" data-required="true">
             <label for="tel1">
             <i class="material-icons" style="font-size: 15px">phone</i>&nbsp;Telefone 1</label>
          </div>
          <div class="input-field col s2">
             <input id="tel2" type="tel" >
             <label for="tel2">
             <i class="material-icons" style="font-size: 15px">phone</i>&nbsp;Telefone 2</label>
          </div>
       </div>
       <div class="col s12">
          <div class="input-field col s3">
             <input id="zipcode" type="text"  maxlength="9" onblur="pesquisacep(this.value)" data-required="true">
             <label for="zipcode">
             <i class="material-icons" style="font-size: 15px">place</i>&nbsp;CEP </label>
          </div>
          <div class="input-field col s7">
             <input id="addres" type="text" data-required="true">
             <label for="addres">Logradouro </label>
          </div>
          <div class="input-field col s2">
             <input id="number" type="text" >
             <label for="number">Número </label>
          </div>
       </div> 
       <div class="col s12">
          <div class="input-field col s3">
             <input id="complement" type="text" >
             <label for="complement">Complemento</label>
          </div> 
          <div class="input-field col s5">
            <input id="district" type="text" data-required="true">
            <label for="district">Bairro</label>
         </div>
          <div class="input-field col s2">
            <input id="city" type="text" data-required="true">
            <label for="city">Cidade</label>
         </div>
         <div class="input-field col s2">
            <input id="uf" type="text"  maxlength="2" data-required="true">
            <label for="uf">UF</label>
         </div>
       </div>
       <div class="col s12">
         <div class="input-field col s12">
            <input id="obs" type="text" >
            <label for="obs"> 
            <i class="material-icons" style="font-size: 15px">edit</i>&nbsp;Observação</label>
         </div>
       </div>
       <div class="col s12">
         <div class="col s12" style="margin-top: 15px;">
            <i class="material-icons" style="font-size: 15px"></i>&nbsp;Acesso para o Convênio:</label>
         </div>
         <div class="input-field col s3">

            <input id="login" type="text" >
            <label for="login"> 
            <i class="material-icons" style="font-size: 15px">person_outline</i>&nbsp;Login</label>
         </div>
         <div class="input-field col s5">
            <input id="senha" type="text" >
            <label for="senha"> 
            <i class="material-icons" style="font-size: 15px">lock_outline</i>&nbsp;Senha</label>
         </div>
       </div>

         <!--BUTTON-->
         <div class="col s12 ">
            <div class="col s12 mb-2">
               <button id="btn_cadastrar" class="waves-effect waves dark btn next-step" type="submit" style="width: 100%; margin-top: 10px" onclick="CadastreUser()">
               <span style="font-weight: bold; color: white; font-family:Verdana, Geneva, Tahoma, sans-serif">Cadastrar</spanpx>
               </button>
            </div>
         </div>
         
      </div>
      
   </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.3.1/jquery.maskedinput.min.js"></script>
<script type="text/javascript">

  
   $("#cpf").mask("999.999.999-99");   
   $("#tel1").mask("(99) 99999-9999");
   $("#tel2").mask("(99) 99999-9999");
      $("#zipcode").mask("99999-999");


function CadastreUser(){
      var select_leads = $("#select_leads").val();
      var medico_resp = $("#medico_resp").val();
      var conv_medico = $("#conv_medico").val();
      var cpf = $("#cpf").val();
      var name = $("#name").val();
      var date_nasc = $("#date_nasc").val();
      var email = $("#email").val();
      var tel1 = $("#tel1").val();
      var tel2 = $("#tel2").val();
      var zipcode = $("#zipcode").val();
      var addres = $("#addres").val();
      var number = $("#number").val();
      var complement = $("#complement").val();
      var district = $("#district").val();
      var city = $("#city").val();
      var uf = $("#uf").val();
      var obs = $("#obs").val();
      var login = $("#login").val();
      var senha = $("#senha").val();

      var anoNasc = document.getElementById("date_nasc").value.split("-")[0];
      var data = new Date();
      var anoatual = data.getFullYear()
      var Calc = (anoatual - anoNasc)

         
      if(conv_medico == ''){
         alert("Selecione um convênio válido.")
         $("#conv_medico").focus();
         return false
      }

      if (anoNasc > anoatual || (Calc >= 100)){
         alert("Data de nascimento inválida.")
         $("#date_nasc").focus();
         return false;
      }

      
      if (cpf == "" && Calc >= 10 ){
         $("#cpf").attr("class", "data-required='true'");
         alert("CPF obrigatório acima de 10 anos.")
         console.log(cpf)
         return false
      }
      else{

     
         var i = 0;
         $('#userint input[data-required="true"]').each(function(){
            if($(this).val() == ""){
               alert("Preencha os campos obrigatórios.");
               $(this).focus();
               i = 1;
               return false;
            }
         });
         if(i == 1){
            return false;
         }
      
   //VALIDAÇÃO DE CAMPO NULL
  
      var btncadastrar = {
         "csrfmiddlewaretoken": $($('{% csrf_token %}').clone()).val(), //PEGA TODOS OS VALORES E JÁ FAZ O DICT AO MESMO TEMPO
         "cpf": $('#cpf').val(), 
         "name": $('#name').val(),
         "date_nasc": $('#date_nasc').val(),
         "email": $('#email').val(),
         "tel1": $('#tel1').val(),
         "tel2": $('#tel2').val(),
         "zipcode": $('#zipcode').val(),
         "addres": $('#addres').val(),
         "number": $('#number').val(),
         "complement": $('#complement').val(),
         "district": $('#district').val(),
         "city": $('#city').val(),
         "uf": $('#uf').val(),
         "medico_resp": $('#medico_resp').val(),
         "select_leads": $('#select_leads').val(),
         "conv_medico": $('#conv_medico').val(),
         "obs": $('#obs').val(),
         "login": $('#login').val(),
         "senha": $('#senha').val(),
         };

         $("#btn_cadastrar").attr("disabled", true);

      fetchRequest("{% url 'ApiCadastrePatient' %}", "POST", "JSON", btncadastrar, function(re){
         if(re["response"] == "true"){
            alert(re["message"]);
            location.reload();
      }else{
         alert(re["message"]);
         $("#btn_cadastrar").attr("disabled", false);
         location.reload();

      } 
   });
}
};


// CEP 
function pesquisacep(valor) {
   var cep = valor.replace(/\D/g, '');

   if (cep != "") {
      var validacep = /^[0-9]{8}$/;
      if(validacep.test(cep)) {
         var end_addres = $("#addres").val("...");
         var end_district = $("#district").val("...");
         var end_city = $("#city").val("...");
         var end_state = $("#uf").val("...");
         var script = document.createElement('script');

         script.src = 'https://viacep.com.br/ws/'+ cep + '/json/?callback=bsccep';
         document.body.appendChild(script);
      } 
      else {
         limocamp();
         alert("Formato de CEP inválido.");
      }
   }
   else {
      limocamp();
   }
   };

function bsccep(val) {
   if (!("erro" in val)) {
      var end_addres = $("#addres").val(val.logradouro);
      var end_district = $("#district").val(val.bairro);
      var end_city = $("#city").val(val.localidade);
      var end_state = $("#uf").val(val.uf);
   } 
   else {
      limocamp();
      alert("CEP não encontrado no CORREIOS. Entre no site: https://www.correios.com.br/ e pesquise um cep válido.");
   }
}

function limocamp() {
var end_zipcode = $("#zipcode").val("");
var end_addres = $("#addres").val("");
var end_number = $("#number").val("");
var end_district = $("#district").val("");
var end_city = $("#city").val("");
var end_state = $("#uf").val("");
}

//QUANDO SELECIONA O LEAD, PREENCHE AS INFORMAÇÕES NOS CAMPOS
$("#select_leads").change(function(){
   $("input").val("");
   var object = $("#select_leads option:selected");

   var dictUpdate = {
      "medico_resp": object.data("medico_resp"),
      "conv_medico": object.data("conv_medico"),
      "cpf": object.data("cpf"),
      "name": object.data("name"),
      "email": object.data("email"),
      "tel1": object.data("phone"),
      "tel2": object.data("phone_aux"),
     
   }
       
   $.map(dictUpdate, function(n, i){ // map é usado para traduzir ou mapear os elementos de um array para outro conjunto de valores
            $(`#${i}`).val(n); // n simboliza o valor e i simboliza a key
            var findLabel = $(`#${i}`).closest("div"); // essa variavel serve para procurar um valor e atribuir o módulo closest div
            $(findLabel).find("label").attr("class", "active");//serve para encontrar dentro do closest div uma label e atribuir o módulo attr(atributo, valor)
            if(i == "conv_medico"){
               var valueObject = $("#conv_medico option:selected").text();
               $("input[class='select-dropdown dropdown-trigger']").val(valueObject);
               var findObject = $(`span:contains(${valueObject})`).closest("li");
               $(findObject).attr("class", "selected");
            }
         }); 
         $("#resp").show();
         $("#conv").show();
      

   var conv_medico = $("#conv_medico").val();
   
   if(conv_medico == ''){
      alert("Selecione um convênio válido.")
   }else{
      $("#btn_cadastrar").attr("disabled", false);
   }

});

$(".select2").select2({
    dropdownAutoWidth: true,
    width: '100%'

});


</script>
{% endblock %}