<div class="modal-content scrollbar-container ps--active-y" id="modal3">
   <!--CORPO DO MODAL-->
   <div class="breadcrumbs-dark pb-0" id="breadcrumbs-wrapper">
      <div class="container">
         <div class="card">
            <div class="card-content" style="margin-top: -40px; background-color: #581848;" >
               <h5 class="corfont" style="color:white">HISTÓRICO</h5>
            </div>
         </div>
      </div>
      <div class="container">
         <div class="card" >
            <div class="col s12 m12" style="margin-top: 10px;">
               <div class="col s12 m12 active">
                  <div class="activity">
                     <ul id="historico_app" class="widget-timeline mb-0"></ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="modal-footer">
   <div class="col m12 s12">
      <div class="col s12 m12">
         <a class="waves-effect waves-light btn mb-1 mr-1 modal-action modal-close waves-effect" style="background-color: #eee"><span style="color:#212529; font-size: 16px; font-weight: bold;">VOLTAR</span></a>
      </div>
   </div>
</div>