<div class="active" style="padding: 30px;" id="modalhistorico2">
   <div class="container">
      <div class="card">
         <div class="card-content" style=" background-color: #581848;">
            <h5 class="corfont" style="color:white">HISTÓRICO</h5>
         </div>
      </div>
   </div>
   <div class="row">
       <div class="col s12" style="margin-top: 10px;">
           <div id="activity" class="col s12 active" style="display: block;">
               <div class="activity">
                   <ul id="historico_app" class="widget-timeline mb-0 scroll-y" style="padding-right: 10px;"></ul>
               </div>
           </div>
       </div>
   </div>
</div>
<div class="modal-footer">
   <div class="col m12 s12">
      <div class="col s12 m12">
         <a class="waves-effect waves-light btn mb-1 mr-1 modal-action modal-close waves-effect" style="background-color: #eee"><span style="color:#212529; font-size: 16px; font-weight: bold;">VOLTAR</span></a>
      </div>
   </div>
</div>


