{% load static %}

<!-- COMEÇO DA TABLE -->
   <table id="page-length-option" class="bordered pagelengthoption" style="margin-top: 20px; overflow-x: auto;">
      <thead style="background-color: #581848; color: white; font-size: 15px;" >
         <tr> 
            <th data-field="id" style="width: 250px;">Nome do Parceiro</th>
            <th data-field="id" style="text-align: center; width: 130px;">Perfil</th>
            <th data-field="id" style="text-align: center; width: 100px;">Status</th>
            <th data-field="id" style="text-align: center; width: 130px;">Novo Comercial</th>
            <th data-field="name" style="text-align: center; width: 30px;">Ação</th>
         </tr>
      </thead>
      <tbody id="tb_append" href="../../../../static/app-assets/vendors/sweetalert/extra-components-sweetalert.min.js">
         {% for k in arr_SearchPartiners %}
         {% if k.status == "Inativo" %}
         <tr id="tr_{{ k.id }}">
            <td>{{ k.nome }} [{{ k.rn }}]</td>
            <td style="text-align: center;">{{ k.categoria }}</td>
            <td style="text-align: center;">{{ k.status }}</td>
            <td style="text-align: center;">
               <div class="input-field">
                  <select id="comercial_recontatos" class="select">
                     <option value="">Selecione:</option>
                     {% for k in arr_comercial %}
                     <option value="{{ k.id }}"> {{ k.nome }}</option>
                     {% endfor %}
                  </select>
               </div>
            </td>
            <td style="text-align: center;">
               <a class="modal-trigger">
                  <button data-id_user="{{ k.id }}" id="salvar_alteracao" onclick="AtualizarComercial(this)" class="btn mb-1 waves-effect waves-light ativ" type="submit" name="action" style="margin-left: 5px; width: 15px;padding: 1;padding-right: 8px; background-color: #f5be4600; padding-left: 15px;">
                     <i class="material-icons right" style="color: #76c076da">check</i>
                  </button>
               </a>
            </td> 
         </tr>
         {%else%}
         {% endif %}
         {% endfor %}
      </tbody>
   </table>
<!-- FIM DA TABLE -->

