{% extends 'base.html' %}
{% load static %}
{% block title %}Shiloh | Consultar Pacientes{% endblock %}
{% block icon-page %}
metismenu-icon lnr-apartment icon-gradient bg-sunny-morning
{% endblock %}
{% block title-page %}
Página inicial
{% endblock %}
{% block description-page %}
CONSULTAR PACIENTES{% endblock %}
{% block content %}

<style type="text/css">
   .corfont{
   color: #641108;
   font-weight: bold;
   }

</style>

<!-- INICIO DO MODAL -->
<div id="modal1" class="modal modal-fixed-footer" style="width: 85%; height: 90%;max-height: 85%">
   <div class="modal-content" id="modal2">
      <div class="breadcrumbs-dark pb-0" id="breadcrumbs-wrapper">
         <div class="container">
            <div class="card">
               <div class="card-content" style="margin-top: -40px; background-color: #581848;">
                  <h5 class="corfont" style="color: white;">ATUALIZAR PACIENTE</h5>
               </div>
            </div>
         </div>
         <div class="container" id="modalint">
            <div class="card">
              <div class="col s12 m12">
                  <div class="input-field col s12 m3"  style="margin-top: 44px;" >
                     <input  readonly="readonly" style="color: black;"  id="company" type="text" >
                     <label for="company">Relação:</label>
                  </div>
              </div>
               <div class="col s12 m12">
                  <div class="input-field col s12 m3" >
                     <label style="margin-bottom: 15px;">Convenio</label>
                     <div class="select-wrapper" style="margin-top: 30px;">
                       <select name="select" id="tp_conv" onchange="SelectShow()" class="error " required="true">
                           <option value="">Selecione</option>
                           {% for k in arr_SearchConvenio %}
                           <option value="{{ k.id }}">{{ k.nome_conv }}</option>
                           {% endfor %}
                       </select>
                     </div>
                 </div>
                  <div class="input-field col s12 m5" style="margin-top: 44px;">
                     <input readonly="readonly" style="color: black;" id="doctor_resp" type="text" >
                  <label for="doctor_resp"><i class="material-icons" style="font-size: 15px">person</i>&nbsp;Indicação de:</label>
                  </div>
                  <div class="input-field col s12 m4"  style="margin-top: 44px; display: none" >
                     <input disabled id="responsable_at" type="text" >
                     <label for="responsable_at">Atendente</label>
                  </div>
               </div> 
                  <!-- Interno -->
               <div class="row" >
                 <div class="col s12 m12">
                   <div class="input-field col s12 m3">
                      <input id="cpf" type="text" >
                      <label for="cpf">
                      <i class="material-icons" style="font-size: 15px">featured_play_list</i>&nbsp;CPF</label>
                   </div>
                   <div class="input-field col s12 m5">
                      <input id="name" type="text">
                      <label for="name">
                      <i class="material-icons" style="font-size: 15px">person</i>&nbsp;Nome</label>
                   </div>
                   <div class="input-field col s12 m4">
                      <input id="date_nasc" type="date" >
                      <label for="date_nasc">Data de Nacimento</label>
                   </div> 
                </div>
                <div class="col s12 m12">
                   <div class="input-field col s12 m8">
                      <input id="email" type="email" >
                      <label for="email">
                      <i class="material-icons" style="font-size: 15px">email</i>&nbsp;E-mail</label>
                   </div>
                   <div class="input-field col m2 s6">
                      <input id="tel1" type="tel" >
                      <label for="tel1">
                      <i class="material-icons" style="font-size: 15px">phone</i>&nbsp;Telefone 1</label>
                   </div>
                   <div class="input-field col m2 s6">
                      <input id="tel2" type="tel" >
                      <label for="tel2">
                      <i class="material-icons" style="font-size: 15px">phone</i>&nbsp;Telefone 2</label>
                   </div>
                </div>
                <div class="col s12 m12">
                   <div class="input-field col m3 s12">
                      <input id="zipcode" type="text"  maxlength="9" onblur="pesquisacep(this.value)">
                      <label for="zipcode">
                      <i class="material-icons" style="font-size: 15px">place</i>&nbsp;CEP </label>
                   </div>
                   <div class="input-field col s12 m7">
                      <input id="addres" type="text" >
                      <label for="addres">Logradouro </label>
                   </div>
                   <div class="input-field col m12 s2">
                      <input id="number" type="text" >
                      <label for="number">Número </label>
                   </div>
                </div> 
                <div class="col s12 m12">
                   <div class="input-field col s12 m3">
                      <input id="complement" type="text" >
                      <label for="complement">Complemento</label>
                   </div>
                   <div class="input-field col m5 s12">
                     <input id="district" type="text" >
                     <label for="district">Bairro</label>
                  </div>
                   <div class="input-field col m2 s12">
                     <input id="city" type="text" >
                     <label for="city">Cidade</label>
                  </div>
                  <div class="input-field col m2 s12">
                     <input id="uf" type="text"  maxlength="2">
                     <label for="uf">UF</label>
                  </div>
                </div>
                <div class="col s12 m12">
                  <div class="col s12 m12" style="margin-top: 15px;">
                     <i class="material-icons" style="font-size: 15px"></i>&nbsp;Acesso para o Convênio:</label>
                  </div>
                  <div class="input-field col m3 s12">
                     <input id="login" type="text" >
                     <label for="login"> 
                     <i class="material-icons" style="font-size: 15px">person_outline</i>&nbsp;Login</label>
                  </div>
                  <div class="input-field col m5 s12">
                     <input id="senha" type="text" >
                     <label for="senha"> 
                     <i class="material-icons" style="font-size: 15px">lock_outline</i>&nbsp;Senha</label>
                  </div>
                </div>
                <div class="col s12 m12">
                  <div class="input-field col s12 m12">
                     <input id="obs" type="text" >
                     <label for="obs"> 
                     <i class="material-icons" style="font-size: 15px">edit</i>&nbsp;Observação</label>
                  </div>
                </div>
               </div>
            </div>
         </div>
   </div>
   </div>
   <div class="modal-footer">
      <!--BUTTON-->
      <div class="col s12 m12">
         <a onclick="changeUserModal(this)" id="btn_atualizar" class="waves-effect waves-light btn mb-1 mr-1">Atualizar</a>      
         <a class="waves-effect waves-light btn mb-1 mr-1 modal-action modal-close waves-effect" style="background-color: #eee"><span style="color:#212529; font-size: 16px; font-weight: bold;">VOLTAR</span></a>
      </div>
</div>
</div>
<!-- INICIO DO MODAL 2 -->
<div id="modalH" class="modal modal-fixed-footer" style="width: 85%; height: 90%;max-height: 85%">
   <div class="modal-content" id="modal3">
      <div class="breadcrumbs-dark pb-0" id="breadcrumbs-wrapper">
         <div class="container" id="modalint">
            <div class="card">
               <div class="row">
                  <div class="container col s12 m12" id="card_finance">
                     <div class="active" style="margin-top: 15px;">
                        <div class="collapsible-header col s12 m12" style=" justify-content: center; height: 50px; background-color: #581848; color: white;">
                           <labe style="margin-top: 0.5em; font-size: 20px; font-weight: bold;">ANEXOS</labe>
                        </div>
                        <div class="row" id="div_files">
                           <div class="col s12 m12">
                                 <div class="col s4 mt-2 ml-3">
                                    <input id="doc_anx" type="file">
                                 </div>
                                 <div class="input-field col s3">
                                    <div class="select-wrapper">
                                       <select name="select" id="tp_anx" class="error" required="true" data-show="search">
                                          <option value="">Tipo do Anexo</option>
                                          {% for k in arr_SearchTypeAnexo%}
                                          <option value="{{ k.id }}">{{ k.tipo_anexo }}</option>
                                          {% endfor %}
                                       </select>
                                    </div>
                                 </div>
                                 <div class="col s2" style="margin-top: 22px">
                                    <a data-target="#CompanyProfile" id="anx_file" class="waves-effect waves-light btn mb-1 mr-1" style="background-color: #ffa726;">Anexar</a>
                                </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col s11 ml-4">
                              <table class="bordered" style="margin-top: 20px">
                                 <thead style="background-color: #581848; color: white; font-size: 15px">
                                    <tr>
                                       <th data-field="id"> Arquivos Anexados</th>
                                       <th data-field="id"> Data e hora</th>
                                       <th data-field="id"> Tipo</th>
                                       <th data-field="name" style="width: 120px;">Ação</th>
                                    </tr>
                                 </thead>
                                 <tbody id="tb_appendAnx">
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                     <div class="active" style="margin-top: 30px;">
                        <div class="collapsible-header col s12 m12" style=" justify-content: center; height: 50px; background-color: #581848; color: white;">
                           <labe style="margin-top: 0.5em; font-size: 20px; font-weight: bold;">HISTÓRICO</labe>
                        </div>
                        <div class="row">
                           <div class="col s12 m12" style="margin-top: 10px;">
                                 <div id="activity" class="col s12 m12 active" style="display: block;">
                                    <div class="activity">
                                       <ul id="historico" class="widget-timeline mb-0">
                                          <td id="null" class="col s12 m12 mb-8" colspan="5" style="text-align: center;">Nenhum Registro Encontrado</td>
                                       </ul>
                                    </div>
                                 </div>
                           </div>
                        </div>
                     </div>
                 </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="modal-footer">
      <!--BUTTON-->
      <div class="col s12 m12 m12">
         <a class="waves-effect waves-light btn mb-1 mr-1 modal-action modal-close waves-effect" style="background-color: #eee"><span style="color:#212529; font-size: 16px; font-weight: bold;">VOLTAR</span></a>
    </div>
</div>
</div>
<!--FIM DO MODAL 2-->

<div class="breadcrumbs-dark pb-0" id="breadcrumbs-wrapper">
   <div class="container"> 
      <div class="card" >
            <!-- Externo -->
         <div id="userint" class="row" >
         <div class="col s12 m12"  style="margin-top: 30px; margin-bottom: 30px;">
               <div class="input-field col s4">
                  <input id="cpf" type="text" onkeyup="searchPatients(this)">
                  <label for="cpf">
                  <i class="material-icons" style="font-size: 15px">person</i>&nbsp;Buscar... </label>
               </div>

            <!--BUTTON-->
            <div class="col s12 m12 ">
               
            </div>
      <!-- COMEÇO DA TABLE -->
            <div class="col s12 m12 scroll">
               <table id="page-length-option" class="bordered" style="overflow-x: auto">
               <thead style="background-color: #581848; color: white; font-size: 15px" >
                  <tr>
                     <th data-field="id" >Nome</th>
                     <th data-field="id" style="text-align: center; width: 300px;">Médico</th>
                     <th data-field="id" style="text-align: center; width: 300px;">Unidade [Relação]</th>
                     <th data-field="name" style="text-align: center; width: 130px;">Ação</th>
                  </tr>
               </thead>
               <tbody id="tb_append">
                  {% for k in arr_SearchIndication %} <!-- ARRAY COM AS INFORMAÇÕES DA TABELA    -->
                  <tr id="tr_{{ k.id }}">
                     <td>{{ k.nome }}</td>
                     <td style="text-align: center;">{{ k.medico_resp }}</td>
                     <td style="text-align: center;">{{ k.unity }} - [{{k.company}}]</td>
                     <td style="text-align: center;">
                        <a href="#modal1" class="modal-trigger" data-id_user="{{ k.id }}" onclick="viewUserModal(this)"> <!-- data-id_user="{{ k.id }}  É TRATADO COMO SE FOSSE UMA VAR DENTRO-->
                           <button class="btn mb-1 waves-effect waves-light ativ" type="submit" name="action" style="margin-left: 5px; width: 15px;padding: 1;padding-right: 8px; background-color: #f5be4600;">
                              <i class="material-icons right" style="color: #f5bd46da">edit</i>
                          </button>
                        </a>
                        <a href="#modalH" class="modal-trigger" data-id_user="{{ k.id }}" onclick="viewHistoricoModal(this)"> <!-- data-id_user="{{ k.id }}  É TRATADO COMO SE FOSSE UMA VAR DENTRO-->
                           <button class="btn mb-1 waves-effect waves-light ativ" type="submit" name="action" style="margin-left: 5px; width: 15px;padding: 1;padding-right: 8px; background-color: #f5be4600;">
                              <i class="material-icons right" style="color: #76c076da;">remove_red_eye</i>
                          </button>
                        </a>
                     </td>
                  </tr>
                  {% endfor %} <!-- FIM DO ARRAY -->
               </tbody>
               </table>
            </div>
            <!-- FIM DA TABLE -->
         </div>
         
      </div>

      
      </div>
   </div>
</div>


<script type="text/javascript">
function searchPatients(object){
   var e = $(object).val().toUpperCase();
    if(e == ""){
        $('#tb_append > tr').each(function() {
            $(this).show();
        });
    } else {
        $('#tb_append > tr').each(function() {
           var trs = $(this).find("td");
           var tr1 = $(trs[0]).text().toUpperCase();
            var check = (tr1.indexOf(e) != -1);
            if(check == true){
                $(this).show();
            } else {
                $(this).hide();
            }
        });
    }
}



$(document).ready(function() {
$('.modal').modal();
$('.modal').css({
   "width":"80%",
});
});

function PesquisarFilter() {
   var tp_category = $("#tp_category").val();
   var formpost = {
      "csrfmiddlewaretoken": $('input[name="csrfmiddlewaretoken"]').val(),
      "tp_category": tp_category,   
   };    
   fetchRequest("{% url 'ApiListPartnes' %}", "POST", "JSON", formpost, function(re) {
      var dados = re["message"];
         $("#tb_append").html("");
      for (k in dados) {
         var key = dados[k];
         var append = '<tr> <td>'+ key["nome"] +'</td> <td style="text-align: center;">'+ key["categoria"] +'</td> <td style="text-align: center">'+ key["status"] +'</td> <td style="text-align: center;"> <a href="#modal1" class="modal-trigger" data-id_user="'+ key["id"] +'" onclick=\"viewUserModal(this)\"> <!-- data-id_user="{{ k.id }}  É TRATADO COMO SE FOSSE UMA VAR DENTRO--> <button class="btn mb-1 waves-effect waves-light ativ" type="submit" name="action" style="margin-left: 5px; width: 15px;padding: 1;padding-right: 8px; background-color: #f5be4600;"><i class="material-icons right" style="color: #f5bd46da">edit</i></button> </a> <button id="btn_status_'+key["id"]+'" onclick=\"changeStatusUser(this)\" data-id_user="'+ key["id"] +'" class="btn mb-1 waves-effect " type="button" name="action" style=" margin-left: 5px; width: 15px;padding: 1;padding-right: 8px; background-color: '+key["btn_status"]+';"><i class="material-icons right">check</i> </button> </td> </tr>'

          $("#tb_append").append(append); //FAZ O APPEND DENTRO DA TABELA
         

      }
      if (dados == ""){// SE O RETORNO DA PESQUISA ESTIVER VAZIO, RETORNA NENHUMA INFORMAÇÃO
            var appende = '<td colspan="5" style="text-align: center; background: #ededeb">Nenhum Registro Encontrado</td>'
            $("#tb_append").append(appende); 
            }
   });
}


class request {
  constructor(token) {
      this.token = token;
  }
  body(to, method, typeMethod, formdata, sucess){
    $.ajax({
        url: to+"?csrfmiddlewaretoken="+this.token,
        type: method,
        dataType: typeMethod,
        data: JSON.stringify(formdata),
        success: function(response) {
            sucess(response);
        },
        error: function (request, status, error) {
            sucess(error);
        }
    });
  }
  put(to, formdata, sucess){
    $.ajax({
        url: to,
        type: "PUT",
        dataType: "JSON",
        headers: {'X-CSRFToken': this.token},
        mode: 'same-origin',
        data: formdata,
        success: function(response) {
            sucess(response);
        },
        error: function (request, status, error) {
            sucess(error);
        }
    });
  }
  get(to, formdata, sucess){
    $.ajax({
        url: to,
        type: "GET",
        dataType: "JSON",
        headers: {'X-CSRFToken': this.token},
        mode: 'same-origin',
        data: formdata,
        success: function(response) {
            sucess(response);
        },
        error: function (request, status, error) {
            sucess(error);
        }
    });
  }
  post(to, formdata, sucess){
    $.ajax({
        url: to,
        type: "POST",
        dataType: "JSON",
        headers: {'X-CSRFToken': this.token},
        mode: 'same-origin',
        data: formdata,
        success: function(response) {
            sucess(response);
        },
        error: function (request, status, error) {
            sucess(error);
        }
    });
  }
  delete(to, formdata, sucess){
    $.ajax({
        url: to,
        type: "DELETE",
        dataType: "JSON",
        headers: {'X-CSRFToken': this.token},
        mode: 'same-origin',
        data: formdata,
        success: function(response) {
            sucess(response);
        },
        error: function (request, status, error) {
            sucess(error);
        }
    });
  }
}

function deleteFile(object){//FUNCTION DO ONCLICK PARA VER ARQUIVOS
   var path = $(object).data("path"); //objeto usuario que compoe um data-id_user
   var formpost = {
      "csrfmiddlewaretoken": $('input[name="csrfmiddlewaretoken"]').val(),
      "path": path //DICT COM O VALOR DO ID
   };     

   let r = new request($('{% csrf_token %}').val());
   r.delete("{% url 'FetchPatientsFiles' %}", formpost, function(re) {
      if(re["response"] == true){
         alert(re["message"]);
         $(object).closest("tr").remove();
      } else {
         alert(re["message"]);
      }
   });
}

function viewHistoricoModal(object){//FUNCTION DO ONCLICK PARA VER ARQUIVOS
   var id_user = $(object).data("id_user"); //objeto usuario que compoe um data-id_user

   $("#btn_salvar").data("id_user", id_user); 
   $("#anx_file").data("id_user", id_user);

   $("#modal3").hide();
   $(object).prop("disabled", true);
   
   var formpost = {
      "csrfmiddlewaretoken": $('input[name="csrfmiddlewaretoken"]').val(),
      "id_user": id_user //DICT COM O VALOR DO ID
   };     

   let r = new request($('{% csrf_token %}').val());
   r.post("{% url 'ApiListDocsPatients' %}", formpost, function(re) {
      if(re["response"] == true){
         $("#modal3").show();
         var dados = re["message"];
         var docs = dados["docs"];
         var ap = "";
     
            $.map(docs, function(n, i){
             ap += `
               <tr id="tr_${n.id}"> 
                  <td>${n.name}</td>
                  <td>${n.date_create.pt}</td>
                  <td>${n.type_desc}</td>
                  <td style="text-align: center;">
                      <a onclick=\"deleteFile(this)\" style="cursor: pointer; width: 15px;padding: 1;padding-right: 8px; background-color: #c74d4d;" href="#" data-path="${n.path}" class="btn mb-1 waves-effect waves-light ativ">
                        <i class="material-icons right">delete</i>
                     </a>
                     <a data-url="${n.path}" data-id="${n.name}" onclick=\"viewFile(this)\" class="btn mb-1 waves-effect waves-light ativ" type="button" name="action" style=" width: 15px;padding: 1;padding-right: 8px; background-color: #f5bd46da;"><i class="material-icons right">cloud_download</i></a>
                  </td>
               </tr>
            `;

         });
            $("#tb_appendAnx").html(ap);
         
         

         // SECTION HISTÓRICO
         var history = dados["history"];
         var ap2 = "";

         $.map(history, function(n, i){
         ap2 += `
               <li class="timeline-items timeline-icon-green active">
                  <div class="timeline-time">${n.date_register}</div>
                  <h6 class="timeline-title">${n.type_operation}</h6>
                  <p class="timeline-text">${n.description}</p>
               </li>
            `;

         });
         $("#historico").html(ap2);
         if (ap2 != ''){
            $("#null").hide();

         }
         
       
      } else {
         alert(re["message"]);
      }
   });


//function para exibir histórico
 
}

//VISUALIZA O APPEND
function viewFile(object) {
    var path = $(object).data("url");
    var filename = $(object).data("id");
    var a = document.createElement("a");
    a.href = "/docs/" + path;
    a.download = filename;
    document.body.appendChild(a);
    a.click();
}

function viewUserModal(object){//FUNCTION DO ONCLICK
   var id_user = $(object).data("id_user"); //objeto usuario que compoe um data-id_user
   $("#btn_atualizar").data("id_user", id_user); // para ter o data, precisa conter os seguintes parametros: elemento, key, value

   $("#modal2").hide();
     $(object).prop("disabled", true);
     var formpost = {
      "csrfmiddlewaretoken": $('input[name="csrfmiddlewaretoken"]').val(),
      "id_user": id_user //DICT COM O VALOR DO ID
   };

fetchRequest("{% url 'ApiViewDataPatientsModal' %}", "POST", "JSON", formpost, function(re){ // A URL É COMPOSTA PELO NAME DE UMA URL
   if(re["response"] == false){ 
      alert("Nenhum dado encontrado.");// VERIFICA SE A INFO É VÁLIDA, SE NÃO, MESSAGE
   } else { //SE FOR VERDADDEIRA, PROSSEGUE
      $("#modal2").show();
      var key = re["message"]; // NO DECORATOR, A MENSAGEM RETORNA O VALOR DO DICT, NESSE CASO É DECLARADO EM UM DICT: "id_campo" : key[valor-do-grupo][valor-do-key]
      var dictKeys = {// nome id / nome do grupo/ nome do value
         "tp_conv": key["med"]["conv"],
         "doctor_resp": key["med"]["name_doctor"],
         "responsable_at": key["med"]["name_responsable"],
         "company": key["med"]["company"],

         "name": key["personal"]["name"],
         "cpf": key["personal"]["cpfcnpj"],
         "date_nasc": key["personal"]["birthday"],

         "email": key["contacts"]["email"],
         "tel1": key["contacts"]["phone"],
         "tel2": key["contacts"]["phone_aux"],

         "zipcode": key["address"]["zipcode"],
         "addres": key["address"]["street"],
         "number": key["address"]["street_number"],
         "complement": key["address"]["complement"],
         "district": key["address"]["district"],
         "city": key["address"]["city"],
         "uf": key["address"]["state"],

         "obs": key["obs"]["obs"],
         "login": key["obs"]["login"],
         "senha": key["obs"]["senha"],
      }
      
      $.map(dictKeys, function(n, i){ // map é usado para traduzir ou mapear os elementos de um array para outro conjunto de valores
         $(`#${i}`).val(n);
         var findLabel = $(`#${i}`).closest("div");
         $(findLabel).find("label").attr("class", "active");
         if(i == "tp_conv"){
               var valueObject = $("#tp_conv option:selected").text();
               $("input[class='select-dropdown dropdown-trigger']").val(valueObject);
               $('li[class="selected"]').attr("class", "");
               var findObject = $(`span:contains(${valueObject})`).closest("li");
               $(findObject).attr("class", "selected");
            }
      });
      $("#btn_cadastrar").data("id_user", key["id"]); //ATRIBUI UM NOVO VALOR PARA O ID
   }
});
}


function changeStatusUser(object){
/*var id_user = $(object).data("id_user"); //objeto usuario que compoe um data-id_user
var formpost = {
   "csrfmiddlewaretoken": $('input[name="csrfmiddlewaretoken"]').val(),
   "id_user": id_user //DICT COM O VALOR DO ID
};

fetchRequest("{% url 'ApiChangeStatus' %}", "POST", "JSON", formpost, function(re){ // A URL É COMPOSTA PELO NAME DE UMA URL
   if(re["response"] == false){ 
      alert("Nenhum dado encontrado.");// VERIFICA SE A INFO É VÁLIDA, SE NÃO, MESSAGE
   } else { //SE FOR VERDADEIRA, PROSSEGUE
      var key = re["message"]; // NO DECORATOR, A MENSAGEM RETORNA O VALOR DO DICT, NESSE CASO É DECLARADO EM UM DICT: "id_campo" : key[valor-do-grupo][valor-do-key]
      $(`#tr_${id_user} > td`).eq(2).text(key["status"]);
      $(`#btn_status_${id_user}`).css("background-color", key["btn_status"]
      )
   }
});*/ 
alert("Neste momento esta função ainda não está disponível. ⚠️ Em caso de dúvidas, entre em contato com o suporte.")
}


$("#doc_anx").click(function(){
   $("#doc_anx").val("");
});

function removeFileExists(object){
   $(object).closest("tr").remove();
   $("#doc_anx").val("");
}


function changeUserModal(object){
   email = $("#email").val()

   //VALIDAÇÃO DE CAMPO EMAIL
   var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,})+$/; // filtro
   if(!filter.test(email) && email != ""){
      alert('Insira um email válido.');
      $("#email").focus();
      return false;
   } 
   
   $("#btn_atualizar").attr("disabled", true);   

   var id_user = $(object).data("id_user"); //objeto usuario que compoe um data-id_user
   var formpost = {
      "csrfmiddlewaretoken": $('input[name="csrfmiddlewaretoken"]').val(),
      "id_user": id_user //DICT COM O VALOR DO ID
   };

   $("#modalint input, #modalint select").each(function(){
      formpost[$(this).attr("id")] = $(this).val();
   });

   fetchRequest("{% url 'ApiChangePatientsModal' %}", "POST", "JSON", formpost, function(re){ // A URL É COMPOSTA PELO NAME DE UMA URL
      if(re["response"] == false){ 
         alert("Nenhum dado encontrado.");// VERIFICA SE A INFO É VÁLIDA, SE NÃO, MESSAGE
      } else { //SE FOR VERDADDEIRA, PROSSEGUE
         alert(re["message"]);
         location.reload();

      }  
   });

}

function AnxDoc(object) {
    $("#anx_file").attr("disabled", true);

    var timeElapsed = Date.now();
    var today = new Date(timeElapsed);
    
    var id_user = $(object).data("id_user");

    var typeFile = $("#tp_anx option:selected").text(); 
    var name_file = $('#doc_anx').val().split('\\').pop();
    var data = today.toLocaleDateString();

    var files = $("#doc_anx")[0].files[0];
    if ($("#doc_anx").val() != "") {    //verificação para preencher o tipo do arquivo.
        if ($("#doc_anx").prop("files") != undefined) {
            if ($("#tp_anx").val() == "") {
                return alert("Preencha o tipo de anexo para prosseguir.");
            } else {
                files = document.querySelector("#doc_anx").files[0];
            }
        } else {
            files = "";
        }
    } else {
        files = "";
    }
    
   
   var Csrftoken = $('input[name="csrfmiddlewaretoken"]').val(); 
    var formpost2 = {
        "id_user": id_user,
    };
    var formpost = [{
            "name": "csrfmiddlewaretoken",
            "value": $('input[name="csrfmiddlewaretoken"]').val()
        },
        {
            "name": "file",
            "value": files
        },
        {
            "name": "id_user",
            "value": id_user
        },
        {
            "name": "type_doc",
            "value": $("#tp_anx").val()
        },
        {
            "name": "data",
            "value": JSON.stringify(formpost2)
        },
    ];

    fetchRequestFiles("{% url 'ApiPathDocsPatients'  %}", "POST", "JSON", formpost, function(re) {
        if (re["response"] == false) {
            $("#anx_file").attr("disabled", false);

            alert("Nenhum dado encontrado.");
        }else{
            $("#anx_file").attr("disabled", false);

          var append = `
            <tr> 
                <td>${name_file}</td>
                <td>${data}</td>
                <td>${typeFile}</td>
                <td style="text-align: center;">
                    <a onclick=\"removeFileExists(this)\" style="cursor: pointer; width: 15px;padding: 1;padding-right: 8px; background-color: #c74d4d;" href="#" data-path="/patients/process/111/2/Detran (1).pdf" class="btn mb-1 waves-effect waves-light ativ">
                        <i class="material-icons right">delete</i>
                    </a>
                </td>
            </tr>
            `;

            $("#tb_appendAnx").append(append);
            alert("Anexado")

          }

    });
}


$("#anx_file").click(function(){
    AnxDoc(this);
});



</script>
{% endblock %}