{% load static %}
{% load functions %}
{% define request.user.username|allDataUser as infoUser %}

{% define request.user.username|fetchUser as NameUserrLog%}
<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    

    <meta name="author" content="ThemeSelect">
    <title>{% block title %}{% endblock %}</title>
    <link rel="apple-touch-icon" href="{% static '/app-assets/images/favicon/apple-touch-icon-152x152.png' %}">
    <link rel="shortcut icon" href="{% static 'app-assets/ico/AlvoShiloh.ico' %}" type="image/x-icon"> <!--ICONE SUPERIOR-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- BEGIN: VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="{% static '/app-assets/vendors/vendors.min.css' %}"> 
    <link rel="stylesheet" type="text/css" href="{% static '/app-assets/vendors/chartist-js/chartist.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/app-assets/vendors/chartist-js/chartist-plugin-tooltip.css' %}">


    <!-- END: VENDOR CSS-->
    <!-- BEGIN: Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="/app-assets/css/themes/vertical-modern-menu-template/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/themes/vertical-modern-menu-template/style.min.css">
    <!-- END: Page Level CSS-->
    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="{% static '/app-assets/css/custom/custom.css' %}">
    <!-- END: Custom CSS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <!--CEP-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
<!-- mask-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.3.1/jquery.maskedinput.min.js"></script>

    

    <!--  SCROLLBAR-->
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/chartist-js/chartist-plugin-tooltip.css' %}">

    <!-- DROPIFY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://jeremyfagis.github.io/dropify/dist/js/dropify.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://jeremyfagis.github.io/dropify/dist/css/dropify.min.css">


    <!--SELECT2 COM PESQUISA-->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
      <!-- >>>> SELECT2 PATH
        <link rel="stylesheet" type="text/css" href="{% static 'css/pages/form-select2.min.css' %}">
      -->
 
</head>
<!-- END: Head-->

<body class="vertical-layout vertical-menu-collapsible page-header-dark vertical-modern-menu preload-transitions 2-columns   " data-open="click" data-menu="vertical-modern-menu" data-col="2-columns">
   
<!--HEAD -->
<style>
  @media only screen and (max-width: 1200px){
    .scroll{
      overflow-x: auto;
    } 
    .cardHeader{
      font-size: 15px;
      margin-top: 0.9em;
    }
}
/* CAMPO DO LOADING PAGE */
@media only screen and (max-width: 500px){
  .loading-page-filtro-screen {
    width: 92vw;
    height: 100vh;
    display: flex;
    align-content: flex-end;
    align-items: center;
    justify-content: space-around;
  }
}

@media only screen and (min-width: 501px){
  .loading-page-filtro {
    width: 75vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
  }  
}
/* FIM DO CAMPO LOADING PAGE */

  .upper{
  text-transform: capitalize;
}

.images{
    height: 50px;
    width: 50px;
    margin-top:8px;
    margin-right:3px;
    position: relative;
    border: 2px solid #ce93d8;
    border-radius: 100%;
  }
  .images img {

    position: absolute;
    width: 100%;
    height:100%;
    border-radius: 100%;
  }


</style>

<header class="page-topbar" id="header">
    <div class="navbar navbar-fixed"> 
      <nav class="navbar-main navbar-color nav-collapsible sideNav-lock navbar-dark #ffebee red lighten-5 no-shadow">
        <div class="nav-wrapper col">
          <div class="header-search-wrapper hide-on-med-and-down" >
            <i class="material-icons">search</i>
            <input placeholder="Pesquisar" style="background-color: #5818482a;" class="header-search-input z-depth-2" type="text" name="Search" data-search="template-list">
            <ul class="search-list collection display-none ps"><div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></ul>
          </div>
            <ul class="navbar-list right">
              <!--NOTIFICAÇÃO-->
            <!-- <li class="hide-on-large-only search-input-wrapper"><a class="waves-effect waves-block waves-light search-button" href="javascript:void(0);"><i class="material-icons">search</i></a></li>
            <li><a class="waves-effect waves-block waves-light notification-button" href="javascript:void(0);" data-target="notifications-dropdown"><i class="material-icons" style="color: #911001;">notifications_none<small class="notification-badge">5</small></i></a><ul class="dropdown-content" id="notifications-dropdown" tabindex="0">
            <li tabindex="0">
              <h6>NOTIFICATIONS<span class="new badge">5</span></h6>
            </li>
            <li class="divider" tabindex="0"></li>
            <li tabindex="0"><a class="black-text" href="#!"><span class="material-icons icon-bg-circle cyan small">add_shopping_cart</span> A new order has been placed!</a>
              <time class="media-meta grey-text darken-2" datetime="2015-06-12T20:50:48+08:00">2 hours ago</time>
            </li>
            <li tabindex="0"><a class="black-text" href="#!"><span class="material-icons icon-bg-circle red small">stars</span> Completed the task</a>
              <time class="media-meta grey-text darken-2" datetime="2015-06-12T20:50:48+08:00">3 days ago</time>
            </li>
            <li tabindex="0"><a class="black-text" href="#!"><span class="material-icons icon-bg-circle teal small">settings</span> Settings updated</a>
              <time class="media-meta grey-text darken-2" datetime="2015-06-12T20:50:48+08:00">4 days ago</time>
            </li>
            <li tabindex="0"><a class="black-text" href="#!"><span class="material-icons icon-bg-circle deep-orange small">today</span> Director meeting started</a>
              <time class="media-meta grey-text darken-2" datetime="2015-06-12T20:50:48+08:00">6 days ago</time>
            </li>
            <li tabindex="0"><a class="black-text" href="#!"><span class="material-icons icon-bg-circle amber small">trending_up</span> Generate monthly report</a>
              <time class="media-meta grey-text darken-2" datetime="2015-06-12T20:50:48+08:00">1 week ago</time>
            </li>
          </ul></li> -->

          <!--MEU PERFIL-->
          <li style="padding-right: 14px;">
            <div class="images">
                {% for k in arr_ViewFoto %}  
                <img src="{{ k.url }}" /> <!--on.error=-->
                {% endfor %}
            </div>
          </li>
          <li>
            <b style="color:black; font-size: 15px;"> {{ NameUserrLog.nome }} <i class="light-green-text material-icons" style="font-size: 10px;">
              fiber_manual_record </i></b>
          </li>
            <li>
              <a class="waves-effect waves-block waves-light profile-button" href="javascript:void(0);" data-target="profile-dropdown"><span class=" "><img src="{% static 'app-assets/ico/AlvoShiloh.ico' %}" width="30" alt="avatar" style="margin-top: 10px;"></span></a>
              <ul class="dropdown-content" id="profile-dropdown" tabindex="0">
                <li><a href="{% url 'myProfile' %}" class="grey-text text-darken-1"><i class="material-icons grey-text text-darken-1" style="font-size: 15px;">person</i><span data-i18n="Sweetalert">Meu Perfil</span></a>
                <li><a href="{% url 'cadastreIndication' %}" class="grey-text text-darken-1"><i class="material-icons grey-text text-darken-1" style="font-size: 15px;">thumb_up</i><span data-i18n="Sweetalert">Indicar</span></a>
                  <li tabindex="0"><a class="grey-text text-darken-1" Target="_blank" href="https://api.whatsapp.com/send?phone=551197391-3314&text=Olá, estou com dúvidas referente ao sistema Shiloh Centro! ⚠️"><i class="material-icons">help_outline</i>Ajuda</a></li>
                <li class="divider" tabindex="0"></li>
                <li tabindex="0"><a class="grey-text text-darken-1" href="/accounts/logout"><i class="material-icons">keyboard_tab</i>Sair</a></li>
              </ul>
            </li>
          </ul>
          <!-- FIM DO MEU PERFIL-->
        </div>
      </nav>
    </div>
  </header>
<!--FIM HEAD-->


    <!-- INICIO DO MENU -->
    <aside class="sidenav-main nav-expanded nav-lock nav-collapsible sidenav-light sidenav-active-square">
      <div class="brand-sidebar">
            <h1 class="logo-wrapper">
                <a class=" darken-1" href="{% url 'home' %}">
                    <img class=" hide-on-med-and-down" style=" margin-top:15px;margin-left:8px; height: 50px;  width: 250px;" src="{% static 'app-assets/ico/logomenu2.png' %}" /><!--LOGO MENU-->
                </a>
                <span class="hide-on-med-and-down" style="font-size: 24px;"></span>
            </h1>
        </div>
        
        {% block contentmenu %} 
          {% include 'menu.html' %}
        {% endblock %}
    </aside>
    <!-- FIM DO MENU-->
    
    <div id="main">
        <div class="row">
            <div class="col s12">
              {% csrf_token %}


              {% block modal_loading %}
                <div id="modalloading1" class="modal open" tabindex="0" style="z-index: 1003;display: none;top: 35%;transform: scaleX(1) scaleY(1);background-color: transparent; box-shadow: 0">
                  <div class="modal-content" style="text-align: center">
                    
                    <div class="preloader-wrapper active">
                  <div class="spinner-layer spinner-red-only" style="border-color: white">
                    <div class="circle-clipper left">
                      <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                      <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                      <div class="circle"></div>
                    </div>
                  </div>
                </div>
                <h5 style="color: white">Carregando...</h5>
                  </div>
                  
                </div>
                <div id="modalloading" class="modal-overlay" style="z-index: 1002; display: none; opacity: 0.5;"></div>
              {% endblock %}

              {% include '_loading.html' %}

              <div class="container">
                <div class="card" >
                   <div class="card-content" style="margin-top: 25px;">
                      <h5 class="corfont">{% block description-page  %}{% endblock %}</h5>
                   </div>
                </div>
             </div>

 
              {% block content %}{% endblock %}

                <div class="content-overlay"></div>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
 <!--     <footer class="page-footer footer footer-static footer-dark #ffb5e0s red lighten-5 gradient-shadow" style="position:inherit;">
        <div class="footer-copyright">
            <div class="container">
                <center>
                    <span style="color:#911001">&copy; 2021 - ShilohCentro</span>
                </center>
            </div>
        </div>
    </footer>-->

    <!-- END: Footer-->
    <!-- BEGIN VENDOR JS-->
    <script src="/app-assets/js/vendors.min.js"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS
    <script src="/app-assets/vendors/chartjs/chart.min.js"></script>
    <script src="/app-assets/app-assets/vendors/chartist-js/chartist.min.js"></script>
    <script src="/app-assets/app-assets/vendors/chartist-js/chartist-plugin-tooltip.js"></script>
    <script src="/app-assets/app-assets/vendors/chartist-js/chartist-plugin-fill-donut.min.js"></script>
    -->
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN THEME  JS-->
    <script src="/app-assets/js/plugins.min.js"></script>
    <script src="/app-assets/js/search.min.js"></script>
    <script src="/app-assets/js/custom/custom-script.min.js"></script>
    <script src="/app-assets/app-assets/js/scripts/customizer.min.js"></script>
    <!-- END THEME  JS-->
    <!-- BEGIN PAGE LEVEL JS
    <script src="/app-assets/app-assets/js/scripts/dashboard-modern.js"></script>
    <script src="/app-assets/app-assets/js/scripts/intro.min.js"></script>
    -->
    <!-- END PAGE LEVEL JS-->



</body>

</html>

<script>

function fetchRequest(url_f, type_f, dataType_f, data_post, sucess){
    $.ajax({
    url: url_f,
    type: type_f,
    dataType: dataType_f,
    data: data_post,
    success: function(return_FETCH) {
        response = return_FETCH;
        sucess(response);
 
    },
    error: function (request, status, error) {
        alert("Não foi possível carregar a função.");
    }
    });
}

function fetchRequestFiles(url_f, type_f, dataType_f, data_post, sucess){
  var form = new FormData();
  for(k in data_post){
    var y = data_post[k];
    if(y["name"] == "files"){
        for (var x = 0; x < y["value"].length; x++) {
            form.append("files[]", y["value"][x]);
        }
    } else {
        form.append(y["name"], y["value"]);
    }
  }
  $.ajax({
    url: url_f,
    type: type_f,
    data: form,
    cache: false,
    contentType: false,
    processData: false,
    success: function(return_FETCH) {
      response = return_FETCH;
      sucess(response);
    },
    error: function (request, status, error) {
        alert("Não foi possível carregar a função.");
    }
  });
}
</script>
<script type="text/javascript">
function showLoadingPage(object){
  if(object == "show"){
    $("#modalloading").show();
    $("#modalloading1").show();
  } else {
    $("#modalloading").hide();
    $("#modalloading1").hide();
  }
}

showLoadingPage("show");
$(document).ready(function(){ // tooltip
  showLoadingPage("close");
});
</script>