{% extends 'base.html' %}
{% load static %}
{% block title %}Página principal{% endblock %}
{% block icon-page %}
metismenu-icon lnr-apartment icon-gradient bg-sunny-morning
{% endblock %}
{% block title-page %}
Página inicial
{% endblock %}
{% block description-page %}
Acompanhe as últimas notícias!
{% endblock %}
{% block content %}

<style type="text/css">
   .corfont{
   color: #641108;
   font-weight: bold;
   }
</style>

<div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
<div class="container">
   <div class="card" >
      <div class="card-content" style="margin-top: -40px;">
         <h5 class="corfont">CADASTRAR PARCEIRO</h5>
      </div>
   </div>
</div>
<div class="container">
   <div class="card" >
         <!-- Externo -->
      <div id="userint" class="row" >
        <div class="col s12">
          <div class="input-field col s3">
             <input id="cpf" type="text" class="validate">
             <label for="cpf">
             <i class="material-icons" style="font-size: 15px">featured_play_list</i>&nbsp;CPF</label>
          </div>
          <div class="input-field col s5">
             <input id="name" type="text" class="validate">
             <label for="name">
             <i class="material-icons" style="font-size: 15px">person</i>&nbsp;Nome</label>
          </div>
          <div class="input-field col s4">
             <input id="crn" type="text" class="validate" >
             <label for="crn">CRN</label>
          </div>
       </div>
       <div class="col s12">
          <div class="input-field col s8">
             <input id="email" type="email" class="validate">
             <label for="email">
             <i class="material-icons" style="font-size: 15px">email</i>&nbsp;E-mail</label>
          </div>
          <div class="input-field col s2">
             <input id="tel1" type="tel" class="validate">
             <label for="tel1">
             <i class="material-icons" style="font-size: 15px">phone</i>&nbsp;Telefone 1</label>
          </div>
          <div class="input-field col s2">
             <input id="tel2" type="tel" class="validate">
             <label for="tel2">
             <i class="material-icons" style="font-size: 15px">phone</i>&nbsp;Telefone 2</label>
          </div>
       </div>
       <div class="col s12">
          <div class="input-field col s3">
             <input id="zipcode" type="text" class="validate">
             <label for="zipcode">
             <i class="material-icons" style="font-size: 15px">place</i>&nbsp;CEP </label>
          </div>
          <div class="input-field col s7">
             <input id="addres" type="text" class="validate">
             <label for="addres">Logradouro </label>
          </div>
          <div class="input-field col s2">
             <input id="number" type="text" class="validate">
             <label for="number">Número </label>
          </div>
       </div> 
       <div class="col s12">
          <div class="input-field col s3">
             <input id="complement" type="text" class="validate">
             <label for="complement">Complemento</label>
          </div>
          <div class="input-field col s7">
             <input id="district" type="text" class="validate">
             <label for="district">Bairro</label>
          </div>
          <div class="input-field col s2">
             <div class="select-wrapper" >
                <select id="uf" class="error validate" required="">
                   <option value="">Selecione1</option>
                   <option value="">Selecione</option>
                </select>
             </div>
          </div>
       </div>
       <div class="input-field col s12">
         <div class="input-field col s12">
            <input id="obs" type="text" class="validate">
            <label for="obs">
               <i class="material-icons" style="font-size: 15px">mode_edit</i>&nbsp;Observação</label>
         </div>
      </div>
        

         <!--BUTTON-->
         <div class="col s12 ">
            <div class="col s12 mb-2">
               <button onclick="CadastreUser()"id="btn_cadastrar" class="waves-effect waves dark btn next-step" type="submit" style="width: 100%; margin-top: 10px">
               <span style="font-weight: bold; color: white; font-family:Verdana, Geneva, Tahoma, sans-serif">Cadastrar</spanpx>
               </button>
            </div>
         </div>
      </div>
   </div>
</div>

<script type="text/javascript">

  $('#tp_perfil').change(function(){
      if($('#tp_perfil').val() == 'value') {
          $('#userint').show(); 
      } else {
          $('#userint').hide(); 
      }
  });


  function CadastreUser(){
      var tp_perfil = $("#tp_perfil").val();
      var cpf = $("#cpf").val();
      var name = $("#name").val();
      var crn = $("#crn").val();
      var email = $("#email").val();
      var tel1 = $("#tel1").val();
      var tel2 = $("#tel2").val();
      var zipcode = $("#zipcode").val();
      var addres = $("#addres").val();
      var number = $("#number").val();
      var complement = $("#complement").val();
      var district = $("#district").val();
      var uf = $("#uf").val();
      var obs = $("#obs").val();

      console.log(tp_perfil);
  }

</script>
{% endblock %}