{% extends 'base.html' %}
{% load static %}
{% block title %}Shiloh | Ajustar Rota{% endblock %}
{% block icon-page %}
metismenu-icon lnr-apartment icon-gradient bg-sunny-morning
{% endblock %}
{% block title-page %}
Página inicial 
{% endblock %}
{% block description-page %}
ROTA{% endblock %}
{% block content %}

<style type="text/css">
   .corfont{
   color: #641108;
   font-weight: bold;
   }
</style>
<div class="breadcrumbs-dark pb-0 pt-4" >
    <div class="container">
       <div class="card" >
          <div class="card-content" style="margin-top: -30px;">
             <h5 class="corfont">FAZER ROTA</h5>
          </div>
       </div>
    </div>
    <div class="container">
        <div class="card" >
            <!-- Externo -->
            <div  class="row">
                <div class="col m12 s12"  style="margin-top: 30px;">
                    <div class="input-field col m4 s12">
                        <input id="bscinput" type="text" onkeyup="SearchUsers(this)">
                        <label for="bscinput">
                        <i class="material-icons" style="font-size: 15px">person</i>&nbsp;Buscar por nome...</label>    
                    </div>
                    <div class="input-field col m8 s12" >                   
                    </div>
                </div>
            </div>
            <div class="row">
                <div class=" container">
                <!-- COMEÇO DA TABLE -->
                    <div class="col m12 s12">
                        <table class="bordered" style="margin-bottom: 50px; overflow-x: auto">
                        <thead style="background-color: #581848; color: white; font-size: 15px" >
                            <tr>
                            <th data-field="schedulingt" style="text-align: center; width: 50px;">Data</th>
                            <th data-field="namet" style="text-align: center; width: 250px;">Paciente</th>
                            <th data-field="zipcode" style="text-align: center; width: 100px;">CEP</th>
                            <th data-field="nurset" style="text-align: center; width: 150px;">Enfermeiro</th>
                            <th data-field="doctort" style="text-align: center; width: 80px;">Horário</th>
                            <th data-field="actiont" style="text-align: center; width: 30px;">Ação</th>
                            </tr>
                        </thead>
                        <tbody id="tb_append">
                            {% for k in arr_SearchAdjustRoute %}
                            <tr>
                                <td id="date_age" style="text-align: center;">{{ k.date_age }}</td>
                                <td style="text-align: center;">{{ k.paciente }}</td>
                                <td style="text-align: center;">{{ k.cep }}</td>                                
                                <td style="text-align: center;">
                                    <select name="nurse" class="nurseclass">
                                        <option value="">Enfermeiro(a)</option>
                                        {% for nurse in arr_SearchNurse %}
                                        <option value="{{ nurse.id }}">{{ nurse.nome }}</option>
                                        {% endfor %}
                                    </select>   
                                </td>
                                <td style="text-align: center;">
                                    <select name="select" class="hr_agenda">
                                        <option value="">Horário:</option>
                                        <option value="07:00">07:00</option>
                                        <option value="08:00">08:00</option>
                                        <option value="09:00">09:00</option>
                                        <option value="10:00">10:00</option>
                                        <option value="11:00">11:00</option>
                                        <option value="12:00">12:00</option>
                                        <option value="13:00">13:00</option>
                                    </select>
                                </td>
                                
                                <td style="text-align: center;">                                
                                    <button id="btn_salvar" onclick="changeAdjustRoute(this)" data-id_agen="{{ k.id }}" class="btn mb-1 waves-effect " type="button" name="action" style=" margin-left: 5px; width: 15px;padding: 1;padding-right: 8px; background-color: #76c076da;">
                                        <i class="material-icons right">check</i>
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.3.1/jquery.maskedinput.min.js"></script>
<script type="text/javascript">

    function SearchUsers(object){
        var e = $(object).val().toUpperCase();
        if(e == ""){
             $('#tb_append > tr').each(function() {
                 $(this).show();
             });
        } else {
            $('#tb_append > tr').each(function() {
                var trs = $(this).find("td");
                var tr1 = $(trs[0]).text().toUpperCase();
                var check = (tr1.indexOf(e) != -1);
                if(check == true){
                     $(this).show();
                } else {
                     $(this).hide();
                }
            });
        }
    }

        $(function Select(){
            $('.nurseclass').change(function(){
                nurse = this.value; // valor que o usuário escolheu para a lista 1
            });

            $('.hr_agenda').change(function(){
                hr_agenda = this.value;//valor que o usuário escolheu para a lista 1
                
            });
        })

    function changeAdjustRoute(object, Select){
        var hora_val = $(".hr_agenda").val();
        var nurse_val = $(".nurseclass").val();

        if (hora_val == "" || nurse_val == ""){
            alert("Prencha todos os campos.")
        }

        var id = $(object).data("id_agen");

        var formpost = {
            "csrfmiddlewaretoken": $('input[name="csrfmiddlewaretoken"]').val(),
            "id": id,
            "nurse": nurse,
            "hr_agenda": hr_agenda,
        };
     
        fetchRequest("{% url 'ApiAdjustRoute' %}", "POST", "JSON", formpost, function(re){
            if(re["response"] == false){ 
                alert("Não foi possível prosseguir.");
            } else {
                $(object).closest('tr').remove()
            }
        });
     
    }
</script>
{% endblock %}