{% extends 'base.html' %}
{% load static %}
{% block title %}Shiloh | Coletas Agendadas Todas Unidades{% endblock %}
{% block icon-page %}
metismenu-icon lnr-apartment icon-gradient bg-sunny-morning
{% endblock %}
{% block title-page %}
Página inicial 
{% endblock %}
{% block description-page %}
CONSULTAR AGENDAMENTOS{% endblock %}
{% block content %}

<style type="text/css">
   .corfont{
   color: #641108;
   font-weight: bold;
   }
</style>

<!-- INICIO DO MODAL -->
<div id="modal1" class="modal modal-fixed-footer" style="width: 85%; height: 90%;max-height: 85%">
   <div class="modal-content" id="modal2">
      <div class="card-content" style="margin-top: 50px;">
         <input readonly="readonly" style="color: black; font-size: 30px; border-bottom: none;" id="company" type="text" >
         <input readonly="readonly" style="color: black; font-size: 30px; border-bottom: none; display: none;" id="statusM" type="text" >
         <!--
         <input readonly="readonly" style="color: black; font-size: 15px; border-bottom: none;" id="motivo_S" type="text" >
         -->
         <div class="container ">
            <ul class="collapsible expandable " >
               <li class="active" >
                  <div class="collapsible-header col s12" style=" justify-content: center; height: 50px; background-color: #581848; color: white;" >
                     <labe style="margin-top: 0.5em; font-size: 20px; font-weight: bold;">DADOS DO AGENDAMENTO</labe>
                  </div>
                  <div id="card_ag" class="row" >
                     <div class="col s12"  style="margin-top: 10px;">
                        <div class="input-field col m3 s12">
                           <input id="date_age" type="date" >
                           <label for="date_age">Data Agendamento</label>
                        </div>
                        <div class="input-field col m3 s12">
                           <input id="hr_age" type="text" placeholder="00:00">
                           <label for="hr_age">
                           <i class="material-icons" style="font-size: 15px">access_time</i>&nbsp;Horário</label>
                        </div>
                        <div class="input-field col m3 s12">
                           <input readonly="readonly" style="color: black;" id="tp_service" type="tel"/>
                           <label for="tp_service" class="active">
                           <i class="material-icons" style="font-size: 15px">phone</i>&nbsp;Tipo de Serviço <a class="btn tooltipped btn-floating mb-1 btn-flat waves-effect accent-2 white-text" data-position="right" data-tooltip="Esse campo não pode ser editado." style="border-radius: 100%;width: 7px;height: 7px; background: rgb(184, 182, 182);"></a>
                        </label>
                           
                        </div>
                        <div class="input-field col m3 s12" >
                           <input readonly="readonly" style="color: black;" id="tp_exame" type="text">
                           <label for="tp_exame" class="active">
                           <i class="material-icons" style="font-size: 15px">phone</i>&nbsp;Tipo do Exame <a class="btn tooltipped btn-floating mb-1 btn-flat waves-effect accent-2 white-text" data-position="right" data-tooltip="Esse campo não pode ser editado." style="border-radius: 100%;width: 7px;height: 7px; background: rgb(184, 182, 182);"></a></label>
                        </div>
                     </div>
                     <div class="input-field col s12" >
                        <div class="input-field col m3 s12" style="margin-top: 37px;">
                           <input readonly="readonly" style="color: black;" id="tp_conv" type="text">
                           <label for="tp_conv" class="active">
                           <i class="material-icons" style="font-size: 15px">phone</i>&nbsp;Convênio <a class="btn tooltipped btn-floating mb-1 btn-flat waves-effect accent-2 white-text" data-position="right" data-tooltip="Esse campo não pode ser editado." style="border-radius: 100%;width: 7px;height: 7px; background: rgb(184, 182, 182);"></a></label>
                        </div>
                        <div class="input-field col m3 s12" >
                           <div class="select-wrapper">
                              <label class="active">Enfermeiro</label>
                              <select name="select" id="nurse" class="error" required="true" data-show="search">
                                 <option value="">Enfermeiro</option>
                                 {% for nurse in arr_SearchNurse_Active %}
                                 <option value="{{ nurse.id }}">{{ nurse.nome }}</option>
                                 {% endfor %}
                              </select>
                           </div>
                        </div>
                     </div>
                  </div>
               </li>
               <!--CARD 2-->
               <li class="active"  style="margin-top: 30px;">
                  <div class="collapsible-header col s12" style=" justify-content: center; height: 50px; background-color: #581848; color: white;" >
                     <labe style="margin-top: 0.5em; font-size: 20px; font-weight: bold;">PACIENTE</labe>
                  </div>
                  <div id="userint" class="row" >
                     <div class="col s12"  style="margin-top: 10px;">
                        <div class="input-field col m6 s12">
                           <input readonly="readonly" id="namePaciente" type="tel" style="color: black;">
                           <label for="namePaciente" class="active">
                           <i class="material-icons" style="font-size: 15px">phone</i>Nome do Paciente <a class="btn tooltipped btn-floating mb-1 btn-flat waves-effect accent-2 white-text" data-position="right" data-tooltip="Esse campo não pode ser editado." style="border-radius: 100%;width: 7px;height: 7px; background: rgb(184, 182, 182);"></a></label>
                        </div>
                        <div class="input-field col m3 s12">
                           <input id="tel1" type="tel">
                           <label for="tel1">
                           <i class="material-icons" style="font-size: 15px">phone</i>&nbsp;Telefone 1</label>
                        </div>
                        <div class="input-field col m3 s12">
                           <input id="tel2" type="tel">
                           <label for="tel2">
                           <i class="material-icons" style="font-size: 15px">phone</i>&nbsp;Telefone 2</label>
                        </div>
                        <div class="input-field col m3 s12">
                           <input readonly="readonly" style="color: black;" id="doctor" type="text">
                           <label for="doctor" >
                           <i class="material-icons" style="font-size: 15px">person</i>&nbsp;Médico  <a class="btn tooltipped btn-floating mb-1 btn-flat waves-effect accent-2 white-text" data-position="right" data-tooltip="Esse campo não pode ser editado." style="border-radius: 100%;width: 7px;height: 7px; background: rgb(184, 182, 182);"></a></label>
                        </div>
                        <div class="input-field col m3 s12" >
                           <input readonly="readonly" style="color: black;" id="attendance" type="text">
                           <label for="attendance">
                           <i class="material-icons" style="font-size: 15px">person</i>&nbsp;Atendimento  <a class="btn tooltipped btn-floating mb-1 btn-flat waves-effect accent-2 white-text" data-position="right" data-tooltip="Esse campo não pode ser editado." style="border-radius: 100%;width: 7px;height: 7px; background: rgb(184, 182, 182);"></a></label>
                        </div>
                     </div>
                  </div>
               </li>
               <!--CARD 3-->
               <li class="active" style="margin-top: 30px;" >
                  <div class="collapsible-header col s12" style=" justify-content: center; height: 50px; background-color: #581848; color: white;" >
                     <labe style="margin-top: 0.5em; font-size: 20px; font-weight: bold;">ENDEREÇO</labe>
                  </div>
                  <div id="userint" class="row" >
                     <div class="col s12"  style="margin-top: 10px;">
                        <div class="input-field col m3 s12">
                           <input id="zipcode" type="text"  maxlength="9" onblur="pesquisacep(this.value)">
                           <label for="zipcode">
                           <i class="material-icons" style="font-size: 15px">place</i>&nbsp;CEP </label>
                        </div>
                        <div class="input-field col m7 s12">
                           <input id="addres" type="text" >
                           <label for="addres">Logradouro </label>
                        </div>
                        <div class="input-field col m2 s12">
                           <input id="number" type="text" >
                           <label for="number">Número </label>
                        </div>
                     </div>
                     <div class="col s12">
                        <div class="input-field col m3 s12">
                           <input id="complement" type="text" >
                           <label for="complement">Complemento</label>
                        </div>
                        <div class="input-field col m5 s12">
                           <input id="district" type="text" >
                           <label for="district">Bairro</label>
                        </div>
                        <div class="input-field col m2 s12">
                           <input id="city" type="text" >
                           <label for="city">Cidade</label>
                        </div>
                        <div class="input-field col m2 s12">
                           <input id="uf" type="text"  maxlength="2">
                           <label for="uf">UF</label>
                        </div>
                     </div>
                  </div>
               </li>
               <li class="active" style="margin-top: 30px;" >
                  <div class="collapsible-header col s12" style=" justify-content: center; height: 50px; background-color: #581848; color: white;" >
                     <labe style="margin-top: 0.5em; font-size: 20px; font-weight: bold;">OBSERVAÇÕES</labe>
                  </div>
                  <div class="row" >
                     <div class="col s12"  style="margin-top: 10px;">
                        <div class="input-field col m12 s12">
                           <input id="obs" type="text">
                           <label for="obs">
                           <i class="material-icons" style="font-size: 15px">create</i>&nbsp;Observação:</label>
                        </div>
                     </div>
                  </div>
               </li>
               <li id="divMotivo" class="active" style="margin-top: 30px;" >
                  <div class="collapsible-header col m12 s12" style=" justify-content: center; height: 50px; background-color: #581848; color: white;" >
                     <labe style="margin-top: 0.5em; font-size: 20px; font-weight: bold;">MOTIVO</labe>
                  </div>
                  <div class="row" >
                     <div class="col s12"  style="margin-top: 10px;">
                        <div class="input-field col m12 s12">
                           <input id="mStatus" type="text" data-required='true'>
                           <label for="mStatus">
                           <i class="material-icons" style="font-size: 15px">create</i>&nbsp;Motivo:</label>
                        </div>
                     </div>
                  </div>
               </li>
            </ul>
         </div>
         <!--BUTTON-->
         <div class="col s2" ></div>
         <div class="col m8 s12 mt-2 mb-2">
            <a id="btn_conc" onclick="StatusConc(this)" class="btn mb-1 waves-effect waves-light mr-1" type="submit" style="margin-top: 10px; background-color: #76c076da;">Concluir</a>
            <a id="btn_reag"  onclick="ReagendarAge(this)" class="btn mb-1 waves-effect waves-light mr-1" type="submit" style=" margin-top: 10px; background-color: #ddc34eda;">Reagendar</a>
            <a id="btn_frust"  onclick="StatusFrust(this)" class="btn mb-1 waves-effect waves-light mr-1" type="submit" style="margin-top: 10px; background-color: #e97a1fda;">Frustrar</a>
            <a id="btn_canc" onclick="StatusCanc(this)" class="btn mb-1 waves-effect waves-light mr-1" type="submit" style="margin-top: 10px; background-color: #c74d4d;">Cancelar</a>
         </div>
         <div class="col s2" ></div>
      </div>
   </div>
   <div class="modal-footer">
      <!--BUTTON-->
      <div class="col s12 ">
         <div class="col s8"></div>
         <div class="col s4">
            <a href="#!" class=" btn modal-trigger modal-action modal-close waves-effect" style= "border-color: #dcdcdc; position: relative; transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s; color: #212529; background-color: #eee; border-color: #eee; font-size: 0.8rem; font-weight: 500;"><span style="font-size: 16px">VOLTAR</span></a>
         </div>
      </div>
   </div>
</div>
<!--FIM DO MODAL-->
<div class="breadcrumbs-dark pb-0">
   <div class="container">
      <div class="card" id="search_agenda">
         <div class="row">
            <div class="container">
               <div class=" container scroll" >
                  <div class=" col s12 m12" style="overflow-x: auto; padding:40px">
                     <table class=" bordered pagelengthoption">
                        <thead style="background-color: #581848; color: white; font-size: 15px" >
                           <tr>
                              <th data-field="namet">Paciente - [Telefone]</th>
                              <th data-field="nurset">Enfermeira</th>
                              <th data-field="doctort">Horário</th>
                              <th data-field="telt">Exame</th>
                              <th data-field="schedulingt">Data</th>
                              <th data-field="examt">Unidade</th>
                              <th data-field="status">Status</th>
                              <th data-field="actiont" style="text-align: center;">Ação</th> 
                           </tr>
                        </thead>
                        <tbody id="tb_append">
                           {% for k in arr_SearchScheduledPickup%}
                           <tr>
                              <td>{{ k.paciente}} - [{{k.phone}}] </td>
                              <td>{{ k.nurse}}</td>
                              <td>{{ k.hr_age}}</td>
                              <td>{{ k.exame}}</td>
                              <td>{{ k.date_age}}</td>
                              <td>{{ k.unity}}</td>
                              <td>{{ k.status}}</td>
                              <td>
                              <a href="#modal1" class="modal-trigger" data-id_user="{{ k.id }}" onclick="viewAgenModal(this)">
                                    <button class="btn mb-1 waves-effect waves-light ativ" type="submit" name="action" style="margin-left: 5px;width: 15px;padding: 1;padding-right: 8px;background-color: #f5be4600;padding-left: 12px;">
                                       <i class="material-icons right" style="color: #76c076da;">remove_red_eye</i>
                                    </button>
                                 </a>
                                 <!--
                                    <a onclick="remove(this)" class="modal-trigger">
                                 <i class="material-icons" style="color: rgba(221, 56, 56, 0.829); cursor: pointer;" >delete</i>
                                 </a>
                                 -->
                              </td>
                           </tr>
                           {% endfor %}
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>



<link href="{% static 'css/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
<script type = "text/javascript" >
   
   var datatableColetas = $(".pagelengthoption").DataTable({
         "ordering" : true,
         "scrollCollapse" : true,
         "searching" : true,
         "columnDefs" : [{orderable: true, targets: 0 }],
      });
      $(".dropdown-trigger").css("display", "none")

      $(document).ready(function(){ // <<<< execute a seguinte função
         function changeTable() {
            $(".select-wrapper").find("select").hide();
            $(".dataTables_length").css({
                  "width": "60px",
                  "position": "relative",
            })

            showLoadingPage("close");
         }
         setTimeout(showLoadingPage("show"), 500);
         setTimeout(showLoadingPage("show"), 1000);
         setTimeout(changeTable, 200);
      });

   
   
   
   // CEP 
	function pesquisacep(valor) {
		var cep = valor.replace(/\D/g, '');

		if (cep != "") {
			var validacep = /^[0-9]{8}$/;
			if (validacep.test(cep)) {
				var end_addres = $("#addres").val("...");
				var end_district = $("#district").val("...");
				var end_city = $("#city").val("...");
				var end_state = $("#uf").val("...");
				var script = document.createElement('script');

				script.src = 'https://viacep.com.br/ws/' + cep + '/json/?callback=bsccep';
				document.body.appendChild(script);
			} else {
				limocamp();
				alert("Formato de CEP inválido.");
			}
		} else {
			limocamp();
		}
	};

function bsccep(val) {
	if (!("erro" in val)) {
		var end_addres = $("#addres").val(val.logradouro);
		var end_district = $("#district").val(val.bairro);
		var end_city = $("#city").val(val.localidade);
		var end_state = $("#uf").val(val.uf);
	} else {
		limocamp();
		alert("CEP não encontrado no CORREIOS. Entre no site: https://www.correios.com.br/ e pesquise um cep válido.");
	}
}

function limocamp() {
	var end_zipcode = $("#zipcode").val("");
	var end_addres = $("#addres").val("");
	var end_number = $("#number").val("");
	var end_district = $("#district").val("");
	var end_city = $("#city").val("");
	var end_state = $("#uf").val("");
}


$(document).ready(function () {
	$('.modal').modal();
});
$(document).ready(function () {
	$('.modal').modal();
});



//CONFIG MODAL
$(document).ready(function() {
    $('.modal').modal();
    $('.modal').css({
        "width": "80%",
    });
});



//MAP 
function viewAgenModal(object) { //FUNCTION DO ONCLICK
   
	var id_user = $(object).data("id_user"); //objeto usuario que compoe um data-id_user
	//$("#btn_atualizar").data("id_user", id_user); // att status
	var formpost = {
		"csrfmiddlewaretoken": $('input[name="csrfmiddlewaretoken"]').val(),
		"id_user": id_user //DICT COM O VALOR DO ID
	};
   $("#modal2").hide();
     $(object).prop("disabled", true);
	fetchRequest("{% url 'ApiScheduledPickupModal' %}", "POST", "JSON", formpost, function (re) { // A URL É COMPOSTA PELO NAME DE UMA URL
		if (re["response"] == false) {
			alert("Nenhum dado encontrado."); // VERIFICA SE A INFO É VÁLIDA, SE NÃO, MESSAGE
		} else { //SE FOR VERDADEIRA, PROSSEGUE
			$("#modal2").show();
         var key = re["message"]; // NO DECORATOR, A MENSAGEM RETORNA O VALOR DO DICT, NESSE CASO É DECLARADO EM UM DICT: "id_campo" : key[valor-do-grupo][valor-do-key]
			var dictKeys = { // nome id // nome do value
            "statusM": key["obs"]["statusM"],
            "company": key["obs"]["company"],
          // "motivo_S": key["obs"]["motivo_status"],
				"date_age": key["agendamento"]["data_agendamento"],
				"hr_age": key["agendamento"]["hr_agendamento"],
				"tp_service": key["agendamento"]["tipo_servico"],
				"tp_exame": key["agendamento"]["tipo_exame"],
				"tp_conv": key["agendamento"]["convenio"],
				"driver": key["agendamento"]["motoristaNome"],
				"doctor": key["agendamento"]["doctor"],
				"nurse": key["agendamento"]["nurse"], 
				"id": key["agendamento"]["id"],
				"tel1": key["pessoal"]["phone1"],
				"tel2": key["pessoal"]["phone2"],
				"namePaciente": key["pessoal"]["paciente"],
				"attendance": key["pessoal"]["atendimento"],
				"zipcode": key["endereco"]["cep"],
				"addres": key["endereco"]["rua"],
				"number": key["endereco"]["numero"],
				"complement": key["endereco"]["complemento"],
				"district": key["endereco"]["bairro"],
				"city": key["endereco"]["cidade"],
				"uf": key["endereco"]["uf"],
				"cust_alv": key["finance"]["val_alv"],
				"val_w_lab": key["finance"]["val_work"],
				"val_pago": key["finance"]["val_pag"],
				"obs": key["obs"]["obs"], 
				"color_s": key["obs"]["color"],
			}
			$.map(dictKeys, function (n, i) { // map é usado para traduzir ou mapear os elementos de um array para outro conjunto de valores
            $(`#${i}`).val(n); // n simboliza o valor e i simboliza a key
            var findLabel = $(`#${i}`).closest("div"); // essa variavel serve para procurar um valor e atribuir o módulo closest div
            $(findLabel).find("label").attr("class", "active");//serve para encontrar dentro do closest div uma label e atribuir o módulo attr(atributo, valor)
            if(i == "nurse"){//GAMBIARRA PARA INPUTAR O SELECT
               var valueObject = $("#nurse option:selected").text();
               $("input[class='select-dropdown dropdown-trigger']").val(valueObject);
               $('li[class="selected"]').attr("class", "");
               var findObject = $(`span:contains(${valueObject})`).closest("li");
               $(findObject).attr("class", "selected");
            }
			});
         
			//$("#btn_cadastrar").data("id_user", key["id"]); //ATRIBUI UM NOVO VALOR PARA O ID
         $("#btn_conc").data("id", key["agendamento"]["id"]); // AQUI QUE SETA O ID DO PACIENTE NOS BOTÕES
         $("#btn_reag").data("id", key["agendamento"]["id"]); // AQUI QUE SETA O ID DO PACIENTE NOS BOTÕES
         $("#btn_frust").data("id", key["agendamento"]["id"]); // AQUI QUE SETA O ID DO PACIENTE NOS BOTÕES
         $("#btn_canc").data("id", key["agendamento"]["id"]); // AQUI QUE SETA O ID DO PACIENTE NOS BOTÕES
         $("#statusM").css({
            "color": key["obs"]["color"], "font-size": "30px", "border-bottom": "none",

         }); // AQUI QUE SETA O ID DO PACIENTE NOS BOTÕES

         
         ///verifica se está concluído para desabilitar os botoes
         if ($("#statusM").val() != "Pendente") {
            $("#btn_end").hide();
            $("#btn_conc").attr("disabled", true);
            $("#btn_reag").attr("disabled", true);
            $("#btn_canc").attr("disabled", true);
            $("#btn_frust").attr("disabled", true);

         }else{
            $("#btn_end").show();
            $("#btn_conc").attr("disabled", false);
            $("#btn_reag").attr("disabled", false);
            $("#btn_canc").attr("disabled", false);
            $("#btn_frust").attr("disabled", false);
         }
		}

	});
   
}


//FUNCTION CONCLUIR
function StatusConc(e){
   var enfermeira = $("#nurse").val();
   var company = $("#company").val();

   if(enfermeira == "489"){
      alert("Insira a enfermeira que realizou a coleta!")
      return false
   }
   else{
      $("#btn_conc").attr("disabled", true);

      var id = $(e).data("id");
      var convenio = $("tp_conv").val();
      var enfermeira = $("#nurse").val();
      
      var formpost = {
         "csrfmiddlewaretoken": $('input[name="csrfmiddlewaretoken"]').val(),
         "convenio": convenio,
         "id": id,
         "enfermeira": enfermeira,
         "company": company,
      }
      
      fetchRequest("{% url 'ApiStatusAgendaConc' %}", "POST", "JSON", formpost, function(re){ // A URL É COMPOSTA PELO NAME DE UMA URL
         if(re["response"] == "true"){
            $("#btn_conc").attr("disabled", true);
            alert("Agendamento Concluído com sucesso!");// VERIFICA SE A INFO É VÁLIDA, SE NÃO, MESSAGE
            location.reload();
         }
         else{ 
            $("#btn_conc").attr("disabled", false);
         }
      });
   }  
}

//FUNCTION FRUSTAR
function StatusFrust(e){ 
   $("#divMotivo").show();
   //VALIDAÇÃO DE CAMPO NULL
   var i = 0;
   
   $("#divMotivo input[data-required='true']").each(function(){
      if($(this).val() == ""){
         alert("Preencha o obrigatório.");
         $(this).focus();
         i = 1;
         return false;
      }
   });
   if(i == 1){
      return false;
   }


   var id = $(e).data("id");
   var motivo_status = $("#mStatus").val();

   var formpost = {
      "csrfmiddlewaretoken": $('input[name="csrfmiddlewaretoken"]').val(),
      "id": id,
      "motivo_status": motivo_status,
}
   fetchRequest("{% url 'ApiStatusAgendaFrustrado' %}", "POST", "JSON", formpost, function(re){ // A URL É COMPOSTA PELO NAME DE UMA URL
   
      //"true" -> STRING
      //true -> BOOLEAN
      if(re["response"] == "true"){ 
         alert("Agendamento Frustrado com sucesso!");// VERIFICA SE A INFO É VÁLIDA, SE NÃO, MESSAGE
         location.reload();

      } 
   });

}

//FUNCTION CANCELAR
function StatusCanc(e){
   var i = 0;
   $("#divMotivo input[data-required='true']").each(function(){
      if($(this).val() == ""){
         alert("Preencha o obrigatório.");
         $(this).focus();
         i = 1;
         return false;
      }
   });
   if(i == 1){
      return false;
   }


   var id = $(e).data("id");
   var motivo_status = $("#mStatus").val();

   var formpost = {
      "csrfmiddlewaretoken": $('input[name="csrfmiddlewaretoken"]').val(),
      "id": id,
      "motivo_status": motivo_status,

}
   fetchRequest("{% url 'ApiStatusAgendaCancel' %}", "POST", "JSON", formpost, function(re){ // A URL É COMPOSTA PELO NAME DE UMA URL
   
      //"true" -> STRING
      //true -> BOOLEAN
      if(re["response"] == "true"){ 
         alert("Agendamento Cancelado com sucesso!");// VERIFICA SE A INFO É VÁLIDA, SE NÃO, MESSAGE
         location.reload();

      } 
   });
}



//FUNCTION REAGENDAR
function ReagendarAge(e){

   datafim = '2010-01-01'
   if(date_age < datafim){
   alert("Data de agendamento inválida.")
   return false;
   }
   else{

   //VALIDAÇÃO DE CAMPO NULL
   var i = 0;
   
   $("#divMotivo input[data-required='true']").each(function(){
      if($(this).val() == ""){
         alert("Preencha o obrigatório.");
         $(this).focus();
         i = 1;
         return false;
      }
   });
   if(i == 1){
      return false;
   }

   var id = $(e).data("id");
   var data_agendar = $("#date_age").val();
   var hr_age = $("#hr_age").val();
   var tel1 = $("#tel1").val();
   var tel2 = $("#tel2").val();
   var zipcode = $("#zipcode").val();
   var addres = $("#addres").val();
   var number = $("#number").val();
   var complement = $("#complement").val();
   var district = $("#district").val();
   var city = $("#city").val();
   var uf = $("#uf").val();
   var cust_alv = $("#cust_alv").val();
   var obs = $("#obs").val();
   var motivo_status = $("#mStatus").val();
   var nurse = $("#nurse").val();

   var formpost = {
      "csrfmiddlewaretoken": $('input[name="csrfmiddlewaretoken"]').val(),
      "id": id,
      "data_agendar": data_agendar,
      "hr_age": hr_age,
      "tel1": tel1,
      "tel2": tel2,
      "zipcode": zipcode,
      "addres": addres,
      "number": number,
      "complement": complement,
      "district": district,
      "city": city,
      "uf": uf,
      "cust_alv": cust_alv,
      "obs": obs,
      "motivo_status": motivo_status,
      "nurse": nurse,
}

 
   fetchRequest("{% url 'ApiReagendarAgendaConc' %}", "POST", "JSON", formpost, function(re){ // A URL É COMPOSTA PELO NAME DE UMA URL
      //"true" -> STRING
      //true -> BOOLEAN
      if(re["response"] == "true"){ 
         alert(re["message"]);// VERIFICA SE A INFO É VÁLIDA, SE NÃO, MESSAGE
         location.reload();

         }
      else{
         alert(re["message"]);
      }
      });
   }
}


</script>
{% endblock %}