{% extends 'base.html' %}
{% include '_loading.html' %}
{% load static %}
{% block title %}Shiloh | Fechamento de Parceiros{% endblock %}
{% block icon-page %}
metismenu-icon lnr-apartment icon-gradient bg-sunny-morning
{% endblock %} 
{% block title-page %}
Fechamento de Parceiros
{% endblock %}
{% block description-page %}FECHAMENTO DOS PARCEIROS{% endblock %}
{% block content %}

<style type="text/css">
   @media only screen and (max-width: 800ypx){
    .tfoot {
        display: block;
    }
   }

</style>

<!-- INICIO DO MODAL -->
<div id="modal1" class="modal modal-fixed-footer" style="width: 85%; height: 90%;max-height: 85%" >
    <div class="modal-content" id="modal2">
       <div class="card-content">
          <input readonly="readonly" style="color: black; font-size: 30px; border-bottom: none;" id="nome_medico" type="text" >
          <input readonly="readonly" style="color: black; font-size: 15px; border-bottom: none;" id="status_pagamento" type="text" >              
       </div>
       <!--PAGO-->
       <div class="container col s12 m8" style="margin-top:20px">
          <table id="multi-select" class="display dataTable dtr-inline" role="grid" style="width: 762px;">
             <div class="collapsible-header col s12" style=" height: 40px; background-color: #76c076da; color: white;" tabindex="0">
                <labe style="margin-top: 0.2em; font-size: 20px; font-weight: bold;" >PAGO</labe>
             </div>
             <thead>
                <tr role="row">
                   <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 145px;">Nome</th>
                   <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 81px;">Data Coleta</th>
                   <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 89px;">Data Repasse</th>
                   <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 91px;">Exame</th>
                   <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 89px;">Valor</th>
                </tr>
             </thead>
             <tbody id="pago">
             </tbody>
             <tfoot id="Count"></tfoot>
          </table>
       </div>
       <!--EM ANÁLISE-->
       <div class="container col s12 m8" style="margin-top:80px">
          <table id="multi-select" class="display dataTable dtr-inline" role="grid" style="width: 762px;">
             <div class="collapsible-header col s12" style=" height: 40px; background-color: #e97a1fda; color: white;" tabindex="0">
                <labe style="margin-top: 0.2em; font-size: 20px; font-weight: bold;">EM ANÁLISE</labe>
             </div>
             <thead>
                <tr role="row">
                   <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 145px;">Nome</th>
                   <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 81px;">Data Coleta</th>
                   <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 91px;">Exame</th>
                </tr>
             </thead>
             <tbody id="analise">
             </tbody>
          </table>
       </div>
       <!--NÃO ATINGIDO-->
       <div class="container col s12 m8" style="margin-top:80px">
          <table id="multi-select" class="display dataTable dtr-inline" role="grid" style="width: 762px;">
             <div class="collapsible-header col s12" style="  height: 40px; background-color: #c74d4d; color: white;" tabindex="0">
                <labe style="margin-top: 0.2em; font-size: 20px; font-weight: bold;" >NÃO ATINGIDO</labe>
             </div>
             <thead>
                <tr role="row">
                   <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 145px;">Nome</th>
                   <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 81px;">Data Coleta</th>
                   <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 91px;">Exame</th>
                </tr>
             </thead>
             <tbody id="tb_naoAtingido"></tbody>
          </table>
       </div>
       <!--GLOSA-->
       <div class="container col s12 m8" style="margin-top:80px">
          <table id="multi-select" class="display dataTable dtr-inline" role="grid" style="width: 762px;">
             <div class="collapsible-header col s12" style=" height: 40px; background-color: #c74d4d; color: white;" tabindex="0">
                <labe style="margin-top: 0.2em; font-size: 20px; font-weight: bold;">GLOSA</labe>
             </div>
             <thead>
                <tr role="row">
                   <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 145px;">Nome</th>
                   <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 81px;">Data Coleta</th>
                   <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 91px;">Exame</th>
                </tr>
             </thead>
             <tbody id="glosa">
             </tbody>
          </table>
       </div>
       <!--OUTROS-->
       <div class="container col s12 m8" style="margin-top:80px">
          <table id="multi-select" class="display dataTable dtr-inline" role="grid" style="width: 762px;">
             <div class="collapsible-header col s12" style=" height: 40px; background-color: #8e3636; color: white;" tabindex="0">
                <labe style="margin-top: 0.2em; font-size: 20px; font-weight: bold;">OUTROS</labe>
             </div>
             <thead>
                <tr role="row">
                   <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 145px;">Nome</th>
                   <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 81px;">Data Indicação</th>
                   <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 91px;">Status</th>
                </tr>
             </thead>
             <tbody id="outros">
             </tbody>
          </table>
       </div>
      <!--BOTÃO PAGO-->
       <div id="docss" class="col s12 m12" style="display: none; margin-top: 10px ;"></div>
       <div class="col s12">
         <div class="col s3"></div>
         <div class="col s12 m6 mt-2">
            <button id="btn_pay" data-id_user="" onclick="GetFile(this), PartnersPago(this)" class="waves-effect waves dark btn next-step mb-4" type="submit" style="width: 100%; margin-top: 10px; background-color: #76c076da;" value="733">
            <span style="font-weight: bold; color: white; font-family:Verdana, Geneva, Tahoma, sans-serif">PAGO
            </span></button>
         </div>
      </div>
      <!--INPUT FILE-->
      <div class="col s3 m1" style="vertical-align: middle;"> 
      <label for="doc_anx">
      <a class="btn btn-floating pulse" style="background-color: #aaa;">
      <i class="material-icons tooltipped" data-position="right" data-tooltip="Insira a Nota Fiscal">attach_file</i>
      </a>
      </label>
      <input id="doc_anx" type="file" style="display: none;"/>
   </div>
    </div>
    <div class="modal-footer">
       <!--BUTTON-->
       <div class="col s12 ">
          <div class="col s10"></div>
          <div class="col s2">
             <a href="#!" class=" btn modal-trigger modal-action modal-close waves-effect" style="border-color: #dcdcdc; position: relative; transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s; color: #212529; background-color: #eee; border-color: #eee; font-size: 0.8rem; font-weight: 500;"><span style="font-size: 16px">VOLTAR</span></a>
          </div>
       </div>
    </div>
 </div>
 <!--FIM DO MODAL-->

<div class="breadcrumbs-dark pb-0" id="table_filter">
   <div class="row container m-0">
      <div class="col s12 m4">
          <div class="card padding-4 animate fadeLeft">
              <div class="row">
               <div class="col s12 m12">
                      <h5 class="mb-0">Pago</h5>
                      <p class="no-margin">&nbsp;</p>
                      <div class="progress" style="background-color: #ffebee;">
                          <div class="indeterminate" style="background-color: #76c076da!important;"></div>
                      </div>
                      <p class="no-margin">&nbsp;</p>
                     <div class="row">
                        <div class="col s4 m4 left-align">
                            <p class="mb-0 " style="font-size: 16px;">Lab Movel</p>
                        </div>
                        <div class="col s8 m8  right-align">
                            {% for k in arr_LabMovel_Pago %}
                            <h5 id="arr_pago_labmovel" class="mb-0">{{k.valor}}</h5>
                            {% endfor %}
                            <h5 class="mb-0" id="pago_labmovel" style="display:none"></h5>
                        </div>
                     </div>   
                     <div class="row">
                        <div class="col s4 m4 left-align">
                            <p class="mb-0 " style="font-size: 16px;">Shiloh Lab</p>
                        </div>
                        <div class="col s8 m8 right-align">
                            {% for k in arr_ShilohLab_Pago %}
                            <h5 id="arr_pago_shilohlab" class="mb-0">{{k.valor}}</h5>
                            {% endfor %}
                            <h5 class="mb-0" id="pago_shilohlab" style="display:none"></h5>
                        </div>
                     </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col s12 m4">
          <div class="card padding-4 animate fadeLeft">
              <div class="row">
                  <div class="col s12 m12">
                      <h5 class="mb-0">À Pagar</h5>
                      <p class="no-margin">&nbsp;</p>
                      <div class="progress" style="background-color: #ffebee;">
                          <div class="indeterminate" style="background-color:  #ff0303!important;"></div>
                      </div>
                      <p class="no-margin">&nbsp;</p>
                      <div class="row">
                        <div class="col s4 m4 left-align">
                            <p class="mb-0 " style="font-size: 16px;">Lab Movel</p>
                        </div>
                        <div class="col s8 m8  right-align">
                            {% for k in arr_LabMovel_APagar %}
                            <h5 id="arr_apagar_labmovel" class="mb-0">{{k.valor}}</h5>
                            {% endfor %}
                            <h5 class="mb-0" id="apagar_labmovel" style="display:none"></h5>
                        </div>
                     </div>   
                     <div class="row">
                        <div class="col s4 m4 left-align">
                            <p class="mb-0 " style="font-size: 16px;">Shiloh Lab</p>
                        </div>
                        <div class="col s8 m8 right-align">
                            {% for k in arr_ShilohLab_APagar %}
                            <h5 id="arr_apagar_shilohlab" class="mb-0">{{k.valor}}</h5>
                            {% endfor %}
                            <h5 class="mb-0" id="apagar_shilohlab" style="display:none"></h5>
                        </div>
                     </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col s12 m4">
          <div class="card padding-4 animate fadeLeft">
              <div class="row">
               <div class="col s12 m12">
                     <h5 class="mb-0">Total</h5>
                     <p class="no-margin">&nbsp;</p>
                     <div class="progress" style="background-color: #ffebee;">
                        <div class="indeterminate" style="background-color: #00bcd4!important;"></div>
                     </div>
                     <p class="no-margin">&nbsp;</p>
                     <div class="row">
                        <p class="no-margin">&nbsp;</p>
                        <div class="col s4 m4 left-align">
                           {% for k in arr_Total %}
                            <p class="mb-0" id="arr_quantidade_filtro" style="font-size: 16px;">({{ k.qdt}} registros)</p>
                            <p class="mb-0" id="quantidade_filtro" style="font-size: 16px; display: none;">(0 registros)</p>
                        </div>
                        <div class="col s8 m8  right-align">
                           <h4 class="mb-0" id="arr_total_filtro" >{{k.val}}</h4>
                           <h4 class="mb-0" id="total_filtro" style="display: none;">R$ 00,00</h4>
                        </div>
                        {% endfor %}
                     </div>
               </div>
              </div>
          </div>
      </div>
   </div>
   <div class="container">
      <!-- Externo -->
      <div id="userint" class="row">
         <div class="col s12 s12 card">
            <div class="row" style="margin-top: 30px; margin-bottom: 30px;">
               <div class="input-field col s12 m4">
                  <input  id="cpf" type="text" onkeyup="searchPatients(this)">
                  <label for="cpf">
                  <i class="material-icons" style="font-size: 15px">person</i>&nbsp;Buscar... </label>
               </div>
               <div class="input-field col s12 m4">
                  <label class="active" for="select">Selecione um mês</label>
                  <select name="select" id="mes_search" class="error">
                     <option value="">Selecione</option>
                     <option value="01">Janeiro</option>
                     <option value="02">Fevereiro</option>
                     <option value="03">Março</option>
                     <option value="04">Abril</option>
                     <option value="05">Maio</option>
                     <option value="06">Junho</option>
                     <option value="07">Julho</option>
                     <option value="08">Agosto</option>
                     <option value="09">Setembro</option>
                     <option value="10">Outubro</option>
                     <option value="11">Novembro</option>
                     <option value="12">Dezembro</option>
                  </select>
               </div>
               <div class="col s12 m3">&nbsp;
                  <button id="pesq_agenda" class="waves-effect waves dark btn next-step" type="button" style="width: 100%;">
                  <span style="font-weight: bold; color: white; font-family:Verdana, Geneva, Tahoma, sans-serif">Pesquisar</span>
                  </button>
               </div>
            </div>
            <div class="row">
               <div class="container">
                  <div class="container">
                  <!-- COMEÇO DA TABLE -->
                  <div class="col s12 scroll mb-3">
                     <table id="page-length-option" class="bordered" style="overflow-x: auto">
                        <thead style="background-color: #581848; color: white; font-size: 15px">
                           <tr>
                              <th data-field="id" style="text-align: center;">Nome [NC]</th>
                              <th data-field="id" style="text-align: center;">Categoria</th>
                              <th data-field="id" style="text-align: center;">Comercial</th>
                              <th data-field="id" style="text-align: center;">Relação</th>
                              <th data-field="id" style="text-align: center;">Status</th>
                              <th data-field="id" style="text-align: center; width: 130px;">Valor Total</th>
                              <th data-field="name" style="text-align: center; width: 130px;">Ação</th>
                           </tr>
                        </thead>
                        <tbody id="tb_appendTable">
                           {% for k in arr_SearchClosingPartners %}
                           <tr id="tr_{{ k.id }}">
                              <td style="text-align: center;">{{ k.medico }} [{{ k.rn }}] </td>
                              <td style="text-align: center;">{{ k.categoria}}</td>
                              <td style="text-align: center;">{{ k.comercial}}</td>
                              <td style="text-align: center;">{{ k.company}}</td>
                              <td style="text-align: center;">{{ k.status}}</td>
                              <td style="text-align: center;">{{ k.valor}}</td>
                              <td style="text-align: center;">
                                 <a href="#modal1" class="modal-trigger" data-id_user="{{ k.id }}" onclick="viewAgenModal(this); SearchInfo(this)" style="background-color: #f5be4600">
                                    <button class="btn mb-1 waves-effect waves-light ativ" type="submit" name="action" style="margin-left: 5px; width: 15px;padding: 1;padding-right: 8px; background-color: #f5be4600;">
                                       <i class="material-icons right" style="color: #76c076da;">remove_red_eye</i>
                                   </button>
                                 </a>
                              </td>
                           </tr>
                           {% endfor %}
                        </tbody>
                     </table>
                  </div>
                  <!-- FIM DA TABLE -->
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<link rel="stylesheet" type="text/css" href="https://jeremyfagis.github.io/dropify/dist/css/dropify.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://jeremyfagis.github.io/dropify/dist/js/dropify.min.js"></script>
<script type="text/javascript" src="/app-assets/js/jquery.mask.js"></script>
<script type = "text/javascript" >

   //FUNCTION BUSCAR
   function searchPatients(object) {
      var e = $(object).val().toUpperCase();
      if (e == "") {
         $('#tb_appendTable > tr').each(function () {
            $(this).show();
         });
      } else {
         $('#tb_appendTable > tr').each(function () {
            var trs = $(this).find("td");
            var tr1 = $(trs[0]).text().toUpperCase();
            var check = (tr1.indexOf(e) != -1);
            if (check == true) {
               $(this).show();
            } else {
               $(this).hide();
            }
         });
      }
   }

//CONFIG MODAL
$(document).ready(function () {
   $('.modal').modal();
   $('.modal').css({
      "width": "80%",
   });
});


function searchMonth(){
   //VALIDAÇÃO DE CAMPO
   var month = $("#mes_search").val();
   if (month == "") {
      alert("Selecione um mês válido")
      return false
   }
   $("#table_filter").hide()
   showLoadingPage("show");

   var formpost = {
      "csrfmiddlewaretoken": $('input[name="csrfmiddlewaretoken"]').val(),
      "month": month //DICT COM O VALOR DO ID
   };
   fetchRequest("{% url 'SearchMonthClosingPartners' %}", "POST", "JSON", formpost, function (re) { //FUNÇÃO FILTRAR MES
      showLoadingPage("close");
      $("#table_filter").show()

      var dados = re["table"]
      if (dados == false){

         $("#pago_labmovel, #pago_shilohlab, #apagar_labmovel, #apagar_shilohlab, #quantidade_filtro, #total_filtro").css("display", "block");
         $("#arr_pago_labmovel, #arr_pago_shilohlab, #arr_apagar_labmovel, #arr_apagar_shilohlab, #arr_quantidade_filtro, #arr_total_filtro").hide();
         $("#pago_labmovel, #pago_shilohlab, #apagar_labmovel, #apagar_shilohlab, #quantidade_filtro, #total_filtro, #tb_appendTable").html("");

         var appende = ' <tr> <td colspan="7" style="text-align: center; background: #ededeb">Nenhum Registro Encontrado</td> </tr>'
         $("#tb_appendTable").append(appende);
      
         var pago_labmovel = `<h5 class="mb-0">R$ 00,00</h5>`
         $("#pago_labmovel").append(pago_labmovel);
         
         var pago_shilohlab = `<h5 class="mb-0">R$ 00,00</h5>`
         $("#pago_shilohlab").append(pago_shilohlab);

         var apagar_labmovel = `<h5 class="mb-0">R$ 00,00</h5>`
         $("#apagar_labmovel").append(apagar_labmovel);
         
         var apagar_shilohlab = `<h5 class="mb-0">R$ 00,00</h5>`
         $("#apagar_shilohlab").append(apagar_shilohlab);

         var b = `<h4 class="mb-0">R$ 00,00</h4>`;
         $("#total_filtro").append(b);

         var b2 = `<p>(0 registros)</p>`;
         $("#quantidade_filtro").append(b2);  
      }
      else{
         //TABELA
         var dados = re["table"];
         $("#tb_appendTable").html("");
         $.map(dados, function (n, i) {
            var a = `
               <tr id="tr_${n.id}">
                  <td style="text-align: center;">${n.medico} [${n.rn}] </td>
                  <td style="text-align: center;">${n.categoria}</td>
                  <td style="text-align: center;">${n.comercial}</td>
                  <td style="text-align: center;">${n.company}</td>
                  <td style="text-align: center;">${n.status}</td>
                  <td style="text-align: center;">${n.valor}</td>
                  <td style="text-align: center;">
                        <a href="#modal1" class="modal-trigger" data-id_user="${n.id}" onclick=\"viewAgenModal(this); SearchInfo(this)\" style="background-color: #f5be4600">
                           <button class="btn mb-1 waves-effect waves-light ativ" type="submit" name="action" style="margin-left: 5px; width: 15px;padding: 1;padding-right: 8px; background-color: #f5be4600;">
                              <i class="material-icons right" style="color: #76c076da;">remove_red_eye</i>
                           </button>
                        </a>
                  </td>
               </tr>
               `;
            $("#tb_appendTable").append(a);
                  
            // DASH PAGO
               // Lab Movel
            var dados = re["PagoLabMovel"];
            $("#pago_labmovel").html("");
            $("#pago_labmovel").css("display", "block");
            $("#arr_pago_labmovel").hide();

            $.map(dados, function (n, i) {
               var valor = `<h5 class="mb-0">${n.valor}</h5>`
               $("#pago_labmovel").append(valor);

            });
            
            // Shiloh Lab
            var dados = re["PagoLabShilohLab"];
            $("#pago_shilohlab").html("");
            $("#pago_shilohlab").css("display", "block");
            $("#arr_pago_shilohlab").hide();

            $.map(dados, function (n, i) {
               var valor = `<h5 class="mb-0">${n.valor}</h5>`
               $("#pago_shilohlab").append(valor);

            });

            // DASH A PAGAR
               // Lab Movel
            var dados = re["APagarLabMovel"];
            $("#apagar_labmovel").html("");
            $("#apagar_labmovel").css("display", "block");
            $("#arr_apagar_labmovel").hide();

            $.map(dados, function (n, i) {
               var valor = `<h5 class="mb-0">${n.valor}</h5>`
               $("#apagar_labmovel").append(valor);

            });

            // Shiloh Lab
            var dados = re["APagarShilohLab"];
            $("#apagar_shilohlab").html("");
            $("#apagar_shilohlab").css("display", "block");
            $("#arr_apagar_shilohlab").hide();

            $.map(dados, function (n, i) {
               var valor = `<h5 class="mb-0">${n.valor}</h5>`
               $("#apagar_shilohlab").append(valor);
            });

            //TOTAL
              var dados = re["Total"];
            $("#quantidade_filtro, #total_filtro").html("");
            $("#quantidade_filtro, #total_filtro").css("display", "block");
            $("#arr_quantidade_filtro, #arr_total_filtro").hide();

            $.map(dados, function (n, i) {
               var quantidade = `<p class="mb-0" style="font-size: 16px;">(${n.qdt} registros)</p>`
               $("#quantidade_filtro").append(quantidade);

               var valor = `<h4 class="mb-0">${n.val}</h4>`
               $("#total_filtro").append(valor);
            });
         });
      }
   });
}



$("#pesq_agenda").click(function () {
   searchMonth();
});

class request {
   constructor(token) {
      this.token = token;
   }
   body(to, method, typeMethod, formdata, sucess) {
      $.ajax({
         url: to + "?csrfmiddlewaretoken=" + this.token,
         type: method,
         dataType: typeMethod,
         data: JSON.stringify(formdata),
         success: function (response) {
            sucess(response);
         },
         error: function (request, status, error) {
            sucess(error);
         }
      });
   }
   put(to, formdata, sucess) {
      $.ajax({
         url: to,
         type: "PUT",
         dataType: "JSON",
         headers: {
            'X-CSRFToken': this.token
         },
         mode: 'same-origin',
         data: formdata,
         success: function (response) {
            sucess(response);
         },
         error: function (request, status, error) {
            sucess(error);
         }
      });
   }
   get(to, formdata, sucess) {
      $.ajax({
         url: to,
         type: "GET",
         dataType: "JSON",
         headers: {
            'X-CSRFToken': this.token
         },
         mode: 'same-origin',
         data: formdata,
         success: function (response) {
            sucess(response);
         },
         error: function (request, status, error) {
            sucess(error);
         }
      });
   }
   post(to, formdata, sucess) {
      $.ajax({
         url: to,
         type: "POST",
         dataType: "JSON",
         headers: {
            'X-CSRFToken': this.token
         },
         mode: 'same-origin',
         data: formdata,
         success: function (response) {
            sucess(response);
         },
         error: function (request, status, error) {
            sucess(error);
         }
      });
   }
   delete(to, formdata, sucess) {
      $.ajax({
         url: to,
         type: "DELETE",
         dataType: "JSON",
         headers: {
            'X-CSRFToken': this.token
         },
         mode: 'same-origin',
         data: formdata,
         success: function (response) {
            sucess(response);
         },
         error: function (request, status, error) {
            sucess(error);
         }
      });
   }
}

//REMOVE O FILE 
function removeFile(object) {
   var id_partners = $(object).data("id_partners");
   var name_file = $(object).data("name");
   var type_file = $(object).data("type");

   var formpost = {
      "csrfmiddlewaretoken": $('input[name="csrfmiddlewaretoken"]').val(),
      "name_file": name_file,
      "type_file": type_file,
      "id_partners": id_partners
   };

   fetchRequest("{% url 'RemoveFilePartners' %}", "POST", "JSON", formpost, function (re) { // A URL É COMPOSTA PELO NAME DE UMA URL
      if (re["response"] == "true") {
         alert(re["message"]);
         $(object).closest(".closests").remove();
      }
   });
}


//VISUALIZA O APPEND
function viewFile(object) {
   var path = $(object).data("path");
   var filename = $(object).data("name");
   var a = document.createElement("a");

   a.href = "/docs/" + path;
   a.download = filename;
   document.body.appendChild(a);
   a.click();
}

 
function viewAgenModal(object) {
   var id_user = $(object).data("id_user");

   var month = $("#mes_search").val();

   var formpost = {
      "csrfmiddlewaretoken": $('input[name="csrfmiddlewaretoken"]').val(),
      "id_user": id_user,
      "month": month,
   };
   $("#modal2").hide(); 
   $(object).prop("disabled", true);
   
   fetchRequest("{% url 'paymentDetails' %}", "POST", "JSON", formpost, function (re) { //FUNÇÃO FILTRAR MES
      if (re["response"] == false) {
         alert("Nenhum dado encontrado."); // VERIFICA SE A INFO É VÁLIDA, SE NÃO, MESSAGE
      
      } else { 
         $("#modal2").show();
         var dados = re["message2"];
         $("#tb_naoAtingido").html("");
         $.map(dados, function (n, i) {
            var a = `
                <tr id="tr_${n.id}" role="row" class="odd">
                    <td>${n.paciente}</td>
                    <td>${n.agendamento}</td>
                    <td>${n.exame}</td>
                </tr>
            `;
            $("#tb_naoAtingido").append(a);
         });

         var dados = re["message"];
         $("#glosa").html("");
         $.map(dados, function (n, i) {
            var a = `
                <tr id="tr_${n.id}" role="row" class="odd">
                    <td>${n.pacienteG}</td>
                    <td>${n.agendamentoG}</td>
                    <td>${n.exameG}</td>
                </tr>
            `;
            $("#glosa").append(a);
         });


         var dados = re["messageAnalise"];
         $("#analise").html("");
         $.map(dados, function (n, i) {
            var a = `
                <tr id="tr_${n.id}" role="row" class="odd">
                    <td>${n.pacienteA}</td>
                    <td>${n.agendamentoA}</td>
                    <td>${n.exameA}</td>
                </tr>
            `;
            $("#analise").append(a);
         });


         var dados = re["messagePago"];
         $("#pago").html("");
         $.map(dados, function (n, i) {
            var a = `
                <tr id="tr_${n.idP}" role="row" class="odd">
                    <td>${n.pacienteP}</td>
                    <td>${n.dataColetaP}</td>
                    <td>${n.dataRepasseP}</td>
                    <td>${n.exameP}</td>
                    <td>${n.valor_uniP}</td>
                </tr>
            `;
            $("#pago").append(a);
         });

         var dados = re["messageOutros"];
         $("#outros").html("");
         $.map(dados, function (n, i) {
            var a = `
                <tr id="tr_${n.idlead}" role="row" class="odd">
                    <td>${n.pacienteO}</td>
                    <td>${n.indicacaoO}</td>
                    <td>${n.statusO}</td>
                </tr>
            `;
            $("#outros").append(a);
         });


         var dados = re["messageCount"];
         $("#Count").html("");
         $.map(dados, function (n, i) {
            var a = `
                <tr id="tr_${n.id}">
                    <th rowspan="1" colspan="1"> TOTAL: </th>
                    <th rowspan="1" colspan="1"></th>
                    <th rowspan="1" colspan="1"></th>
                    <th rowspan="1" colspan="1"></th>
                    <th rowspan="1" colspan="1">${n.valor}</th>
                </tr>
            `;
            $("#Count").append(a);
         });


      }

   });

   var r = new request($('{% csrf_token %}').val());
   r.get("{% url 'FetchPartnersFiles' %}", formpost, function (re) {
      if (re["response"] == true) {
         var dados = re["message"];
         var docs = dados["docs"];
         div = ""
         div2 = ""

         if (docs.length > 0) {
            $.map(docs, function (n, i) {
               $("#docss").css("display", "block");
               div += ` 
                        <div class="container closests col s5 m4" for="preview" style="width:200px;  margin:0" data-down="${n.path}">
                            <div id="preview" class="dropify-wrapper has-preview" style="height: 114px;">
                                <div class="dropify-errors-container">
                                </div>
                                <button type="button" class="dropify-clear" onclick=\"removeFile(this)\" data-type="${n.type}"  data-name="${n.name}" data-id_partners="${id_user}" data-path="${n.path}">Remover</button>
                                <div id="display" class="dropify-preview" style="display: block;">
                                    <span class="dropify-render"><i class="dropify-font-file"></i><span class="dropify-extension">NF</span></span>
                                    <div class="dropify-infos" onclick=\"viewFile(this)\" data-type="${n.type}"  data-name="${n.name}" data-id_partners="${id_user}" data-path="${n.path}">
                                        <div class="dropify-infos-inner">
                                            </br>
                                            <p class="dropify-filename"><span class="file-icon"></span> <span class="dropify-filename-inner">${n.name}</span></p>
                                            <p class="dropify-filename"><span class="file-icon"></span> <span class="dropify-filename-inner">${n.type}</span></p>
                                            <p class="dropify-infos-message" style="margin-top: 0px;padding-top: 0px;">Download</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    `
            });

            $("#docss").html(div);

         } else {
            $("#docss").css("display", "none");
         }
      }

   });

}

//PAGO
function PartnersPago(object) {
   var id_user = $(object).data("id_user");
   var formpost = {
      "csrfmiddlewaretoken": $('input[name="csrfmiddlewaretoken"]').val(),
      "id_user": id_user, //DICT COM O VALOR DO ID

   };
   fetchRequest("{% url 'payPartnersV' %}", "POST", "JSON", formpost, function (re) {
      if (re["response"] == "true") {
         $("#btn_end").attr("disabled", true);
      }
   });
}

//INFOS DO MODAL  (NOME/STATUS)
function SearchInfo(object) { //FUNCTION DO ONCLICK
   var id_user = $(object).data("id_user");
   var formpost = {
      "csrfmiddlewaretoken": $('input[name="csrfmiddlewaretoken"]').val(),
      "id_user": id_user //DICT COM O VALOR DO ID
   };

   fetchRequest("{% url 'SearchInfoM' %}", "POST", "JSON", formpost, function (re) { // A URL É COMPOSTA PELO NAME DE UMA URL
      if (re["response"] == false) {
         alert("Nenhum dado encontrado."); // VERIFICA SE A INFO É VÁLIDA, SE NÃO, MESSAGE
      } else { //SE FOR VERDADDEIRA, PROSSEGUE
         $("#modal2").show();
         var key = re["message"];
         var dictKeys = { // nome id / nome do grupo/ nome do value
            "btn_pay": key["teste"]["btn_pay"],
            "nome_medico": key["teste"]["nome_medico"],
            "status_pagamento": key["teste"]["status_pagamento"],
            "valorTotal": key["teste"]["val"],

         }
         $.map(dictKeys, function (n, i) { // map é usado para traduzir ou mapear os elementos de um array para outro conjunto de valores
            $(`#${i}`).val(n);
            var findLabel = $(`#${i}`).closest("div");
            $(findLabel).find("label").attr("class", "active");
         });

         $("#btn_pay").data("id_user", id_user); //PEGA O ID DO PACIENTE

      }
   });

}


// ------------------------  DOCS  --------------------------------//
   $('.dropify').dropify(); //Ativar o dropify

   $(document).ready(function(){ // tooltip
      $('.tooltipped').tooltip();
   });

function GetFile(object) {
   var id_partners = $(object).data("id_user");
   var month = $("#mes_search").val();

   var files = $("#doc_anx").val();


   if (files == "" || ($("#doc_anx").prop("files") == undefined)) {
      alert("Por favor, insira a Nota Fiscal para esse mês.")
   } else {

      files = document.querySelector("#doc_anx").files[0]; // seleciona o doc e manda para o back

      var Csrftoken = $('input[name="csrfmiddlewaretoken"]').val();
      var formpost = [{
            "name": "csrfmiddlewaretoken",
            "value": $('input[name="csrfmiddlewaretoken"]').val()
         },
         {
            "name": "file",
            "value": files
         },
         {
            "name": "id_partners",
            "value": id_partners
         },
         {
            "name": "month",
            "value": month
         },
      ];

      fetchRequestFiles("{% url 'ApiNfPartners' %}", "POST", "JSON", formpost, function (re) {
         if (re["response"] == false) {
            alert("Nenhum dado encontrado.");
         } else {
            alert(re["message"]);
            location.reload();
         }
      });
   }

   //verificação para preencher o tipo do arquivo.


}
</script>
{% endblock %}